// 顏色
$darkRed:#d80e5b;
$lightRed:#FF6666;
$purpleBlue:#3355a1;
$darkBlue:#095aa6;
$lightBlue:#3377b7;
$btnHoverBlue: #CAE8FA;
$darkGrey:#898989;
$midGrey:#dedede;
$lightGrey:#e8e8e8;
$lightOrange:#f57f23;
$lightGreen:#5BF01A;