@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }

ol, ul { list-style: none; }

caption, th { text-align: left; }

/*h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}*/
q:before, q:after { content: ''; }

abbr, acronym { border: 0; }

html, body { height: 100%; }

input { background: transparent; border: none; }

input:focus, input:focus { outline: none !important; }

body { background: #f9fbf7; font-family: '微軟正黑體',arial; font-size: 12px; }

a { outline: none; hlbr: expression(this.onFocus=this.blur()); text-decoration: none; }

.clear { clear: both; }

img { vertical-align: top; }

html { -webkit-text-size-adjust: 100%; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.w__200 { min-width: 200px; }

.w__360 { min-width: 360px; }

.Error_box.s1 { display: none; }

.Error_box.s2 { display: none; }

.Advisory_box.s3 { display: none; }

.Loan_plan_box .s4 { display: none; }

.text_green_r_btn { color: #00994e; font-size: 15px; line-height: 20px; text-decoration: underline; }

.ErrorContent { font-size: 13px; line-height: 16px; font-weight: normal; font-family: "微軟正黑體"; color: #ff6c00; padding-left: 155px; }

.Loan_plan_box { display: none; }
.Loan_plan_box .Loan_plan_text { font-size: 15px; line-height: 20px; font-weight: normal; font-family: "微軟正黑體"; color: #626262; }
.Loan_plan_box .title_text { font-size: 20px; line-height: 35px; font-weight: 600; font-family: "微軟正黑體"; color: #008852; text-align: center; margin: 10px 0; }
.Loan_plan_box table.table_box { width: 360px; margin: 0 auto 0; border: 1px solid #e0e0e0; }
.Loan_plan_box table.table_box td.table_tit { background: #ebf5ec; font-size: 16px; line-height: 30px; font-weight: normal; font-family: "微軟正黑體"; color: #626262; padding: 5px 10px; text-align: left; }
.Loan_plan_box table.table_box td.table_text { background: #fff; font-size: 18px; line-height: 30px; font-weight: normal; font-family: "微軟正黑體"; color: #ff6c00; padding: 5px 10px; text-align: right; }
.Loan_plan_box table.table_box td.table_text span { font-weight: bolder; font-size: 18px; padding-right: 5px; font-family: arial; }

.Form_box { display: none; }
.Form_box .box_title_detailed { border-top: 1px solid #e0e0e0; margin: 30px 0 10px; font-size: 14px; line-height: 40px; font-weight: normal; font-family: "微軟正黑體"; color: #979896; }

.Error_box { width: 100%; margin-top: 5px; }
.Error_box .box_erroe_text { border: 3px solid #008852; border-radius: 5px; position: relative; background: #d8ebd8; height: 110px; }
.Error_box .box_erroe_text .people_icon { position: absolute; left: 20px; bottom: 0; }
.Error_box .box_erroe_text .text { padding-top: 30px; padding-left: 120px; font-size: 16px; line-height: 25px; font-weight: normal; font-family: "微軟正黑體"; color: #626262; }

.Advisory_box { width: 100%; text-align: center; padding: 0 0 200px; }
.Advisory_box img.complet_img { text-align: center; border: 0; margin: 20px 0 10px; }
.Advisory_box .complet_tit { font-size: 24px; line-height: 35px; font-weight: 600; font-family: "微軟正黑體"; color: #008852; }
.Advisory_box .complet_tit2 { font-size: 15px; line-height: 30px; font-weight: normal; font-family: "微軟正黑體"; color: #626262; margin-bottom: 20px; }

.form_style div.selector.disabled { background-position: 0 -650px; color: #000; border: 1px solid #c0c0c0; }

.form_style div.selector span.disabled { background-position: right -250px; }

.form_style input.uniform-input:disabled { background: #eeeeee; color: #a9a9a9; }

.announce_text p { font-size: 14px; line-height: 20px; font-weight: 600; font-family: "微軟正黑體"; color: #979896; }

.text_money { font-size: 15px; line-height: 20px; font-weight: 600; font-family: "微軟正黑體"; color: #626262; margin-bottom: 10px; }
.text_money .red_must { text-align: right; float: right; color: #979896; }
.text_money .red_must span { color: #ff0000; }

.text_red { color: #ff0000; }

table th.text_left_tit { text-align: left; }

table th { border: 1px solid #fffdfd; }

.form_style div.selector, .form-style div.selector { width: 100% !important; }

.form_style div.selector span, .form-style div.selector span { width: auto !important; }

.form-steps { display: block; width: 100%; position: relative; margin: 15px 0 30px; }
.form-steps:after { content: ""; display: table; clear: both; }
.form-steps__item { padding: 0; position: relative; display: block; float: left; width: 33.33%; text-align: center; }
.form-steps__item-content { display: inline-block; }
.form-steps__item-icon { background: #e0e0e0; color: #00994e; display: block; border-radius: 100%; text-align: center; width: 35px; height: 35px; line-height: 30px; margin: 0 auto 10px auto; position: relative; font-size: 14px; font-weight: 700; z-index: 2; }
.form-steps__item-text { font-size: 14px; color: #979896; font-weight: 500; }
.form-steps__item-line { display: inline-block; height: 2px; width: 100%; background: #cfd8dc; float: left; position: absolute; left: -50%; top: 16.5px; z-index: 1; }
.form-steps__item--active .form-steps__item-icon { background: #e0e0e0; color: #00994e; border: 3px solid #00994e; }
.form-steps__item--active .form-steps__item-icon.active_on { background: #00994e; }
.form-steps__item--active .form-steps__item-text { color: #00994e; font-weight: 600; }
.form-steps__item--active .form-steps__item-line { background: #00994e; }

.Newsletter_box { border: 3px solid #008852; border-radius: 5px; background: #d8ebd8; min-height: 200px; margin-bottom: 20px; padding: 20px; display: none; }
.Newsletter_box .Newsletter__input_box { display: block; margin-bottom: 5px; font-size: 16px; line-height: 30px; font-weight: 600; font-family: "微軟正黑體"; color: #313131; }
.Newsletter_box .Newsletter__input_box .tit { display: inline-block; }
.Newsletter_box .Newsletter__input_box .text { display: inline-block; }
.Newsletter_box .Newsletter__input_box .text input { width: 200px; text-align: left; background: #fff; line-height: 30px; border: 1px solid #c1c1c1; }
.Newsletter_box .Newsletter__input_box .text img.ime_icon { vertical-align: middle; padding: 0 5px; }
.Newsletter_box .Newsletter__input_box .text .time { display: inline-block; color: #ff0000; font-weight: 600; }
.Newsletter_box .Newsletter__input_box .text .btn_btn { border: 1px solid #ccc; background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(80%, #e6e6e6)); background: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 80%); background: -o-linear-gradient(top, #ffffff 0%, #e6e6e6 80%); background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 80%); background-color: #fff; font-size: 15px; line-height: 30px; font-weight: 600; font-family: "微軟正黑體"; color: #004a2f; margin: 0 10px; text-decoration: none; vertical-align: middle; }
.Newsletter_box .text_notice { font-size: 15px; line-height: 20px; font-weight: 600; font-family: "微軟正黑體"; color: #626262; }
.Newsletter_box .text_notice span { color: #f06601; }

.code_num { display: inline-block; }

.buttons-group { text-align: center; margin: 20px 0; }
.buttons-group .btn_btn { border: 1px solid #ccc; background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(80%, #e6e6e6)); background: -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 80%); background: -o-linear-gradient(top, #ffffff 0%, #e6e6e6 80%); background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 80%); background-color: #fff; font-size: 15px; line-height: 30px; font-weight: 600; font-family: "微軟正黑體"; color: #004a2f; margin: 0 10px; text-decoration: none; vertical-align: middle; }
.buttons-group .btn_btn:hover { opacity: 0.9; }
.buttons-group .btn_important_btn { border: 1px solid #ff651b; background: -webkit-gradient(linear, left top, left bottom, from(#ff9445), color-stop(80%, #f06601)); background: -webkit-linear-gradient(top, #ff9445 0%, #f06601 80%); background: -o-linear-gradient(top, #ff9445 0%, #f06601 80%); background: linear-gradient(to bottom, #ff9445 0%, #f06601 80%); background-color: #f87d23; font-size: 15px; line-height: 30px; font-weight: 600; font-family: "微軟正黑體"; color: #fff; margin: 0 10px; text-decoration: none; vertical-align: middle; }
.buttons-group .btn_important_btn:hover { opacity: 0.9; }

.amount_box { position: relative; width: 100%; height: auto; float: left; left: 0; right: 0; top: 0; bottom: 0; margin: 0; margin-bottom: 15px; }
.amount_box .amount_text { font-size: 15px; line-height: 30px; font-weight: 600; font-family: "微軟正黑體"; color: #626262; display: inline-block; }
.amount_box .amount_text_equired { font-size: 15px; line-height: 30px; font-weight: 600; font-family: "微軟正黑體"; color: #626262; display: inline-block; float: right; }
.amount_box .amount_text_equired span { color: #ff0000; }

.table_form_box { border: 1px solid #e0e0e0; position: relative; width: 100%; height: auto; float: left; left: 0; right: 0; top: 0; bottom: 0; margin: 0; }
.table_form_box .td_input-item { width: 200px; background: #e0e0e0; }
.table_form_box .td_input-item .input-item { font-size: 16px; line-height: 20px; font-weight: 600; font-family: "微軟正黑體"; color: #313131; padding: 15px 15px; border-bottom: 1px solid #fff; }
.table_form_box .td_input-item .input-item span { color: #ff0000; }
.table_form_box .td_input-item .input-item.input_last-child { border-bottom: none; }
.table_form_box .td_input-field { vertical-align: middle; padding-left: 20px; border-bottom: 1px solid #e0e0e0; }
.table_form_box .td_input-field select { -webkit-appearance: none; -moz-appearance: none; appearance: none; border: 1px solid #c1c1c1; background: url(../img/loan/select.png) no-repeat #fff right; padding: 6px; min-width: 200px; }
.table_form_box .td_input-field select.min_w360 { min-width: 360px; }
.table_form_box .td_input-field img { vertical-align: middle; }


