/* # iOS button
================================================== */
#ios-button , #ios-logout{
    cursor:pointer;
    display : block; 
    position:absolute;
    z-index : 0;
    right:55px;
    top:3px;    
    height:30px;
    width:auto;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
                0 1px 2px rgba(0,0,0,0.8)inset;
    font-weight: 400;
    font-size : 12px;
    line-height : 30px;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
	background:url(../images/btn-app.png) repeat-x; 
}

#ios-logout {
    right:6px;
}

#ios-arrow-left {
    cursor:pointer;
    display : block; 
    position:absolute;
    z-index : 0;
    left:10px;
    top:3px;    
    height:30px;
    width:auto;
    padding: 0 10px 0 6px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
                0 1px 2px rgba(0,0,0,0.8)inset;
    font-weight: 400;
    font-size : 12px;
    line-height : 30px;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
	background:url(../images/btn-app.png) repeat-x; 
}

#ios-arrow-left:before{
    position:absolute;
    content : ' ';
    left:-10px;
    top:0px;
    height : 30px;
    width: 17px;
    z-index : 1;
	background:url(../images/btn-app-left.png) no-repeat; 
}

#ios-arrow-right {
    cursor:pointer;
    display : block; 
    position:absolute;
    z-index : 0;
    right:10px;
    top:3px;    
    height:30px;
    width:auto;
    padding: 0 6px 0 10px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
                0 1px 2px rgba(0,0,0,0.8)inset;
    font-family : HelveticaNeue;
    font-weight: 400;
    font-size : 12px;
    line-height : 30px;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);
	background:url(../images/btn-app.png) repeat-x; 
}

#ios-arrow-right:after{
    position:absolute;
    content : ' ';
    right:-10px;
    top:0px;
    height : 30px;
    width: 17px;
    z-index : 1;
	background:url(../images/btn-app-right.png) no-repeat; 
}
