@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(../../Font/googleFonts_20130422.woff)
  format('woff');
}

/* # Graphic UI
================================================== */

/*=== Account accordions ===*/
#accountList{ position: relative; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); border:#dfdfdf 1px solid;}
#accountList .toggler{ 
    cursor:pointer;
    background: #fafafa;
    background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%);
    background: linear-gradient(top, #ffffff 0%,#efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); 
    display: block;
    color: #333; 
    border-bottom: 1px solid #ddd; 
    border-top: 1px solid #fdfdfd; 
	position: relative; 
	padding: 12px;
}
.totalSection{ 
    background: #7F7F7F;
    display: block;
	position: relative; 
	padding: 18px 12px;
}
#accountList .toggler:hover{ background: #efefef; box-shadow: 0 0 3px #ffffff inset; -webkit-box-shadow: 0 0 3px #ffffff inset; -moz-box-shadow: 0 0 3px #ffffff inset; }
#accountList .toggler div.submenuIcon{ position:relative; padding: 20px 20px 12px 0; float:right; }
#accountList .toggler div.submenuIcon img{ max-width: 80%;}
#accountList .toggler div.submenuTitle{ position:relative; padding: 0 0 0 0; float:left; }
#accountList .container, .bUsual{ display:none; position: relative; padding: 12px;border: 1px solid #bcbcbc;}

.accountFullRow { display: block;}

/*=== GUI row ===*/
.guiRow { border-bottom: 1px dotted #dedede; padding: 6px 0; }
.guiRow:first-child { border-top: 1px dotted #dedede;}
.guiRow input[type=text], .guiRow input[type=password], .guiRow textarea { 
	font-family: 微軟正黑體; 
	width: 100%; 
	color: #333; 
	box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	box-shadow: 0 1px 0 #fff; 
	-webkit-box-shadow: 0 1px 0 #fff; 
	-moz-box-shadow: 0 1px 0 #fff; 
	padding: 6px 8px; 
	border: 1px solid; 
	border-color: #b7b7b7 #b7b7b7 #d7d7d7 #d7d7d7;
	display: inline-block; 
	background: #fdfdfd; 
	height: 32px; 
}
.guiRow textarea { 
	height: 120px; 
}
.titleRow { display: block; padding: 13px;}
.grandRow { display: block; padding: 6px 0 3px; border-bottom: 1px dotted #ccc; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background:#fff;}
.grandRow:last-child { border-bottom: none;}
.grandTitle { color:#004b31; padding-left: 30px;font-weight:bold; }
.gStatement { background: url(../images/ico-grand.png) no-repeat 0 2px; }
.gSms { background: url(../images/ico-grand.png) no-repeat 0 -62px; }
.gEmail { background: url(../images/ico-grand.png) no-repeat 0 -122px; }
.gQuery { background: url(../images/ico-grand.png) no-repeat 0 -182px; }
.gFund { background: url(../images/ico-grand.png) no-repeat 0 -242px; }
.gEuro { background: url(../images/ico-grand.png) no-repeat 0 -306px; }
.gSetting { background: url(../images/ico-grand.png) no-repeat 0 -370px; }
.grandAmount { margin: 0 0 0 20px; font-family: 'Oswald', sans-serif; font-weight:300;}
.grandDate {  display:block; font-family: 'Oswald', sans-serif; font-weight:300; font-size: 25px; padding: 5px 0 10px 0; text-align:center;}
.tbDate {  display:block; font-family: 'Oswald', sans-serif; font-weight:300; font-size: 25px; padding: 0;}
.gdate { margin: 0 10px; font-family: 'Oswald', sans-serif; font-weight:300;}
.description { font-size: 13px; padding: 3px 0 0 0; border-top: 1px dotted #ddd; margin-top: 5px; display:block;}
.tbRow { display: block; padding: 2px 0; margin: 6px 0;}
.tbBtn { margin-top: -3px; margin-left:5px; float:right;}
.superTitle { margin: 0; font-family: 'Oswald', sans-serif; font-weight:300; font-size:50px; padding: 20px;}
.bigTitle { margin: 0; font-family: 'Oswald', sans-serif; font-weight:300; font-size:26px; padding: 20px 10px;}
.carPlate { 
	box-shadow: 0 0 10px rgba(0,0,0,.5); 
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.5); 
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.5); 
    border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background:#fff;
	padding: 3px 20px;
	margin: 0; font-family: 'Oswald', sans-serif; font-weight:400;
	font-size:32px; 
	border: 1px solid #ccc;
}
.centerPos { margin: 0 auto 0; text-align: center; position: relative; padding: 15px 0;}
.single-icon { width:60px; height: 60px; display: block;}


.bBorder { border-bottom: 1px dotted #efefef;  padding: 3px 0; }
.bUsual { padding: 6px; dispaly:block; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

/*=== Data row ===*/
.dataRow { display: block; background: #fff; background: rgba(255,255,255,1); padding: 8px 10px 0px; margin: 0 0 2px 0; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.dataRow-alt { display: block; background: #efefef; padding: 8px 10px 0px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.dataRowDark { display: block; padding: 8px 10px 0px;}
.noteRow {  display: block; padding: 5px 10px 0; font-size:12px;}
.actionRow { display: block;padding: 6px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.actionRow a {text-decoration: none; color:#fff;}
.dataName { font-size: 12px; margin-top:9px; color:#000;}
.dataContent { font-size: 12px; margin-top:9px; color:#333;}
.dataCurrency { font-size: 12px; }
.dataAmount, .dataAmountBlock { font-family: 'Oswald', sans-serif; font-size:28px; color:#333; font-weight:300;}
.dataText {  font-size:22px; color:#333; font-weight:normal;}
.dataAmountBlock { display:block; padding-bottom: 12px;}
.dataHybrid { font-size:16px; color:#333;display:block; padding-bottom: 6px; }
.actionNotes { padding: 20px 20px 10px; margin: 12px 0 0 0; font-size: 12px; background: rgba(255,255,255,.4); border-radius: 3px;  -webkit-border-radius: 3px; -moz-border-radius: 3px;}
.actionRowDark { display: block; padding: 10px; margin-top:5px;}
.actionRowBlank { display: block; padding: 10px; margin-top:0px; }
.bordertop { border-top: 1px solid #ccc;}
.mblk { margin-left:10px;}
.h120 { height: 130px;}
.h140 { height: 140px;}

/*=== Credit card statement carousel ===*/
.month-scroll, .month-scroll-medium, .month-scroll-extra{ margin: 0 auto 0; padding: 0; width: 450px; height: 152px; position:relative; }
.month-scroll-medium{ width: 450px; height: 162px; }
.month-scroll-extra{ width: 450px; height: 192px; }

.month-scroll li a, .month-scroll-medium li a, .month-scroll-extra li a{ margin: 0 8px 30px 8px; width: 66px; height: 80px; display:block; padding: 5px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2); }
.month-scroll-medium li a{ width: 146px; height: 104px; }
.month-scroll-extra li a{ width: 146px; height: 154px; }

.month-scroll li a:hover, .month-scroll-medium li a:hover, .month-scroll-extra li a:hover{ border-top: 4px solid #c00;}
.month-scroll li a.active, .month-scroll-medium li a.active, .month-scroll-extra li a.active{ border-top: 4px solid #c00;}
.month-scroll li a.disable, .month-scroll-medium li a.disable, .month-scroll-extra li a.disable{ opacity: 0.3; filter:alpha(opacity=30); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; cursor:default;}
.month-scroll li a.disable:hover, .month-scroll-medium li a.disable:hover, .month-scroll-extra li a.disable:hover{ border-top: 4px solid transparent;cursor:default;}

.statementMonth, .statementMonthExtra { 
    width: 46px; 
	text-align: center; 
	font-size: 34px; 
	font-family: 'Oswald', sans-serif; 
	font-weight:400;
	display:block; 
	color:#fff; 
	padding: 15px 10px;
    background: #333333;
    background: -moz-linear-gradient(top,  #666666 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#000000));
    background: -webkit-linear-gradient(top,  #666666 0%,#000000 100%);
    background: -o-linear-gradient(top,  #666666 0%,#000000 100%);
    background: -ms-linear-gradient(top,  #666666 0%,#000000 100%);
    background: linear-gradient(top, #666666 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#000000',GradientType=0 ); 
	border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.statementMonthExtra strong, .statementYearExtra strong{ font-family: 微軟正黑體;  font-size: 13px; margin: 0 2px;}
.statementYear, .statementYearExtra  { width: 46px; text-align: center; font-size: 24px; font-family: 'Oswald', sans-serif; text-shadow: 1px 1px 1px rgba(0,0,0,.5);font-weight:300; display:block; color:#fff; padding: 5px 10px 7px 10px;}
.statementMonthExtra, .statementYearExtra { width: 126px; }

.minimumPayment { 
    width: 126px; 
	text-align: center;
	display:block; 
	padding: 15px 10px;
    background: #ffffff;
	margin-top: 3px;
	color: #333;
    background: #efefef;
    background: -moz-linear-gradient(top,  #f4f4f4 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top,  #f4f4f4 0%,#eeeeee 100%);
    background: -o-linear-gradient(top,  #f4f4f4 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top,  #f4f4f4 0%,#eeeeee 100%);
    background: linear-gradient(top, #f4f4f4 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee',GradientType=0 ); 
	border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.miniTitle { 
	text-align: center;
	display:block;
	font-size:13px;
	color: #333;
}
.miniAmount{ 
	text-align: center;
	font-size: 24px; 
	font-family: 'Oswald', sans-serif; 
	font-weight:300; 
	display:block; 
	margin-top:3px;
}



/*=== Switch UI ===*/
.switch label { cursor: pointer; }
.switch input { display: none; }

/*=== Account items ===*/
.accountItem { padding: 0 0 20px 120px; min-height: 55px;}
.accountItemAlt { padding: 0 0 40px 70px; min-height: 55px;}
.accountItemAlt2 { padding: 0 0 40px 100px; min-height: 55px;}
.accountItemAlt3 { padding: 0px; min-height: 35px;}

.accountPreset { padding: 0; }
.accountIcon { padding: 14px 2px 12px; font-size: 15px;}
.accountIconAlt { padding: 10px 2px 8px; font-size: 13px;}
.accountIcon img, .accountIconAlt img{ margin-right: 6px; float: left; vertical-align: bottom;}

.accountUnit, .accountUnitType, .accountUnitAlt, .accountUnitLeft, .accountUnitMark, .accountUnitRight, .accountUnitNobg{ 
    color:#333;
    padding: 6px;
    background: #f4f4f4;
	border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; 
	border: 1px solid #eeeeee;
	margin-bottom:5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
}
.accountUnit, .accountUnitType, .accountUnitAlt, .accountUnitLeft, .accountUnitMark{ position: relative;}
.accountUnitNobg { padding: 0px; background: #f4f4f4; }


.accountUnit:hover, .accountUnitType:hover, .accountUnitAlt:hover, .accountUnitLeft:hover, .accountUnitRight:hover, .accountUnitNobg:hover, .accountUnitMark:hover { border: 1px solid #dddddd; box-shadow: 0 0 5px rgba(0,0,0,.3); -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3); -moz-box-shadow: 0 0 5px rgba(0,0,0,.3); }
.accountUnitLeft:hover { background: #fff url(../images/arrow-big-dark.png) no-repeat right center; }
.accountUnitRight:hover { background: #fff url(../images/arrow-big-dark-alt.png) no-repeat left center; }
.accountUnit.active, .accountUnitType.active, .accountUnitAlt.active, .accountUnitLeft.active, .accountUnitRight.active, .accountUnitNobg.active, .accountUnitMark.active{ color:#fff !important; text-shadow: 1px 1px 2px rgba(0,0,0,.5); box-shadow: 0 0 5px rgba(0,0,0,.3); -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3); -moz-box-shadow: 0 0 5px rgba(0,0,0,.3); }
.accountUnit.active .searchDrop, .accountUnitType.active .searchDrop, .accountUnitAlt.active .searchDrop, .accountUnitLeft.active .searchDrop, .accountUnitRight.active .searchDrop, .accountUnitNobg.active .searchDrop, .accountUnitMark.active .searchDrop{ color:#333 !important; text-shadow: none; }
.accountUnit.active .dataRow, .accountUnitType.active .dataRow, .accountUnitAlt.active .dataRow, .accountUnitLeft.active .dataRow, .accountUnitRight.active .dataRow, .accountUnitNobg.active .dataRow, .accountUnitMark.active .dataRow{ color:#333 !important; text-shadow: none; }

.accountUnitLeft.active {color:#fff; text-shadow: 1px 1px 2px rgba(0,0,0,.5);}
.accountUnitRight.active {color:#fff; text-shadow: 1px 1px 2px rgba(0,0,0,.5);}

.accountUnitType.active .note {color:#fff !important;}

.accountNumber, .accountNumberAlt, .accountNumberAlt2 { font-family: 'Oswald', sans-serif; font-size:22px; display: block; font-weight:300; line-height:28px;}
.accountNumberAlt { margin-left: 70px;}
.accountNumberAlt2 { margin-left: 100px;}
.accountOswald {font-family: 'Oswald', sans-serif; font-size:22px;font-weight:300; line-height:28px;}

.accountUnitNobg.active { color:#fff; text-shadow: 1px 1px 2px rgba(0,0,0,.5);}

.accountNumberPreset {  padding: 4px 10px; font-family: 'Oswald', sans-serif; font-size:22px; display: block; font-weight:300; line-height:28px; text-align:center; border-top-right-radius: 3px; -webkit-border-radius-topright: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; -webkit-border-radius-topleft: 3px; -moz-border-radius-topleft: 3px; background: #efefef;}
.accountNamePreset { padding: 10px; display:block; border-bottom-right-radius: 3px; -webkit-border-radius-bottomright: 3px; -moz-border-radius-bottomright: 3px; border-bottom-left-radius: 3px; -webkit-border-radius-bottomleft: 3px; -moz-border-radius-bottomleft: 3px;}

.accountName { display: block; }
.accountMore { padding: 8px;  background: #fefefe url(../images/selectArrow.png) no-repeat right 3px; }
.accountMore:hover { background: #f4f4f4 url(../images/selectArrow.png) no-repeat right 3px; }
#accountMoreList { display: none;}
.accountForm { display: block; padding:5px 0;}

