/*=== Icons ===*/

.icoAnalysis {background-repeat: no-repeat, repeat; background-position: 10px -86px, 0 0;}
.icoDownload {background-repeat: no-repeat, repeat; background-position: 10px -128px, 0 0;}
.icoPrint {background-repeat: no-repeat, repeat; background-position: 10px -258px, 0 0;}
.icoQuery {background-repeat: no-repeat, repeat; background-position: 10px -723px, 0 0;}
.icoBack {background-repeat: no-repeat, repeat; background-position: 10px -430px, 0 0;}
.icoNext {background-repeat: no-repeat, repeat; background-position: 10px -301px, 0 0;}
.icoCheck {background-repeat: no-repeat, repeat; background-position: 10px -554px, 0 0;}
.icoCancel {background-repeat: no-repeat, repeat; background-position: 10px -680px, 0 0;}
.icoSetting {background-repeat: no-repeat, repeat; background-position: 10px -638px, 0 0;}
.icoEmail {background-repeat: no-repeat, repeat; background-position: 10px -514px, 0 0;}
.icoAdd {background-repeat: no-repeat, repeat; background-position: 10px -850px, 0 0;}
.icoSave {background-repeat: no-repeat, repeat; background-position: 10px -344px, 0 0;}
.icoHeart {background-repeat: no-repeat, repeat; background-position: 10px -944px, 0 0;}
.icoTimer {background-repeat: no-repeat, repeat; background-position: 10px -994px, 0 0;}
.icoMsg {background-repeat: no-repeat, repeat; background-position: 10px -1044px, 0 0;}
.icoEdit {background-repeat: no-repeat, repeat; background-position: 10px -216px, 0 0;}
.icoResult {background-repeat: no-repeat, repeat; background-position: 10px -765px, 0 0;}
.icoLottery {background-repeat: no-repeat, repeat; background-position: 10px -1097px, 0 0;}