
/* # Special rules for IE
================================================== */
/* ===== IEX ===== */
ul#nav li a, ul#m-nav li a { padding: 3px 8px 4px;}
a.buttonL { padding: 8px 16px 6px 36px;}
input[type=button].buttonL  {padding: 10px 16px 7.52px 36px;}
.chzn-container-single .chzn-single { margin-bottom:-10px; margin-bottom: 1px;}

.ie7 .nWarning, .ie8 .nWarning{ border: 1px solid #f2d083; color: #826200;  background: #ffedbc url(../images/bg-nWarning.png) 24px center no-repeat;}
.ie7 .nSuccess, .ie8 .nSuccess { border: 1px solid #c1d779; color: #4f7307; background: #d6efa1 url(../images/bg-nSuccess.png) 24px center no-repeat;}
.ie7 .nFailure, .ie8 .nFailure { border: 1px solid #dfa59b; color: #660007; background: #f0b5a1 url(../images/bg-nFailure.png) 24px center no-repeat;}
.ie7 .nInformation, .ie8 .nInformation { border: 1px solid #bcd9f3; color: #4579aa; background: #deedf9 url(../images/bg-nInformation.png) 24px center no-repeat; }

.ie7 .flex-control-paging li a, .ie8 .flex-control-paging li a{ background: url(../images/slide-paging.png) no-repeat 0 0;}
.ie7 .flex-control-paging li a:hover,  .ie8 .flex-control-paging li a:hover{ background: url(../images/slide-paging.png) no-repeat 0 -16px;}
.ie7 .flex-control-paging li a.flex-active, .ie8 .flex-control-paging li a.flex-active {  background: url(../images/slide-paging.png) no-repeat 0 -16px;}

.ie7 #msgScroller, .ie8 #msgScroller, #msgScroller { margin-bottom: 20px;}

/* ===== IE8 ===== */
.ie8 input[type=button].buttonL  {padding: 10px 16px 7px 36px;}
.ie8 a.buttonL{ padding: 8px 16px 5.5px 24px;}
.ie8 .formRow input[type=text], .ie8 .formRow input[type=password], .ie8 .formRow input[type=tel]{ padding: 6px 14px; height: 32px;}
.ie8 .bDefault{ background: #f8f8f8;}
.ie8 .bBlue { background: #5ba5cb;}
.ie8 .icoTimer {background: url(../images/sprite-dark.png) 10px -994px no-repeat ;}
.ie8 .chzn-container-single .chzn-search input { position: absolute; left: -9000px; }
.ie8 .flex-control-nav { bottom: -38px;}


/* ===== IE7 ===== */
.ie7 #widgetLists .toggler:hover{ padding: 8px 0px 24px 3px; }
.ie7 .functionExpandAll, .ie7 .widgetExpandAll{float: left;}
.ie7 .widgetSubmit{float: right;}
.ie7 .treeview .alignRight { margin-top: -22px;}
.ie7 .ie7fix { margin-left: 12px;}
.ie7 .buttonS { padding: 2px 3px;}
.ie7 .buttonM { padding: 3px 6px; }
.ie7 .buttonL { padding: 5px 2px 5px 18px;}
.ie7 a.buttonL{ padding: 5px 20px 1px 24px;}
.ie7 .buttonXL { padding: 5px 2px 5px 18px; }
.ie7 .buttonD { padding: 5px 2px 5px 18px;}
.ie7 a.buttonD{ padding: 8px 16px 8px 36px;}
.ie7 .buttonR { padding: 5px 2px 5px 18px;}
.ie7 .formRow input[type=text], .ie7 .formRow input[type=password], .ie7 .formRow input[type=tel]{ padding: 6px 0px; height: 18px;}
.ie7 .formRow input[type=text], .ie7 .formRow input[type=password], .ie7 .formRow input[type=tel], .ie7 .formRow textarea { width: 90%; }
.ie7 .guiRow input[type=text], .ie7 .guiRow input[type=password] { padding: 6px 0px; height: 18px;}
.ie7 .guiRow input[type=text], .ie7 .guiRow input[type=password], .ie7 .guiRow textarea {  width: 90%; }

.ie7 .bDefault {  border: none; }

.ie7 .bDefault{ background: #dedede;}
.ie7 .icoTimer {background: url(../images/sprite-dark.png) 10px -994px no-repeat ;}
.ie7 .bBlue {  background: #5ba5cb;}
.ie7 .widget .body { margin-bottom: 12px;}

.ie7 table { border-collapse: collapse; border: 1px solid #dfdfdf;}
.ie7 .tableHolder table {table-layout:fixed;word-wrap:break-word}
.ie7 .tableHolder table tr { border: 1px solid #dfdfdf;}
.ie7 .tableHolder table tr td { border-top: 1px solid #dfdfdf; border-bottom: 1px solid #dfdfdf;}
.ie7 .tableRow input[type=text]{ width: 70%; padding: 2px; height: 20px !important; }

.ie7 .breadcrumb li a{ height: 35px; padding-top: 5px;}
.ie7 .formRow input[type=text], .ie7 .formRow input[type=password], .ie7 .formRow input[type=tel], .ie7 .formRow textarea { width: 90%; }
.ie7 .noSearch .chzn-search,.ie7 .searchDrop .selector,.ie7 .noSearch .selector { display: block; }
.ie7 .chzn-container-single .chzn-search input { position: absolute; left: -9000px;  }
.ie7 div.selector { height: 32px; padding: 0px 6px;}
.ie7 div.selector span {font-size:14px; color: #333; }
.ie7 .flex-control-nav { bottom: -25px;}
.ie7 .textTab { height: 22px!important; }

.ie7 .bc2 {width: 49.9%;}
.ie7 .bc3 {width: 33.3%;}
.ie7 .bc4 {width: 24.96%;}
.ie7 .bc5 {width: 19.95%;}
.ie7 .bc6 {width: 16.65%;}
.ie7 .bc7 {width: 14.25%;}
.ie7 .bc8 {width: 12.449%;}
.ie7 .bc9 {width: 11.08%;}
.ie7 .bc10 {width: 9.98%;}
.ie7 .docRow { position: relative;}
.ie7 .bLightGrey.pa25 { width: 42% !important;}

.ie7 .pages li {  float:left; display: block; padding: 2px 0px; margin:0 3px;} 
.ie7 .pages li a { height: 16px; border: 1px solid #ccc; background: #ffffff;}
.ie7 .pages li .active, .ie7 .pages li a:active, .ie7 .pages li .active:hover { color: #000;}


.ie7 .dataAmount { font-size:21px;}
.ie7 .dataRow {  background: #fff; padding: 4px 10px 4px; height:25px;}
.ie7 input[type=button].buttonL  {padding: 8px 2px 4px 36px;}
.ie7 a.buttonL { line-height:25px}
.ie7 table thead td span { margin: -18px 2px 0 10px;}

.ie7 .bBlack { border:none !important;}

.ie7 .bDefault.icoAnalysis,.ie8 .bDefault.icoAnalysis {background: #dedede url(../images/sprite-dark.png) 10px -86px no-repeat ;}
.ie7 .bDefault.icoDownload,.ie8 .bDefault.icoDownload {background: #dedede url(../images/sprite-dark.png) 10px -128px no-repeat ;}
.ie7 .bDefault.icoPrint,.ie8 .bDefault.icoPrint {background: #dedede url(../images/sprite-dark.png) 10px -258px no-repeat ;}
.ie7 .bDefault.icoQuery,.ie8 .bDefault.icoQuery {background: #dedede url(../images/sprite-dark.png) 10px -723px no-repeat ;}
.ie7 .bDefault.icoBack,.ie8 .bDefault.icoBack {background: #dedede url(../images/sprite-dark.png) 10px -430px no-repeat ;}
.ie7 .bDefault.icoNext,.ie8 .bDefault.icoNext {background: #dedede url(../images/sprite-dark.png) 10px -301px no-repeat ;}
.ie7 .bDefault.icoCheck,.ie8 .bDefault.icoCheck {background: #dedede url(../images/sprite-dark.png) 10px -554px no-repeat ;}
.ie7 .bDefault.icoCancel,.ie8 .bDefault.icoCancel {background: #dedede url(../images/sprite-dark.png) 10px -680px no-repeat ;}
.ie7 .bDefault.icoSetting,.ie8 .bDefault.icoSetting {background: #dedede url(../images/sprite-dark.png) 10px -638px no-repeat ;}
.ie7 .bDefault.icoEmail,.ie8 .bDefault.icoEmail {background: #dedede url(../images/sprite-dark.png) 10px -514px no-repeat ;}
.ie7 .bDefault.icoAdd,.ie8 .bDefault.icoAdd {background: #dedede url(../images/sprite-dark.png) 10px -850px no-repeat ;}
.ie7 .bDefault.icoSave,.ie8 .bDefault.icoSave {background: #dedede url(../images/sprite-dark.png) 10px -344px no-repeat ;}
.ie7 .bDefault.icoHeart,.ie8 .bDefault.icoHeart {background: #dedede url(../images/sprite-dark.png) 10px -944px no-repeat ;}
.ie7 .bDefault.icoTimer,.ie8 .bDefault.icoTimer {background: #dedede url(../images/sprite-dark.png) 10px -994px no-repeat ;}
.ie7 .bDefault.icoMsg,.ie8 .bDefault.icoMsg {background: #dedede url(../images/sprite-dark.png) 10px -1044px no-repeat ;}
.ie7 .bDefault.icoEdit,.ie8 .bDefault.icoEdit {background: #dedede url(../images/sprite-dark.png) 10px -216px no-repeat ;}
.ie7 .bDefault.icoResult,.ie8 .bDefault.icoResult {background: #dedede url(../images/sprite-dark.png) 10px -765px no-repeat ;}
.ie7 .bDefault.icoLottery,.ie8 .bDefault.icoLottery {background: #dedede url(../images/sprite-dark.png) 10px -1097px no-repeat ;}

.ie7 select { height: 28px; font-family:微軟正黑體; border: 1px solid #ccc;}

.ie7 .accountUnit, .ie7 .accountUnitType, .ie7 .accountUnitAlt, .ie7 .accountUnitLeft, .ie7 .accountUnitMark, .ie7 .accountUnitRight, .accountUnitNobg{ 
    padding: 6px 0;
}
.ie7 .tVertical tbody th { border-bottom: 1px solid #dfdfdf;}
/* ===== IE7  haslayout fixed=====

#content-wrapper * {
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    *zoom: 1;
} */