/*
@import "reset.css";
@import "form.css";
@import "ui_custom.css";
@import "webpart.css";
@import "gui.css";
*/
/* # General styles
================================================== */
#APPcontent * { -webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
#APPcontent :focus { outline: 0; border: none; color: rgba(255, 255, 255, 0);}
#APPcontent div {-webkit-appearance:none;}
.changeback a {background : -webkit-linear-gradient(top, #deebe1 0%,#85B7EC 100%)!important}
html { height: 100%;  overflow-y: scroll;}
body { font-family: 微軟正黑體, Arial, Helvetica, sans-serif; font-size: 14px; line-height: 19px; min-height: 100%; position: relative; -webkit-font-smoothing: antialiased; overflow-x:hidden; background: #dbdad8;   }
#app-wrapper { margin:-2px 0 0 0; padding:0;}
#signin-wrapper { margin: 0; padding:0;}

.clear { clear: both; display: block; }
.clear10 { clear: both; display: block; height: 10px;}
.clearC { clear: both; display: block; padding: 3px 0 0 0; margin: 0 0 8px 0; border-bottom:1px solid #ccc;}
.clearN { clear: both; display: block; border-bottom:1px solid #999;}
.hidden { overflow:hidden }
.relative { position: relative; }
a { cursor: pointer; color: #66c; }
img { max-width: 100%;}
.inactive { color: #2b6893!important; }
.alignRight{ float: right;}
.alignLeft{ float: left;}
.h120 { height: auto !important;}
.f20 { font-size: 25px; margin: 0 5px;}
.inline { display:inline;}
.blk { display:block; margin:0; padding:0 0 5px 0 ;}
.mblk { display:block!important; margin:0;}
.inlineblk { display: inline-block !important; margin:0;}
.margin-fix { height:0;}
.noborder { border: none !important;}
.border { border-top: 1px dotted #cecece; padding: 10px 0 0 0; margin: 20px 0 0 0;}

/* === Device class === */
.pc-only { display: block;}
.pad-only, .mobile-only, .mobile-350, .mobile-480, .pad_pc, .pad-800{ display: none;}

/* === Grids === */
.fluid { width: 100%; *zoom: 1; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
.fluid:before, .fluid:after { display: table; content: ""; }
.fluid:after { clear: both; }
.fluid .rtl-inputs [class*="grid"] { float: right; }
.fluid [class*="grid"] { display: block; width: 100%; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; float: left; margin-left: 2.127659574%; *margin-left: 2.0744680846382977%; }
.fluid [class*="grid"]:first-child { margin-left: 0; }

.fluid .grid3, .fluid .grid4,.fluid .grid45, .fluid .grid5,.fluid .grid6 ,.fluid .grid7, .fluid .grid8, .fluid .grid9,.fluid .grid10, .fluid .grid11, .fluid .grid12 { width: 100%; *width: 100%; margin-left:0; }

/* # Typography
================================================== */

/* === Headings === */
h1 { font-size: 26px; line-height: 32px; font-weight: normal; }
h2 { font-size: 24px; line-height: 30px; font-weight: normal; color:#777; }
h3 { font-size: 20px; line-height: 26px; font-weight: normal; }
h4 { font-size: 18px; line-height: 24px; font-weight: normal; }
h5 { font-size: 16px; line-height: 22px; font-weight: normal; }
h6 { font-size: 15px; line-height: 21px; font-weight: normal; }
p {margin-bottom: 10px;}
small { font-size: 11px; line-height: 15px; font-weight: normal; }

/* === Text accent === */
.red { color: #c00; }
.green { color: #6faa39; }
.grey { color: #aaa; }
.gold { color: #ae923c; }
.burgundy { color: #900; }
.blue { color: #33c; }
.white { color: #fff !important;}
.kuro {color: #000 !important;}
span.red a {color: #c00; text-decoration: underline;}
.i-special { font-family: Georgia, "Times New Roman", Times, serif; font-style:italic; margin-right: 5px;}
.underline {text-decoration: underline;}
.new { margin: -6px 0 0 3px;}
.block {display: block;}
.vtop {vertical-align:top;}
.pbox {display: block; height: 60px; padding: 0px;}
#otp-inline {margin-top:16px;}

/* === Placeholder color === */
::-webkit-input-placeholder { color: #b3b3b3; }
:-moz-placeholder { color: #b3b3b3; }

/* === Text alignment === */
.textL { text-align: left!important; }
.textC { text-align: center; }
.textR { text-align: right; }

/* === List styles === */
.widget ol { padding-left: 16px; }
.widgetNotes ol { padding-left: 2px;  list-style:none; }
.caption { display: block; font-weight: bold; padding-bottom: 4px; }
.disc { list-style: disc;}
.widget ul.apply { padding-left: 10px;}
.widget ul.apply li.download { background: url(../images/icon-cloud-download.png) no-repeat 0 2px; padding: 0 0 0 24px;  }
.widget ul.disc { padding-left: 16px; list-style: disc;}
.liRoman { list-style:lower-roman; }
.liArrow { padding-left: 16px;  }
.liArrow li { background: url(../images/subnav_arrow.png) no-repeat 0 8px; padding: 0 0 0 12px;  }
.liArrow li a{ text-decoration: underline; }
.liArrowS { padding-left: 6px; font-size:12px; }
.liArrowS li { background: url(../images/subnav_arrow.png) no-repeat 0 8px; padding: 0 0 0 12px;  }
.liArrowS li a{ text-decoration: underline; }
.liArticle { padding: 0;  margin:0;}
.liArticle li { background: url(../images/subnav_arrow.png) no-repeat 3px 8px; padding: 2px 0 2px 15px!important; margin: 3px 0; }
.liArticle li:nth-child(even) {}

.liArrowAlt { padding-left: 0px;  }
.liArrowAlt li { background: url(../images/subnav_arrow.png) no-repeat 8px 15px; padding: 8px 8px 8px 20px; margin: 5px 0;}
.liArrowAlt li a{ text-decoration: underline; }
.liArrowAlt li:nth-child(even) { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.02); -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.02); -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.02); }

/* # Top part
================================================== */

#mtop { display: block; width: 100%; background: #efefef;}
.mtop-wrapper { 
    margin: 0;  
	text-align: center;
	padding-top: 10px;
	color: #fff;
	font-weight: normal;
	text-shadow: 1px 1px 3px #000;
	font-size: 18px; 
	height: 32px; 
	background: -moz-linear-gradient(top,  #15cb45 0%, #3c844b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#15cb45), color-stop(100%,#3c844b));
	background: -webkit-linear-gradient(top,  #15cb45 0%,#3c844b 100%);
	background: -o-linear-gradient(top,  #15cb45 0%,#3c844b 100%);
	background: -ms-linear-gradient(top,  #15cb45 0%,#3c844b 100%);
	background: linear-gradient(top,  #15cb45 0%,#3c844b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15cb45', endColorstr='#3c844b',GradientType=0 );
}
.mtop-wrapper.alt {
	text-align: left;
}
.mlogo-alt { margin-left: 70px !important; }

/* # Font resize
================================================== */

#utility { max-width:1920px; margin:0 auto 0; padding:0;  position:relative;}
.signinMsg { position: absolute; left: 20px; font-size:11px; color: #555; margin-top:5px; padding: 1px 0 0 16px; background: url(../images/icon-clock.png) no-repeat left;}
.fontResize { position: absolute; right: 20px; z-index:99;}
.fontsizeM, .fontsizeD, .fontsizeP{ margin: 0; padding:0; width: 26px; height: 20px; float:left; text-indent: -9999px; overflow: hidden; opacity:0.6;}
.fontsizeM:hover, .fontsizeD:hover, .fontsizeP:hover {opacity: 1.0;}
.fontsizeM { background: url(../images/font-resize.png) no-repeat 3px -40px;}
.fontsizeD { background: url(../images/font-resize.png) no-repeat 3px -20px;}
.fontsizeP { background: url(../images/font-resize.png) no-repeat 3px 0px;}

/* # Content
================================================== */

#APPcontent { overflow:hidden;}
.content-wrapper { 
	padding: 10px 13px 8px 13px; 
	margin: 6px;
    border-bottom: 1px solid #999; 
	background: #fff;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .35) !important;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .35) !important;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .35) !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.content-row { 
    display: block;
    margin: 0 0 5px 0;
}
.content-row:last-child {
	margin:0;
}
h4.page-title{
	margin: 6px;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #fff;
}
.signinMsg { position: absolute; left: 20px; font-size:11px; color: #555; margin-top:0px; padding: 1px 0 0 16px; background: url(../images/icon-clock.png) no-repeat left;}

/* === Signin holder === */
#signinHolder { margin: 0;}
.signinRow { padding: 3px 0; }
.signinRow input[type=text], .signinRow input[type=password] { 
	color: #858585; 
	font-size: 25px;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	box-shadow: 2px 2px  2px rgba(0,0,0,.1) inset; 
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.1) inset; 
	-moz-box-shadow: 2px 2px  2px rgba(0,0,0,.1) inset; 
	padding: 3px 10px; 
	border: 1px solid #d7d7d7; 
	display: inline-block; 
	background: #fdfdfd; 
	height: 35px; 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.signinRow label { padding: 0; float: left; color:#111; }
.submitRow { 
    padding: 12px 6px; 
	float: left; 
	display: block; 
	width :100%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-ms-box-sizing: border-box; 
}
.bSignin {
	padding: 10px 0 8px  0; 
	display: block;
	background: #fff;
	width: 100%;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .35) !important;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .35) !important;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .35) !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	text-shadow: 1px 1px 2px #fff;
    background: -moz-linear-gradient(top,  #fafafa 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top,  #efefef 0%,#cecece 100%);
    background: -o-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); 
}
.bSignin:active { box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }
.bSignin i{ font-size: 18px; vertical-align: middle; margin-right :5px;}

/* === first-show === */
#first-show { background: #dbdad8; margin: 8px 0 0 0; padding:0; }
#first-show ul li{  
	margin: 6px ;
    cursor:pointer;
    display: block;
    color: #3c844b; 
	font-weight: bold;
	font-size: 15px;
    border-top: 1px solid #fdfdfd; 
    border-bottom: 1px solid #999; 
	position: relative; 
	padding: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .35) !important;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .35) !important;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .35) !important;
	border:1px solid #00a94f;
}
#first-show ul li span{ 
    background: -moz-linear-gradient(top,  #fafafa 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: -o-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
	display:table;
	width:100%;
	color:#333;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:17px 15px;
	text-shadow: 1px 1px 0 #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#first-show ul li .title{display: table-cell;width:25%;text-align:left;font-family:"微軟正黑體","Microsoft JhengHei",sans-serif;color: #333; font-weight:bold;}
#first-show ul li .money{display: table-cell;width:75%; text-align:right; font-size:22px;font-family:Arial, Helvetica, sans-serif; color:#008852;}


/* === appmenu === */
#appmenu { background: #dbdad8; margin: 8px 0 0 0; padding:0; }
#appmenu ul.accordions li{  
	margin: 6px ;
    cursor:pointer;
    display: block;
    color: #3c844b; 
	font-weight: bold;
	font-size: 15px;
	text-shadow: 1px 1px 0 #fff;
    border-top: 1px solid #fdfdfd; 
    border-bottom: 1px solid #999; 
	position: relative; 
	padding: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .35) !important;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, .35) !important;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, .35) !important;
}
#appmenu ul.accordions li a{ 
    background: url(../images/app-collapse-bold.png) no-repeat right, -moz-linear-gradient(top,  #deebe1 0%, #cfe2d3 100%);
    background: url(../images/app-collapse-bold.png) no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deebe1), color-stop(100%,#cfe2d3));
    background: url(../images/app-collapse-bold.png) no-repeat right, -webkit-linear-gradient(top,  #deebe1 0%,#cfe2d3 100%);
    background: url(../images/app-collapse-bold.png) no-repeat right, -o-linear-gradient(top,  #deebe1 0%,#cfe2d3 100%);
    background: url(../images/app-collapse-bold.png) no-repeat right, -ms-linear-gradient(top,  #deebe1 0%,#cfe2d3 100%);
    background: url(../images/app-collapse-bold.png) no-repeat right, linear-gradient(top,  #deebe1 0%,#cfe2d3 100%);
	display: block;
	color: #333;
}
#appmenu ul.accordions li.active > a { 
    background: url(../images/app-expand-bold.png) no-repeat right, -moz-linear-gradient(top,  #deebe1 0%, #cfe2d3 100%);
    background: url(../images/app-expand-bold.png) no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deebe1), color-stop(100%,#cfe2d3));
    background: url(../images/app-expand-bold.png) no-repeat right, -webkit-linear-gradient(top,  #deebe1 0%,#cfe2d3 100%);
    background: url(../images/app-expand-bold.png) no-repeat right, -o-linear-gradient(top,  #deebe1 0%,#cfe2d3 100%);
    background: url(../images/app-expand-bold.png) no-repeat right, -ms-linear-gradient(top,  #deebe1 0%,#cfe2d3 100%);
    background: url(../images/app-expand-bold.png) no-repeat right, linear-gradient(top,  #deebe1 0%,#cfe2d3 100%);
	display: block;
}
#appmenu ul.accordions li img{ position:relative; vertical-align: middle; margin-right: 10px; margin-top: -2px; max-width:20px; opacity:0.6; filter:alpha(opacity=60);}
.app-menu-toggle { padding: 13px 10px; color: #222;}
#appmenu ul.accordions li li{
	margin:0;
    border-bottom: none; 
	border-top: 1px solid #ccc; 
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
#appmenu ul.accordions li li a{
    background: url(../images/app-collapse-lite.png) no-repeat right, -moz-linear-gradient(top,  #fafafa 0%, #eeeeee 100%);
    background: url(../images/app-collapse-lite.png) no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee));
    background: url(../images/app-collapse-lite.png) no-repeat right, -webkit-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: url(../images/app-collapse-lite.png) no-repeat right, -o-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: url(../images/app-collapse-lite.png) no-repeat right, -ms-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: url(../images/app-collapse-lite.png) no-repeat right, linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
	display: block; 
	padding: 13px 4px 13px 40px; 
	color: #333;
	font-weight: normal;
	position: relative;  
}
#appmenu ul.accordions li li.active > a { 
    background: url(../images/app-expand-lite.png) no-repeat right, -moz-linear-gradient(top,  #deebe1 0%, #cfe2d3 100%);
    background: url(../images/app-expand-lite.png) no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deebe1), color-stop(100%,#cfe2d3));
    background: url(../images/app-expand-lite.png) no-repeat right, -webkit-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: url(../images/app-expand-lite.png) no-repeat right, -o-linear-gradient(top,  #deebe1 0%,#cfe2d3 100%);
    background: url(../images/app-expand-lite.png) no-repeat right, -ms-linear-gradient(top,  #deebe1 0%,#cfe2d3 100%);
    background: url(../images/app-expand-lite.png) no-repeat right, linear-gradient(top,  #deebe1 0%,#cfe2d3 100%);
	display: block;
}
#appmenu ul.accordions li li li{
	display: block; 
	color: #333;
	font-size: 14px;
	font-weight: normal;
	position: relative;  
	border-top: 1px solid #eee; 
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
#appmenu ul.accordions li li li a{
    background: #fff url(../images/action-go-bold.png) no-repeat right ;
	display: block; 
	padding: 13px 4px 13px 40px; 
}

/*第四層選單*/
#appmenu ul.accordions li li li li{
	display: block; 
	color: #333;
	font-size: 14px;
	font-weight: normal;
	position: relative;  
	border-top: 1px solid #eee; 
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
#appmenu ul.accordions li li li li a{
    background: #fff url(../images/action-go-bold.png) no-repeat right ;
	display: block; 
	padding: 13px 4px 13px 60px; 
}

.MMBActionLnk {
	color: #333;
	font-size: 14px;
	font-weight: normal;
	position: relative;  
	border-top: 1px solid #eee; 
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
    background: #fff url(../images/action-go-bold.png) no-repeat right !important;
	display: block;
	padding: 13px 4px 13px 60px;
}
/*第四層選單end*/

#appmenu ul.accordion-parent h3.accordion-title img{ position:relative; vertical-align: middle; margin-right: 10px; margin-top: -2px; max-width:20px; opacity:0.6; filter:alpha(opacity=60);}
#appmenu ul.accordion-child h3{
    background: -moz-linear-gradient(top,  #fafafa 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: -o-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
	display: block; 
	padding: 0px 0px 0px 40px; 
	color: #333;
	font-weight: normal;
	position: relative;  
}
#appmenu ul.accordion-child ul.accordion-list li{
	display: block; 
	color: #333;
	font-size: 13px;
	font-weight: normal;
	position: relative;  
	border-top: 1px solid #eee; 
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
#appmenu ul.accordion-child ul.accordion-list li a{
    background: #fff url(../images/action-go-bold.png) no-repeat right center ;
	display: block; 
	padding: 13px 4px 13px 60px; 
	color: #555;
}
#appmenu ul.accordion-child ul.accordion-list li a:active{
    background: #efefef url(../images/action-go-bold.png) no-repeat right 5px center ;
}


.myServices { display: none; position: relative; float: left; margin-top: 0px; width: 100%; z-index:2;}
.navMy{ 
    padding: 0; 
	border-bottom: #ccc 1px solid;
	-webkit-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, .5);
	-moz-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, .5);
	box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, .5);
}
.navMy li a{  
    background: url(../images/action-go-bold.png) no-repeat right, -moz-linear-gradient(top,  #fafafa 0%, #eeeeee 100%);
    background: url(../images/action-go-bold.png) no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#eeeeee));
    background: url(../images/action-go-bold.png) no-repeat right, -webkit-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: url(../images/action-go-bold.png) no-repeat right, -o-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: url(../images/action-go-bold.png) no-repeat right, -ms-linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    background: url(../images/action-go-bold.png) no-repeat right, linear-gradient(top,  #fafafa 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); 
	display: block; 
	padding: 13px 4px 13px 13px; 
	color: #333;
    border-bottom: none; 
	border-top: 1px solid #ccc; 
	position: relative;  
}


/* # Footer
================================================== */

#mfooter { width: 100%; font-size: 13px; position: relative;}
#mfooter i{ font-size: 18px; vertical-align: middle; margin-right :5px; color:#999; }

/* # UI
================================================== */

/* === Buttons === */
.buttonS, .buttonM, .buttonL, .buttonD, .buttonR, .buttonXL{ margin: 2px 0; font-weight: normal; text-shadow: 0 -1px #6f6f6f; display: inline-block; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
.buttonS { padding: 2px 6px; font-size: 13px; }
.buttonM { padding: 3px 12px; }
.buttonL { padding: 8px 16px 8px 36px; float:right; margin-left: 4px;}
input.buttonL { padding: 8px 16px 7px 36px; float:right; margin-left: 4px;}
.buttonXL { padding: 8px 25px 8px 40px; font-size: 16px; margin-left: 4px;}
.buttonD { padding: 8px 16px 8px 36px; margin: 10px 2px;}
.buttonMessage { padding: 8px 16px 8px 36px; margin: 5px 2px;}
.buttonR { padding: 8px 10px 8px 30px; float:right; margin-left: 4px;}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
input.buttonL { padding: 8px 16px 9px 36px;}
}

.bDefault{ border: 1px solid #c3c3c3; box-shadow: inset 0 1px 2px #fff; -webkit-box-shadow: inset 0 1px 2px #fff; -moz-box-shadow: inset 0 1px 2px #fff; color: #333; text-shadow: none;
background: #f8f8f8 url(../images/sprite-dark.png);
background: url(../images/sprite-dark.png), -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
background: url(../images/sprite-dark.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
background: url(../images/sprite-dark.png), -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: url(../images/sprite-dark.png), -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: url(../images/sprite-dark.png), -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: url(../images/sprite-dark.png), linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
}

.bDefault:hover{ color: #333; border-color: #999; box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -webkit-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -moz-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; text-shadow: 0 -1px 1px #f1f1f1;  -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bDefault:active{ color: #333; border-color: #999; box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -webkit-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -moz-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; text-shadow: 0 -1px 1px #f1f1f1; }
.bDefault span { text-shadow: none; }

.bForm{ border: 1px solid #c3c3c3; box-shadow: inset 0 1px 2px #fff; -webkit-box-shadow: inset 0 1px 2px #fff; -moz-box-shadow: inset 0 1px 2px #fff; color: #686868; text-shadow: none;
background: #f8f8f8;
background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
}

.bForm:hover{ color: #333; border-color: #999; box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -webkit-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -moz-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; text-shadow: 0 -1px 1px #f1f1f1;  -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out;  }
.bForm:active{ color: #333; border-color: #999; box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -webkit-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -moz-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; text-shadow: 0 -1px 1px #f1f1f1; }
.bForm span { text-shadow: none; }

.bSilver {  color:#fff; border: 1px solid #888888; box-shadow: 0 1px 2px 0 #959595 inset; -webkit-box-shadow: 0 1px 2px 0 #959595 inset; -moz-box-shadow: 0 1px 2px 0 #959595 inset;
background: #999999 url(../images/sprite.png);
background-image: url(../images/sprite.png), -moz-linear-gradient(top,  #999999 0%, #777777 100%);
background-image: url(../images/sprite.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#777777));
background-image: url(../images/sprite.png), -webkit-linear-gradient(top,  #999999 0%,#777777 100%);
background-image: url(../images/sprite.png), -o-linear-gradient(top,  #999999 0%,#777777 100%);
background-image: url(../images/sprite.png), -ms-linear-gradient(top,  #999999 0%,#777777 100%);
background-image: url(../images/sprite.png), linear-gradient(top,  #999999 0%,#777777 100%);
}
.bSilver:hover { opacity: 0.85; filter: alpha(opacity=85); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bSilver:active { box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff; }


.bBlue {  color:#fff; border: 1px solid #3e76af; box-shadow: 0 1px 2px 0 #66b2d2 inset; -webkit-box-shadow: 0 1px 2px 0 #66b2d2 inset; -moz-box-shadow: 0 1px 2px 0 #66b2d2 inset;
background: #5ba5cb url(../images/sprite.png);
background: url(../images/sprite.png), -moz-linear-gradient(top,  #5ba5cb 0%, #3a70ab 100%);
background: url(../images/sprite.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba5cb), color-stop(100%,#3a70ab));
background: url(../images/sprite.png), -webkit-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
background: url(../images/sprite.png), -o-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
background: url(../images/sprite.png), -ms-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
background: url(../images/sprite.png), linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
}
.bBlue:hover { opacity: 0.85; filter: alpha(opacity=85); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bBlue:active { box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

.bRed {  color:#fff; border: 1px solid #222; box-shadow: 0 1px 2px 0 rgba(0,0,0,.4) inset; -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.4) inset; -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.4) inset;
background: #eb2121;
background: -moz-linear-gradient(top,  #eb2121 0%, #a00e0e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb2121), color-stop(100%,#a00e0e));
background: -webkit-linear-gradient(top,  #eb2121 0%,#a00e0e 100%);
background: -o-linear-gradient(top,  #eb2121 0%,#a00e0e 100%);
background: -ms-linear-gradient(top,  #eb2121 0%,#a00e0e 100%);
background: linear-gradient(top,  #eb2121 0%,#a00e0e 100%);
}
.bRed:hover { opacity: 0.85; filter: alpha(opacity=85); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bRed:active { box-shadow: 0 0 2px #707070 inset, 0 1px 0 #222; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #222; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #222; }

/* ===== Tipsy ===== */
.tipsy { padding: 4px; font-size: 11px; position: absolute; z-index: 1000; }
.tipsy-inner { padding: 2px 10px 2px 10px; background-color: #1d1d1d; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.tipsy-arrow { position: absolute; background: url('../images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s { margin-top: -5px; }
.tipsy-w { margin-left: 5px; }
.tipsy-e { margin-right: -5px; }
.tipsy-n { margin-top: 5px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }	

/* # Form styles
================================================== */

.sliderSpecs > label { font-size: 14px; margin-right: 3px; margin-top: 4px;}
.sliderSpecs > input { font-size: 14px; border: none; background: none!important; width: 60%!important; color: #3a70ab!important; border: none!important; box-shadow: none!important; font-weight: bold; }
.uRange, .uMin  {display: block; margin-bottom: 30px;}
.fieldIcon { position: absolute; top: 7px; right: 8px; display: block; }

/*.rightSide { display: block; float: right; width: 80%; padding: 4px 0; position: relative; }
.rightSide > label { float: left; }*/

label { float: left; display:inline-block; }

.multiple { width: 100%; height: 300px; padding: 5px; border: 1px solid #d7d7d7; box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; -moz-box-shadow: 0 1px 0 #fff; }

/* ===== Form validation ===== */
.inputContainer { position: relative; float: left; }

.checker input, .radio input, .selector select { cursor: pointer; }
input.error { border-color: #06c!important; }
input {outline:none; transition: all 0.25s ease-in-out;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;}
textarea:focus, input:focus, select:focus { border-color: #999!important; }

/* ===== Form styling  ===== */
.selector, .radio, .checker, .uploader, .selector *, .radio *, .checker *, .uploader *{ margin: 0; padding: 0; cursor: pointer; font-family: 微軟正黑體, Arial, Helvetica, sans-serif; }

div.selector { 
	vertical-align: middle; 
	zoom: 1; 
	margin: 0; 
	padding: 0 0 0 8px; 
	cursor: pointer; 
	width: auto; 
	max-width: 280px; 
	position: relative; 
	overflow: hidden; 
	border: 1px solid #d2d2d2; 
	line-height: 27px; 
	height: 27px; 
	display: -moz-inline-box;
	display: inline-block; 
    background: #fcfcfc; 
	background: -moz-linear-gradient(top, #fcfcfc 0%, #f1f1f1 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f1f1f1)); 
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); 
	background: -o-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); 
	background: -ms-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); 
	background: linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1f1f1',GradientType=0 ); 
	box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	-ms-box-sizing: content-box;  
	border-radius: 2px; 
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee; 
	-webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee; 
	-moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee; 
}
div.selector span { display: block; overflow: hidden; height: 30px; text-overflow: ellipsis; white-space: nowrap; color: #333; text-shadow: 0 1px #f5f5f5; padding: 1px 37px 1px 2px; background: url(../images/selectArrow.png) no-repeat 100%; cursor: pointer;font-family: 微軟正黑體, Arial, Helvetica, sans-serif;  font-size: 14px; line-height: 32px; }
div.selector select { position: absolute; opacity: 0; filter: alpha(opacity:0); height: 30px; border: none; background: none; font-family: 微軟正黑體, Arial, Helvetica, sans-serif; font-size: 14px; border: solid 1px white; width: 100%; top: 0px; left: 0px; }
.disabled { opacity: 0.5; filter: alpha(opacity=50); cursor:default; }

/* Checkboxes */
div.checker { width: 16px; height: 16px; position: relative; display: -moz-inline-box; display: block; vertical-align: middle; zoom: 1; float: left; margin-top: 2px; margin-right: 10px; box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; -moz-box-shadow: 0 1px 0 #fff; }
div.checker input { width: 16px; height: 16px; opacity: 0; filter: alpha(opacity:0); display: inline-block; background: none; }
div.checker span { background: url(../images/elements/forms/checkboxes.png) no-repeat 0 0; height: 16px; width: 16px; display: -moz-inline-box; display: inline-block; text-align: center; }
div.checker span.checked { background-position: 0 -17px; }

/* Radio buttons */
div.radio { width: 16px; height: 17px; position: relative; display: -moz-inline-box; display: block; zoom: 1; float: left; margin-top: 2px; margin-right: 10px; }
div.radio input { width: 16px; height: 17px; opacity: 0; filter: alpha(opacity:0); display: inline-block; background: none; }
div.radio span { background: url(../images/elements/forms/radios.png) no-repeat 0 0; height: 17px; width: 16px; display: -moz-inline-box; display: inline-block; text-align: center; }
div.radio span.checked { background-position: 0 -18px; }

/* # Dashboard panel
================================================== */

.widgetArea { padding: 30px 20px 0 20px; }
.widgetArea h1{ font-size: 36px; text-align: center; color: #999; margin: 20px 0; display: block;}
.widgetSearch { font-size: 30px; padding: 10px; border: 1px solid #ccc; font-family: 微軟正黑體;}
.widgetSearchBtn { font-size: 30px; padding: 10px; width: 30px; }
#widgetLists{ margin:0; padding:0; width :100%;}
#widgetLists .toggler{ display: block; color: #999; position: relative; padding: 8px 0px 8px 3px; font-size: 26px; border-top: 1px solid #ccc; cursor: pointer;}
#widgetLists .toggler:hover{ background: #efefef;}
#widgetLists .toggler div.widgetIcon{ position:relative; padding: 4px 0 8px 0; float:left;  margin-right :10px;}
#widgetLists .toggler div.widgetTitle{ position:relative; padding: 8px 0 8px 0; float:left;}
#widgetLists .container{ display: none; width: 100%; margin : 0 auto 0;}
#widgetLists .container h5{ color: #aaa;margin: 10px 0;}
#widgetLists .container ul{ text-align: center; position:relative; margin: 0 auto 0; }
#widgetLists .container li{  margin: 0 15px 15px 0; padding:0; position:relative;}
#widgetLists .container a{ font-size: 15px; display: block; color: #666; text-align: center; height: 40px; position: relative;   background: #efefef; margin: 0 ; padding : 10px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55);}
#widgetLists .container a.active{ color :#fff;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85);}
#widgetLists .container a.disable, #widgetLists .container a.disable:hover{ box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); color: #ccc; cursor: default; background: #efefef;}
#widgetLists .container a:hover{ background: #999; color :#fff;}
.widgetExpandAll {
	text-align: center;
	padding: 10px 20px 10px 40px;
	position: relative; 
	width: 72px;
	display: block; 
	float: right;
	color: #333;
	font-size: 15px;
    border-top-right-radius: 5px; 
	-webkit-border-radius-topright: 5px; 
	-moz-border-radius-topright: 5px; 
	border-top-left-radius: 5px; 
	-webkit-border-radius-topleft: 5px; 
	-moz-border-radius-topleft: 5px;
	background: #f0f0f0 url(../images/icon-widget-tools.png) no-repeat 18px -169px; 
}
.widgetExpandAll:hover{ background: #999 url(../images/icon-widget-tools.png) no-repeat 18px -169px; color: #fff; }
.widgetSubmitHolder { display: block; border-top: 1px solid #ccc; padding: 30px 0 50px; }
.widgetSubmit { float :right; }
.backTop {
	text-align: center;
	padding: 10px 20px 10px 40px;
	position: relative; 
	width: 72px;
	display: block; 
	float: right;
	color: #fff;
	font-size: 15px;
    border-top-right-radius: 5px; 
	-webkit-border-radius-topright: 5px; 
	-moz-border-radius-topright: 5px; 
	border-top-left-radius: 5px; 
	-webkit-border-radius-topleft: 5px; 
	-moz-border-radius-topleft: 5px;
	background: #999 url(../images/icon-widget-tools.png) no-repeat 18px -205px; 
}
.backTop:hover{ background: #666 url(../images/icon-widget-tools.png) no-repeat 18px -205px; }
a.widgetClose { display: block; width: 22px; height: 22px; text-indent:-9999999px; position:absolute; right: 20px; top: 20px; background: url(../images/icon-close.png) no-repeat;}

/* # Overview panel
================================================== */

.functionContainer{ border-top: 1px solid #ccc; display: none; padding-bottom:20px; }
.searchContainer{ padding-bottom:50px; }
.functionExpandAll {
	text-align: center;
	padding: 10px 20px 10px 40px;
	position: relative; 
	width: 72px;
	display: block; 
	float: right;
	color: #333;
	font-size: 15px;
    border-top-right-radius: 5px; 
	-webkit-border-radius-topright: 5px; 
	-moz-border-radius-topright: 5px; 
	border-top-left-radius: 5px; 
	-webkit-border-radius-topleft: 5px; 
	-moz-border-radius-topleft: 5px;
	background: #f0f0f0 url(../images/icon-widget-tools.png) no-repeat 18px -169px; 
}
.functionExpandAll:hover{ background: #999 url(../images/icon-widget-tools.png) no-repeat 18px -169px; color: #fff;}
.functionRow { padding:0; }
.functionRow .liArrow{ padding-left:0; padding: 10px 0; border-top: 1px solid #ccc; margin-bottom: 10px; }
.functionRow .liArrow a{ text-decoration:none; color: #666; }
.functionRow .liArrow a:hover{ color: #000; }
.functionBox { 
    background: #f9f9f9; 
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	margin-top: 20px; 
	border: 1px solid #eee;
	position: relative; 
}
.functionBox h4 { 
    border-bottom: 1px solid #cdcdcd; 
	box-shadow: 0 1px 0 #fff; 
	-webkit-box-shadow: 0 1px 0 #fff; 
	-moz-box-shadow: 0 1px 0 #fff; 
	-webkit-border-top-right-radius: 3px; 
	-webkit-border-top-left-radius: 3px; 
	-moz-border-radius-topright: 3px; 
	-moz-border-radius-topleft: 3px;  
	position: relative; 
	display: block; 
	padding: 7px 14px 6px 16px; 
	font-size: 15px; 
	font-weight: bold;  
	color: #636363; 
	text-shadow: 0 1px #fff; 
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
	background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
	background: linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
}
.functionBox h5 { font-size: 15px; color: #999; }
.functionList { padding: 12px; }


/* # Setting panel
================================================== */

.langBox { color: #333; font-size: 16px; font-weight:bold; text-shadow: 1px 1px 2px rgba(0,0,0,.2); display: block; text-align: center; padding: 20px 0; margin: 3px 0; display: block ; vertical-align:middle; background: #efefef; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55); opacity:0.7; }
.langBox.active{ color :#fff; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85); opacity:1; }
.langBox:hover{ background: #999; color :#fff; opacity:1; }
.themeBox { display: block; color: #666; max-width: 100%; float:left; position: relative; background: #efefef;  margin: 3px auto 3px; border: 4px solid #ccc; opacity:0.7; }
.themeBox img{ max-width: 100%; margin: 3px auto 3px; }
.themeBox.active{ opacity:1; }
.themeBox:hover{ border: 4px solid #999; opacity:1; }

/* # Message panel
================================================== */

#messagePanel{ display: none; right:20px; top:65px; position: absolute; z-index:12; }
.messageArrow{ background: url(../images/message-top.png) no-repeat center; height: 14px; display: block; position: relative; z-index:99; }
.messagePanel{
    background: #fff;
	width: 320px;
	border: 1px solid #cdcdcd; 
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); 
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); 
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); 
	margin-top: -2px;
	position: relative;
	z-index:13;
    overflow: hidden;
}
.messageArea{ padding: 20px 10px; height: 120px; position: relative; overflow: hidden; }
.messageMore{ background: #eee; margin: 0 auto 0; text-align: center; position: relative; padding: 15px 0;}
#mMessagePanel { background: #fff; width:100%; margin: -3px 0 0 0; padding:0; position: relative; overflow: hidden; display:block; float: left; width: 100%; z-index: 20;}
.mMessagePanel { border: 3px solid #cdcdcd; }

/* # Modal box
================================================== */

.modalOverlay { background-color: #000; cursor:wait;}
.modalSmall, .modalMedium, .modalLarge, .modalMini { display: none; position: fixed; top: 150px;left: 50%; color:#333; background:#fff; border:4px solid #ccc; }
.modalMini { margin-left: -26px; width: 52px; }
.modalSmall { margin-left: -200px; width: 400px;}
.modalMedium { margin-left: -300px; width: 600px; }
.modalLarge { margin-left: -400px; width: 800px; position:absolute;}
.modalClose { background:url(../images/icon-close-small.png) no-repeat; width:34px; height:34px; display:inline; z-index:3200; position:absolute; right:0; top: 0;cursor:pointer; border-left :1px solid #ccc; text-indent: 9999px; overflow: hidden;}
.modelHead{ width: 100%; border-bottom: 1px solid #ccc; position:absolute;}
.modelHead h6{ float: left; display: block; padding: 7px 14px 6px 14px; font-size: 15px; font-weight: bold;  }
.modalContainer{ padding: 18px; margin-top: 30px; }
.modalContainerFix50{ padding: 10px 10px 4px 10px; }
.modalContainer h3{ margin-bottom: 5px;}
.modalContainer .modalController{ margin-top: 20px; text-align:center;}
.modalContainer ul, .modalContainer ol { padding-left: 26px; margin: 15px 0;}
.modalScroll {height: 400px; overflow-y: scroll;}

/* # Scroll to top
================================================== */

#toTop{z-index:999999;display:none;text-decoration:none;position:fixed;bottom:10px;right:10px;overflow:hidden;width:45px;height:45px;border:none;text-indent:100%;background:url(../images/ui.totop.png) no-repeat left top;}
#toTopHover {background:url(../images/ui.totop.png) no-repeat left -45px;width:45px;height:45px;display:block;overflow:hidden;float:left;opacity: 0;-moz-opacity: 0; filter:alpha(opacity=0);}
#toTop:active, #toTop:focus {outline:none;}

/* # Note
================================================== */

.mNote { 
	padding: 10px 13px 8px 13px; 
	margin: 12px 6px;
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; 
    box-shadow: 0 1px 2px #e9f3fb inset, 0 1px 1px #dfdfdf; -webkit-box-shadow: 0 1px 2px #e9f3fb inset, 0 1px 1px #dfdfdf; -moz-box-shadow: 0 1px 2px #e9f3fb inset, 0 1px 1px #dfdfdf;
    border: 1px solid #bcd9f3; 
	color: #4579aa;
    background: #deedf9;
	font-size: 13px; 
	text-shadow: 0 1px 0 #fff; 
}
