.otp_link{
	margin:0 auto;margin-top:10px; padding:0px; width:330px;margin-bottom:30px; overflow:hidden;}
.otp_link li{ list-style:none; float:left;margin-right:15px;}
.otp_link li:last-child{margin-right:0px;}
.otp_link li a{
	color:#FFF;
	height:40px;
	width:150px;
	display:block;
	font-size:18px;
	line-height:40px;
	text-align:center;
border: 1px solid #008852; box-shadow: 1px 1px 1px 0 #7fcda3 inset; -webkit-box-shadow: 1px 1px 1px 0 #7fcda3 inset; -moz-box-shadow: 1px 1px 1px 0 #7fcda3 inset;
background:-moz-linear-gradient(top,  #00A94F 0%, #008852 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00A94F), color-stop(100%,#008852));
background:-webkit-linear-gradient(top,  #00A94F 0%,#008852 100%);
background:-o-linear-gradient(top,  #00A94F 0%,#008852 100%);
background:-ms-linear-gradient(top,  #00A94F 0%,#008852 100%);
background:linear-gradient(top,  #00A94F 0%,#008852 100%);
background: #00A94F;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00A94F', endColorstr='#008852', GradientType=0 );}


.otp_title{line-height:30px; font-weight:bold; color:#008852}

.otp_title02{font-size: 16px; line-height:24px; font-weight: normal;}
.otp_title02::before{
	content:"◎ ";
	color:#008852;}

.otp_text{font-size:15px; line-height:24px; font-weight: normal; color:#333;}


.otp_green_title{font-size: 20px; line-height:30px; font-weight: normal; color:#008852; background:url(../images/otp/otp_icon.png) left center no-repeat; text-indent:33px; font-weight:bold;}

.otp_ul{ margin-bottom:10px;}
.otp_ul li{ list-style:disc; margin-left:20px;}

.otp_ol{ margin-bottom:10px;}
.otp_ol li{ list-style:decimal; margin-left:7px;}

.otp_poc{ position:relative;min-height:128px;}
.otp_arrow{ background:url(../images/otp/otp_right.png) no-repeat center center; display:inline-block; width:40px; height:40px; position:absolute;right:0px; top:50%; margin-top:-15px;}

.otp_pt40{ padding-top:40px;}
.otp_pt30{ padding-top:30px;}
.otp_pr50{ padding-right:45px;}
.otp_bgGrey{
	font-size:16px;
	font-weight:bold;
	padding: 10px; 
    display: block;
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
    background: #f5f5f5;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.12); 
	-moz-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.12); 
	-webkit-box-shadow: inset 0 0 6px  rgba(0, 0, 0, 0.12);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.otp_bgwhite{
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	padding: 10px; 
    display: block;
}
.otp_bgwhite img{
	border-radius:8px; 
	-webkit-border-radius:8px; 
	-moz-border-radius: 8px;
	border:1px solid #999;
	margin-top:10px;}
	
.otp_bgwhite img.min{
	max-width:150px;}
	
	
.otp_bgwhite_no{
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	padding: 10px; 
    display: block;
}
.otp_bgwhite_no img{ max-width:150px;}


/*=== Button ===*/
.otp_btn{border: 1px solid #008852; box-shadow: 1px 1px 1px 0 #7fcda3 inset; -webkit-box-shadow: 1px 1px 1px 0 #7fcda3 inset; -moz-box-shadow: 1px 1px 1px 0 #7fcda3 inset;
background:-moz-linear-gradient(top,  #00A94F 0%, #008852 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00A94F), color-stop(100%,#008852));
background:-webkit-linear-gradient(top,  #00A94F 0%,#008852 100%);
background:-o-linear-gradient(top,  #00A94F 0%,#008852 100%);
background:-ms-linear-gradient(top,  #00A94F 0%,#008852 100%);
background:linear-gradient(top,  #00A94F 0%,#008852 100%);
background: #00A94F;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00A94F', endColorstr='#008852', GradientType=0 );

padding:10px 20px;}

.otp_btn a{ color:#fff !important; text-decoration:none !important;}


@media only screen and (min-width: 480px) and (max-width: 767px) {
.otp_bgwhite_no .grid3{ width:100%;}
	
	}
@media only screen and (max-width: 479px) {
	.otp_bgwhite_no .grid3{
		width:100%;}
	}