@charset "utf-8";
*:not(.checked){
	background: transparent !important;
	box-shadow:none !important;
	text-shadow: none !important;
	filter:none !important;
	-ms-filter: none !important;
}
a, a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: "";
}
abbr[title]:after {
	content: "";
}
 .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
content: "";
}
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr, img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
 @page {
margin: 0.5cm;
}
p, h2, h3 {
	orphans: 3;
	widows: 3;
}
h2, h3 {
	page-break-after: avoid;
}
body {
	margin:0;
	padding:0;
	line-height: 1.4em;
	word-spacing:1px;
	letter-spacing:0.2px;
	font: 13px 微軟正黑體;
}
#top, #navigation, #utility, #sidenav, #sidebar, #asidebar, #footer,.titleToolbar, .top-wrapper, .navigation-wrapper, .signinMsg, .fontResize, .footer-wrapper, .buttonL,.viewSwitch,.breadcrumb{
	display: none;
}
.content, .content-full, .content-narrow, .content-middle {
	width: auto;
	margin: 0 2%;
	padding: 0;
	border: 0;
	float: none !important;
}
.widget, .widget .widgetBody {
	border: 1px solid #fff;
}
.widget .body {
	padding: 2px;
}
.widget .contentArea {
	padding: 2px;
}
.chart { width: 110%; min-width: 200px; margin:0 0 0 -50px; float: left;}
#content { position:absolute;width:100%;}