/* # Responsive styles
================================================== */
@media only screen and (min-width: 1199px) {
    .logo-wrapper {
        margin: 8px 0 0 10px;
    }

    .logo img {
        max-width: 190px;
    }

    .pad-and-pc {
        display: block;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .logo-wrapper {
        margin: 6px 0 0 10px;
    }

    .logo img {
        max-width: 190px;
    }

    .pad-only {
        display: none;
    }

    .pad_pc {
        display: block;
    }

    .pad-and-pc {
        display: block;
    }

    .content-narrow {
        margin-right: 0;
    }

    .messages-count {
        margin: 3px 0 0 52px;
    }

    .messageArrow {
        background: url(../images/message-top.png) no-repeat 173px 0;
    }

    #asidebar {
        display: none;
    }

    ul.userNav li a {
        width: 90px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1059px) {
    .logo-wrapper {
        margin: 12px 0 0 10px;
    }

    .logo img {
        max-width: 150px;
    }

    .textOverlay {
        top: 36px;
        font-size: 20px;
        line-height: 24px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 980px) {
    .logo img {
        max-width: 143px;
    }

    ul.userNav li a {
        width: 84px;
    }
}

@media only screen and (max-width: 959px) {



    .pad-800-hidden {
        display: none;
    }

    .pad-800 {
        display: block;
    }
    /*.month-scroll, .month-scroll-medium, .month-scroll-extra{ width: 360px; }
.month-scroll-medium li a{ width: 116px;}
.month-scroll-extra li a{ width: 116px;}
.statementMonthExtra, .statementYearExtra { width: 96px; }
.minimumPayment { width: 96px; }
.controlRight{ right:3%;  }
.controlLeft{ left: 3%; }
*/
    #sidenav, #sidebar, #asidebar {
        display: none;
    }
    /*.bGrey.h120 { height: 180px;}*/
    body {
        -webkit-text-size-adjust: none;
    }

    .pc-only, .pad-only, .mobile-hidden, .pad_pc, .pad-and-pc {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .mclear {
        clear: both;
        display: block;
    }

    #top {
        height: 42px;
    }

    .top-wrapper {
        margin: 0;
    }

    .logo-wrapper {
        margin: 6px 0 0 10px;
    }

    .logo img {
        max-width: 100px;
    }

    .navPrev, .navNext, .navNew {
        display: none;
    }

    .fontResize {
        display: none;
    }

    #content {
        margin: 8px 5px 5px;
    }

    .content {
        margin-right: 0px;
    }

    .content-narrow {
        margin-right: 0px;
        margin-left: 0;
    }

    .navigation-wrapper {
        margin: 0 5px;
    }

    .tabLayout {
        display: none;
    }

    .signinMsg {
        left: 10px;
    }

    .modalSmall, .modalMedium, .modalLarge {
        top: 150px;
    }

    .bannersHolder {
        padding: 0 0 30px 0;
        height: auto;
    }

    /*.fluid .grid1, .fluid .grid2,.fluid .formUnit.grid3, .fluid .grid4, .fluid .grid5,.fluid .grid6 ,.fluid .grid7, .fluid .grid8, .fluid .grid9,.fluid .grid10, .fluid .grid11, .fluid .grid12, .fluid .grid66 { width: 100%; *width: 98%; margin-left:0; }*/
    .widget .body {
        padding: 5px;
    }

    .widget .contentArea {
        padding: 7px;
    }

    .widgetNotes {
        padding: 8px 8px 5px;
    }

    .widget ol {
        padding-left: 12px;
    }

    .fundAr {
        font-size: 17px;
    }

    .rankBoard .grid6 {
        width: 48.93617020799999%;
        *width: 47%;
        margin-left: 2.127659574%;
        *margin-left: 2.0744680846382977%;
    }

    .rankBoard .grid5 {
        width: 40.425531911%;
        *width: 38%;
        margin-left: 2.127659574%;
        *margin-left: 2.0744680846382977%;
    }

    .rankBoard .grid2 {
        width: 14.89361702%;
        *width: 13%;
        margin-left: 2.127659574%;
        *margin-left: 2.0744680846382977%;
    }

    .cardBox .grid3, .mSet .grid3 {
        width: 23.404255317%;
        *width: 21%;
        margin-left: 2.127659574%;
        *margin-left: 2.0744680846382977%;
    }

    .cardBox .grid6 {
        width: 74.468085099%;
        *width: 73%;
        margin-left: 2.127659574%;
        *margin-left: 2.0744680846382977%;
    }

    .cardBtn {
        clear: both;
        width: 98%;
        display: block;
        text-align: right;
    }

    .cardNote {
        border-left: none;
        padding-left: 0;
    }

    .cardDropArrow {
        background: none;
    }

    #accountList .toggler div.submenuIcon {
        padding: 5px 5px 2px 0;
    }

    .accountItem {
        padding: 0 0 20px 80px;
    }

    .checking {
        background: url(../images/ico-gui.png) no-repeat 5px 0;
    }

    .dollar {
        background: url(../images/ico-gui.png) no-repeat 5px -165px;
    }

    .widgetFooter .grid4 .textR {
        text-align: center;
    }

    .container ul .grid2 {
        width: 30%;
    }

    .widgetArea {
        padding: 30px 10px 0 10px;
    }

    .dataRow {
        padding: 1px 10px 0px;
    }

    .dataName {
        margin-top: 2px;
    }

    .footer-wrapper {
        padding: 10px;
        margin: 0px;
        height: 118px;
    }

    .footer-links {
        text-align: center;
        float: none;
        margin: 0 auto;
    }

    .footer-notice {
        text-align: center;
        float: none;
        margin-top: 10px;
    }

    ul.viewTab {
        margin: 0 110px 0 0;
    }

    ul.wtab li {
        margin: 0 1px;
    }

        ul.wtab li a {
            padding: 8px 5px;
        }

    .GridEmpty td:before {
        display: none;
    }

    .GridEmpty tbody {
        color: red;
    }
    /*.tipsy-inner,.tipsy-arrow { display: none; }*/

    .event-row {
        margin: 0;
    }

    .mb10 {
        margin-bottom: 10px;
    }

    .award-box {
        margin-bottom: 10px;
    }

    ul.enav {
        padding: 4px 0 0 0;
    }

        ul.enav li a {
            font-weight: bold;
            padding: 5px 6px 3px;
            font-size: 12px;
        }

        ul.enav li {
            margin: 0 2px 4px 2px;
        }

    .vipPic, .vipServer {
        float: none;
    }

    .imgMask {
        background: none;
    }

    .mblk {
        display: block;
        margin-left: 0;
    }

    .breadcrumb li a {
        padding: 0 16px 0 20px;
        font-size: 11px;
        line-height: 13px;
    }

    .fc-header tbody td {
        padding: 0 0 0 0%;
    }

    .fc-header tbody, .fc-header th, .fc-header td, .fc-header tr {
        display: block;
        text-align: left;
        width: 100%;
    }

    .fc-header-title {
        margin-bottom: 10px;
    }

        .fc-header-title h2 {
            font-size: 16px;
        }

    .otp-demo-holder {
        width: 220px;
    }

    .otp-demo-scroll {
        width: 220px;
    }

    .reviewNav a.reRight {
        margin-right: 8px;
    }

    /*.checking,
.checkingDollar,
.loan,
.loanBack,
.saving,
.savingDollar,
.creditcard { 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}*/
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    body {
        -webkit-text-size-adjust: none;
    }

    .pc-only, .mobile-only, .mobile-350, .mobile-480 {
        display: none;
    }

    .pad-only {
        display: block;
    }

    .logo-wrapper {
        margin: 18px 0 0 10px;
    }

    .logo img {
        max-width: 120px;
    }

    ul.userNav {
        font-size: 11px;
    }

        ul.userNav li a {
            width: 79px;
        }

    .messages-count {
        margin: 3px 0 0 46px;
    }

    .messageArrow {
        background: url(../images/message-top.png) no-repeat 195px 0;
    }

    ul#nav li a {
        padding: 4px 6px 3px;
    }

    .fontResize {
        display: none;
    }

    .content-narrow {
        margin-right: 0;
    }

    #asidebar {
        display: none;
    }

    /*.fluid .grid6 { width: 100%; *width: 97%; margin-left:0;}
.rankBoard .grid6 { width: 48.93617020799999%; *width: 47%; margin-left: 2.127659574%; *margin-left: 2.0744680846382977%;}
.cardBox .grid6 { width: 48.93617020799999%; *width: 48.88297871863829%; margin-left: 2.127659574%; *margin-left: 2.0744680846382977%; }*/
    .fluid .grid6 {
        width: 100%;
        *width: 97%;
        margin-left: 0;
    }



    /*.tipsy-inner,.tipsy-arrow { display: none; }*/

    #main-nav {
        margin: 5px 0 0 0;
        width: 100%;
    }

    ul.main-nav {
        text-align: center;
        clear: left;
        float: left;
        list-style: none;
        position: relative;
        left: 50%;
        margin: 0 auto 0;
    }

        ul.main-nav li {
            right: 50%;
        }

    .award-total {
        height: 80px;
    }

    ul.enav {
        padding: 4px 0 0 0;
    }

        ul.enav li a {
            font-weight: bold;
            padding: 5px 6px 3px;
            font-size: 14px;
        }

        ul.enav li {
            margin: 0 2px 4px 2px;
        }

    .modalLarge {
        margin-left: -350px;
        width: 700px;
    }

    .fc-header-title h2 {
        font-size: 18px;
    }

    .otp-demo-holder {
        width: 220px;
    }

    .otp-demo-scroll {
        width: 220px;
    }

    .grandDate {
        font-size: 20px;
    }

    .superTitle {
        font-size: 30px;
    }

    .h120 {
        height: 140px;
    }

    .textOverlay {
        right: 20px;
        top: 26px;
        font-size: 16px;
        line-height: 22px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 860px) {
    .logo-wrapper {
        margin: 18px 0 0 10px;
    }

    .logo img {
        max-width: 110px;
    }

    ul.userNav li a {
        width: 70px;
    }
}

@media only screen and (max-width: 767px) {
    .tDefault tbody td {
        padding: 0 0 0 42%;
    }

    .tDefault.tLong tbody td {
        padding: 0 0 0 70%;
    }

    .tDefault table, .tDefault thead, .tDefault tbody, .tDefault th, .tDefault td, .tDefault tr {
        display: block;
    }

        .tDefault thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .tDefault tbody td, .tDefault thead td {
            border-left: none;
        }

        .tDefault tbody tr {
            border-top: 2px solid #ccc;
        }

            .tDefault tbody tr:first-child {
                border-top: none;
            }

    .tDefault tr {
        border: none;
    }

    .tDefault td {
        border: none;
        position: relative;
        text-align: left;
        border-bottom: 1px solid #dfdfdf;
        word-wrap: break-word;
        word-break: break-all;
    }

        .tDefault td:before {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 40%;
            padding: 0 2px;
            text-shadow: 1px 1px 2px rgba(0,0,0,.2);
            white-space: pre-wrap;
            text-align: left;
            font-weight: normal;
            color: #fff;
            height: 100%;
            border-bottom: 1px solid #bbb;
            word-wrap: break-word;
            word-break: break-all;
        }

    .tDefault.tLong td:before {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 68%;
        padding: 0 2px;
        text-shadow: 1px 1px 2px rgba(0,0,0,.2);
        white-space: pre-wrap;
        text-align: left;
        font-weight: normal;
        color: #fff;
        height: 100%;
        border-bottom: 1px solid #bbb;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tDefault td:before {
        content: attr(data-title);
    }

    .str-hidden {
        display: none;
    }

    .fluid .grid1, .fluid .grid2, .fluid .formUnit.grid3, .fluid .grid4, .fluid .grid5, .fluid .grid6, .fluid .grid7, .fluid .grid8, .fluid .grid9, .fluid .grid10, .fluid .grid11, .fluid .grid12, .fluid .grid66 {
        width: 100%;
        *width: 98%;
        margin-left: 0;
    }

    #multi-transfer-container .grid4 {
        width: 80%;
    }

    .month-scroll, .month-scroll-medium, .month-scroll-extra {
        width: 360px;
    }

        .month-scroll-medium li a {
            width: 116px;
        }

        .month-scroll-extra li a {
            width: 116px;
        }

    .statementMonthExtra, .statementYearExtra {
        width: 96px;
    }

    .minimumPayment {
        width: 96px;
        padding: 15px 10px;
    }

    .controlRight {
        right: 3%;
    }

    .controlLeft {
        left: 3%;
    }

    /*兩分鐘快速教學*/
    .teach {
        display: none !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .mobile-350 {
        display: none;
    }

    .mobile-480 {
        display: block;
    }

    .widgetSearch {
        width: 240px;
    }

    ul.userMobileNav li {
        padding: 14px 5px 0px;
    }

    .chzn-container-single .chzn-search input {
        display: none;
    }

    .pbox {
        display: block;
        height: 90px;
        padding: 0px;
    }

    ul.main-nav {
        margin: 0 0 0 22px;
    }

        ul.main-nav li a {
            font-size: 13px;
            width: 160px;
        }

    .bannersHolderAlt {
        width: 99.5225%;
    }

    .modalSmall, .modalMedium, .modalLarge {
        margin-left: -200px;
        width: 400px;
    }

    .vipHolder {
        max-width: 450px;
    }

    #otp-demo {
        top: 0px;
    }

    .otp-demo-holder {
        height: 290px;
    }

    .otp-demo-scroll {
        height: 290px;
    }
    /*.tVertical tbody th { width: 80px;}*/

    .month-scroll, .month-scroll-medium {
        width: 300px;
    }

    .month-scroll-extra {
        width: 300px;
        height: 198px;
    }

    .month-scroll-medium li a {
        width: 96px;
    }

    .month-scroll-extra li a {
        width: 96px;
        height: 252px;
    }

    .statementMonthExtra, .statementYearExtra {
        width: 76px;
    }

    .statementMonthExtra {
        font-size: 24px;
    }

    .minimumPayment {
        width: 76px;
    }

    .controlRight {
        right: 3%;
    }

    .controlLeft {
        left: 3%;
    }

    .textOverlay {
        right: 12px;
        top: 24px;
        font-size: 17px;
        line-height: 22px;
    }

    .fix-width-06 {
        width: auto;
    }

    .fix-width-10 {
        width: auto;
    }

    .fix-width-12 {
        width: auto;
    }

    .fix-width-14 {
        width: auto;
    }

    .fix-width-15 {
        width: auto;
    }

    .fix-width-18 {
        width: auto;
    }

    .fix-width-20 {
        width: auto;
    }

    .fix-width-24 {
        width: auto;
    }

    .fix-width-28 {
        width: auto;
    }

    .fix-width-31 {
        width: auto;
    }
}

@media only screen and (max-width: 479px) {
    .mobile-480 {
        display: none;
    }

    .mobile-350 {
        display: block;
    }

    .C0202Bill .tDefault td:before {
        width: 60%;
    }

    .C0202Bill .tDefault tbody td {
        padding: 0 0 0 63%;
    }

    .fluid .grid1, .fluid .grid2, .fluid .grid25, .fluid .formUnit.grid3, .fluid .grid4, .fluid .grid5, .fluid .grid6, .fluid .grid7, .fluid .grid8, .fluid .grid9, .fluid .grid10, .fluid .grid11, .fluid .grid12, .fluid .grid66 {
        width: 100%;
        *width: 98%;
        margin-left: 0;
    }

    .pbox {
        display: block;
        height: 20px;
        padding: 0px;
    }

    #top {
        height: 91px;
    }

    .logo-wrapper {
        text-align: center;
        margin: 5px auto 5px;
        width: 100%;
    }

    .logo img {
        max-width: 145px;
    }

    .topNav {
        float: right;
        left: -50%;
        text-align: left;
    }

    ul.userMobileNav {
        text-align: center;
        left: 50%;
        margin: 0 auto 0;
        position: relative;
    }

        ul.userMobileNav li {
            padding: 14px 14px 0px;
        }

            ul.userMobileNav li a {
                display: block;
                text-align: center;
                cursor: pointer;
            }

    .widgetSearch {
        width: 100px;
    }

    .chzn-container-single .chzn-search input {
        display: none;
    }

    .datesRange li input[type=text] {
        width: 100px!important;
    }

    ul.main-nav {
        margin: 0 0 0 0px;
    }

        ul.main-nav li a {
            font-size: 11px;
            width: 125px;
        }

    .bannersHolderAlt {
        width: 99.3225%;
    }

    .modalSmall, .modalMedium, .modalLarge {
        margin-left: -150px;
        width: 300px;
    }

    .vipHolder {
        max-width: 320px;
    }

    .vipPic {
        margin: 0 auto;
    }
    /*.chart { width: 320px;}*/

    #otp-demo {
        top: 50px;
    }

    .otp-demo-holder {
        height: 380px;
    }

    .otp-demo-scroll {
        height: 380px;
    }
    /*.tVertical tbody th { width: 40px;}*/

    .footer-wrapper {
        padding: 10px;
        margin: 0px;
        height: 45px;
    }

    .footer-links {
        text-align: center;
        float: none;
        margin-top: 0px;
        width: 100%;
    }

    .footer-notice {
        display: none;
    }

    #toTop {
        bottom: 80px;
    }

    .month-scroll, .month-scroll-medium {
        width: 250px;
        height: 188px;
    }

    .month-scroll-extra {
        width: 250px;
        height: 228px;
    }

        .month-scroll li a, .month-scroll-medium li a, .month-scroll-extra li a {
            margin: 0 2px 30px 2px;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
        }

    .month-scroll li a {
        margin: 0 2px;
        padding: 0 2px;
    }

    .month-scroll li {
        width: 40px !important;
        margin: 0 2px;
        padding: 0;
    }

    .month-scroll-medium li a {
        width: 66px;
        height: 152px;
    }

    .month-scroll-extra li a {
        width: 66px;
        height: 232px;
    }

    .statementMonthExtra, .statementYearExtra {
        width: 50px;
        padding: 15px 8px;
    }

    .statementMonthExtra {
        font-size: 17px;
    }

        .statementMonthExtra strong {
            display: block;
        }

    .minimumPayment {
        width: 50px;
        padding: 15px 8px;
    }

    .controlRight {
        right: 1%;
    }

    .controlLeft {
        left: 1%;
    }

    .miniAmount {
        font-size: 16px;
    }

    .modalSmall {
        margin-left: -160px;
        width: 320px;
    }

    .modalMedium {
        margin-left: -160px;
        width: 320px;
    }

    .modalLarge {
        margin-left: -160px;
        width: 320px;
    }

    .grid3 .dataAmountBlock {
        font-size: 18px;
    }

    .bGrey.h120 {
        height: 220px;
    }

    .statement .statementYear, .statement .statementMonth {
        width: 34px;
        font-size: 18px;
        padding: 5px 0px 7px 0px;
    }

    .textOverlay {
        right: 12px;
        top: 15px;
        font-size: 11px;
        line-height: 14px;
    }
    /*add 11132013*/
    .accountNumber, .accountNumberAlt, .accountNumberAlt2 {
        font-size: 16px;
        line-height: 22px;
    }

    .grandDate {
        font-size: 16px;
    }

    .tbDate {
        font-size: 16px;
    }

    .dataAmount, .dataAmountBlock {
        font-size: 16px;
    }

    .dataText {
        font-size: 14px;
    }

    .accountItem {
        padding: 0 0 20px 58px;
    }
    /*.accountItemAlt { padding: 0 0 40px 58px; }
.accountItemAlt2 { padding: 0 0 40px 58px;}*/
    /* # Vertical autofund bar 12122013*/
    .fundHolder {
        position: relative;
        padding-bottom: 0;
        width: 100%;
        height: 550px;
    }

    .fundArRight {
        float: none;
        width: 100%;
        height: 45px;
        background: #fff url(../images/autofund-bar-top.png) left top no-repeat;
        position: absolute;
        top: 0;
    }

    .fundBkRight {
        float: none;
        height: 120px;
        padding-top: 16px;
        padding-left: 23px;
        text-align: left;
        width: 180px;
        background: #fff url(../images/autofund-bar-middle.png) left top repeat-y;
        position: absolute;
        top: 45px;
    }

    .fundSepRight {
        float: none;
        width: auto;
        height: 20px;
        background: #fff url(../images/autofund-bar-seperate.png) left center no-repeat;
        padding-left: 210px;
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        top: 181px;
    }

    .fundBk {
        float: none;
        height: 120px;
        padding-top: 16px;
        padding-left: 23px;
        text-align: left;
        width: 180px;
        background: #fff url(../images/autofund-bar-middle.png) left top repeat-y;
        position: absolute;
        top: 201px;
    }

    .fundSepLeft {
        float: none;
        width: auto;
        height: 20px;
        background: #fff url(../images/autofund-bar-seperate.png) left center no-repeat;
        padding-left: 210px;
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        top: 337px;
    }

    .fundBkLeft {
        float: none;
        height: 120px;
        padding-top: 16px;
        padding-left: 23px;
        text-align: left;
        width: 180px;
        background: #fff url(../images/autofund-bar-middle.png) left top repeat-y;
        position: absolute;
        top: 357px;
    }

    .fundArLeft {
        float: none;
        width: 100%;
        height: 45px;
        background: #fff url(../images/autofund-bar-bottom.png) left bottom no-repeat;
        position: absolute;
        top: 493px;
    }

    .fundMd {
        top: 271px;
        left: 210px;
        position: absolute;
        line-height: 20px;
        margin-top: -10px;
        text-align: left;
    }

    .fundBkClear {
        height: auto;
        padding-top: 0;
    }

    .mt186 {
        margin-top: 0;
    }

    .mt25h45 {
        margin-top: 0;
        height: auto;
        text-align: left;
    }

    .fundHolder .vtext {
        width: 160px !important;
        position: relative;
    }

    .fundHolder .grid12 {
        width: auto;
    }
    /*for P0302hyperlink*/
    .p0302link {
        font-size: 11px;
    }


    .fix-width-06 {
        width: auto;
    }

    .fix-width-10 {
        width: auto;
    }

    .fix-width-12 {
        width: auto;
    }

    .fix-width-14 {
        width: auto;
    }

    .fix-width-15 {
        width: auto;
    }

    .fix-width-18 {
        width: auto;
    }

    .fix-width-20 {
        width: auto;
    }

    .fix-width-24 {
        width: auto;
    }

    .fix-width-28 {
        width: auto;
    }

    .fix-width-31 {
        width: auto;
    }
}
