/* # Skin (default)
==================================================
	
    === nav ===	
	#00A94F dark green
	#00A94F fresh green
	#e5f3e6 super light silver
	#cfe8d3 light silver
	#b7debf silver
	
    === submenu ===	
	#006a33 deep grey
	#018f5d dark grey
	#009b49 grey
	
    === footer ===	
	#cfe8d3 bright green
	
    === button ===	
	#c3dfd1 glow black
	#2ea17a ~ #006a33 black
	
    === widget head ===	
	#e5f3e6 ~ #cfe8d3  light grey
	#cfe8d3 ~ #71c48c  dark grey
	#00A94F ~ #00A94F  green
	
    === table ===	
	#53bc7a light grey
	#e5f3e6 super light grey
	
==================================================*/

/*=== General styles ===*/
body { color: #000; }
#main-wrapper { background: url(../images/bg-cream.jpg) repeat-x top; }

/*=== Top part ===*/
#top { border-bottom: 5px solid #00A94F; }
ul.userNav li { background: #e5f3e6; border-top: 3px solid #e5f3e6;}
ul.userNav li a { color: #004b31;}
ul.userNav li a:hover { color: #008852;}
ul.userNav li:hover { background-color: #cfe8d3; border-top: #cfe8d3 3px solid; }
ul.userNav li.current{ background-color: #00A94F; border-top: #275e0d 3px solid; }
ul.userNav li:active{ background-color: #b7debf; border-top: #00A94F 3px solid;color: #004b31;}
ul.userMobileNav { background: #e5f3e6;}
ul.userMobileNav li a { color: #004b31;}
ul.userMobileNav li a:hover { color: #008852;}
ul.userMobileNav li:hover { background-color: #cfe8d3; }
ul.userMobileNav li.current { background-color: #00A94F; }
ul.userMobileNav li:active{ background-color: #b7debf;}


/*=== Navigation ===*/
.navigation-wrapper { border-bottom: #00A94F 3px solid; }
ul#nav li, ul#m-nav li { background: #fafaf3;}
ul#nav li a, ul#m-nav li a { color: #004b31;}
ul#nav li:hover, ul#m-nav li:hover { background-color: #00A94F; }
ul#nav li.current, ul#nav li.current:active, ul#m-nav li.current, ul#m-nav li.current:active{ background-color: #00A94F;}
ul#nav li:active, ul#m-nav li:active{ background-color: #00A94F;}
.navPrev {background: #00A94F url(../images/nav-scroll.png) no-repeat 0 1px;}
.navNext {background: #00A94F url(../images/nav-scroll.png) no-repeat 0 -24px;}
.navNew {background: #00A94F url(../images/nav-scroll.png) no-repeat 0 -51px;}
.navPrev:hover, .navNext:hover, .navNew:hover  {background-color: #00A94F; }
.mSearchs { background: #e5f3e6 url(../images/icon-mobile-nav.png) no-repeat center 5px;}
.mMessages { background: #e5f3e6 url(../images/icon-mobile-nav.png) no-repeat center -26px;}
.mSettings { background: #e5f3e6 url(../images/icon-mobile-nav.png) no-repeat center -59px;}
.mSearchs:hover, .mMessages:hover, .mSettings:hover, .mMessages.current, .mSettings.current { background-color: #00A94F; }
.mMessagePanel { border-top: #00A94F 3px solid;}

.tabLayout { background:#cfe8d3;}

.currentServices { background: #00A94F url(../images/action-tab-trigger.png) right 4px no-repeat; }
.allServices { background: #00A94F }
.currentServices.active{ background: #00A94F url(../images/action-tab-trigger.png) right -26px no-repeat;}

.triggerServices {  background: #e5f3e6; }
.triggerServices:hover { background: #00A94F; text-shadow: 1px 1px 0 #666; color: #fff;}
.triggerServices.active{ background: #006a33;}

.navServices{ background: #006a33; }
.navServices li a{  border-bottom: 1px solid #666; }
.navServices li:hover{ background: #000; }

/*=== Font resize ===*/
.fontsizeM, .fontsizeD, .fontsizeP{ border-right: 1px solid #00A94F; }

/*=== Sidebar ===*/
.bannersHolder, .bannersHolderAlt{ 
    background: #b7debf;
    background: -moz-linear-gradient(top,  #e5f3e6 0%, #b7debf 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5f3e6 ), color-stop(100%,#b7debf));
    background: -webkit-linear-gradient(top,  #e5f3e6 0%,#b7debf 100%);
    background: -o-linear-gradient(top,  #e5f3e6 0%,#b7debf 100%);
    background: -ms-linear-gradient(top,  #e5f3e6 0%,#b7debf 100%);
    background: linear-gradient(top,  #e5f3e6 0%,#b7debf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f3e6', endColorstr='#b7debf',GradientType=0 );
}
#submenu .container a, #mobileSubmenu .container a, #padSubmenu .container a{ background: #f7f7f7 url(../images/rightArrowLight2.png) repeat-y 15px center;font-weight:bold;}
#submenu .container a:hover, #mobileSubmenu .container a:hover, #padSubmenu .container a:hover{ background: #f7f7f7 url(../images/rightArrowLight.png) no-repeat 15px center;color:#008852;}
#submenu .container li a.current, #mobileSubmenu .container li a.current, #padSubmenu .container li a.current{ background: #f7f7f7 url(../images/rightArrowLight-green.png) no-repeat 15px center;color:#00A94F;}
#mobileSubmenu ul{ border: 4px solid #00A94F; border-top:none;}
.sepDark { border-top: 4px solid #00A94F;}

/*=== Footer ===*/
#footer{ background: #00A94F url(../images/footer-bg.jpg) no-repeat center top;}

/*=== Button ===*/
.bBlack {  color:#fff !important; text-decoration:none !important; border: 1px solid #008852; box-shadow: 1px 1px 1px 0 #7fcda3 inset; -webkit-box-shadow: 1px 1px 1px 0 #7fcda3 inset; -moz-box-shadow: 1px 1px 1px 0 #7fcda3 inset;
background: #008852 url(../images/sprite.png);
background-image: url(../images/sprite.png), -moz-linear-gradient(top,  #00A94F 0%, #008852 100%);
background-image: url(../images/sprite.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00A94F), color-stop(100%,#008852));
background-image: url(../images/sprite.png), -webkit-linear-gradient(top,  #00A94F 0%,#008852 100%);
background-image: url(../images/sprite.png), -o-linear-gradient(top,  #00A94F 0%,#008852 100%);
background-image: url(../images/sprite.png), -ms-linear-gradient(top,  #00A94F 0%,#008852 100%);
background-image: url(../images/sprite.png), linear-gradient(top,  #00A94F 0%,#008852 100%);
}
.bBlack:hover,.bBlack:active { box-shadow:none; -webkit-box-shadow:none; -moz-box-shadow:none;border: 1px solid #002c1d;
box-shadow: 0 0 3px #004b31 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 3px #004b31 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 3px #004b31 inset, 0 1px 0 #fff;
}

.ie7 .bBlack.icoAnalysis,.ie8 .bBlack.icoAnalysis {background: #008852 url(../images/sprite.png) 10px -86px no-repeat ;}
.ie7 .bBlack.icoDownload,.ie8 .bBlack.icoDownload {background: #008852 url(../images/sprite.png) 10px -128px no-repeat ;}
.ie7 .bBlack.icoPrint,.ie8 .bBlack.icoPrint {background: #008852 url(../images/sprite.png) 10px -258px no-repeat ;}
.ie7 .bBlack.icoQuery,.ie8 .bBlack.icoQuery {background: #008852 url(../images/sprite.png) 10px -723px no-repeat ;}
.ie7 .bBlack.icoBack,.ie8 .bBlack.icoBack {background: #008852 url(../images/sprite.png) 10px -430px no-repeat ;}
.ie7 .bBlack.icoNext,.ie8 .bBlack.icoNext {background: #008852 url(../images/sprite.png) 10px -301px no-repeat ;}
.ie7 .bBlack.icoCheck,.ie8 .bBlack.icoCheck {background: #008852 url(../images/sprite.png) 10px -554px no-repeat ;}
.ie7 .bBlack.icoCancel,.ie8 .bBlack.icoCancel {background: #008852 url(../images/sprite.png) 10px -680px no-repeat ;}
.ie7 .bBlack.icoSetting,.ie8 .bBlack.icoSetting {background: #008852 url(../images/sprite.png) 10px -638px no-repeat ;}
.ie7 .bBlack.icoEmail,.ie8 .bBlack.icoEmail {background: #008852 url(../images/sprite.png) 10px -514px no-repeat ;}
.ie7 .bBlack.icoAdd,.ie8 .bBlack.icoAdd {background: #008852 url(../images/sprite.png) 10px -850px no-repeat ;}
.ie7 .bBlack.icoSave,.ie8 .bBlack.icoSave {background: #008852 url(../images/sprite.png) 10px -344px no-repeat ;}
.ie7 .bBlack.icoHeart,.ie8 .bBlack.icoHeart {background: #008852 url(../images/sprite.png) 10px -944px no-repeat ;}
.ie7 .bBlack.icoTimer,.ie8 .bBlack.icoTimer {background: #008852 url(../images/sprite.png) 10px -994px no-repeat ;}
.ie7 .bBlack.icoMsg,.ie8 .bBlack.icoMsg {background: #008852 url(../images/sprite.png) 10px -1044px no-repeat ;}
.ie7 .bBlack.icoEdit,.ie8 .bBlack.icoEdit {background: #008852 url(../images/sprite.png) 10px -216px no-repeat ;}
.ie7 .bBlack.icoResult,.ie8 .bBlack.icoResult {background: #008852 url(../images/sprite.png) 10px -765px no-repeat ;}
.ie7 .bBlack.icoLottery,.ie8 .bBlack.icoLottery {background: #008852 url(../images/sprite.png) 10px -1097px no-repeat ;}


/*=== Overview, Settings ===*/
#widgetLists .container a.active{ background: #00A94F;}
.langBox.active{ background: #00A94F;}
.themeBox.active{ border: 4px solid #00A94F; }

/*=== Widget ===*/
.whead, .wheadDark { color: #008852; }
.whead { 
    color:#FFF; 
	background: #008852;
	background: -moz-linear-gradient(top,  #00A94F 0%, #008852 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00A94F), color-stop(100%,#008852));
	background: -webkit-linear-gradient(top,  #00A94F 0%,#008852 100%);
	background: -o-linear-gradient(top,  #00A94F 0%,#008852 100%);
	background: -ms-linear-gradient(top,  #00A94F 0%,#008852 100%);
	background: linear-gradient(top,  #00A94F 0%,#008852 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00A94F', endColorstr='#008852',GradientType=0 );
}
.wheadDark {
	background: #dfdfdf;
	background: -moz-linear-gradient(top,  #f1f1f1 0%, #dfdfdf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1 ), color-stop(100%,#dfdfdf));
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#dfdfdf 100%);
	background: -o-linear-gradient(top,  #f1f1f1 0%,#dfdfdf 100%);
	background: -ms-linear-gradient(top,  #f1f1f1 0%,#dfdfdf 100%);
	background: linear-gradient(top,  #f1f1f1 0%,#dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dfdfdf',GradientType=0 );
}
.wheadGreen {  
	background: #008852;
	background: -moz-linear-gradient(top,  #00A94F 0%, #008852 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00A94F ), color-stop(100%,#008852));
	background: -webkit-linear-gradient(top,  #00A94F 0%,#008852 100%);
	background: -o-linear-gradient(top,  #00A94F 0%,#008852 100%);
	background: -ms-linear-gradient(top,  #00A94F 0%,#008852 100%);
	background: linear-gradient(top,  #00A94F 0%,#008852 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00A94F', endColorstr='#008852',GradientType=0 );
}

ul.viewTab li a.viewGraphic:hover, ul.viewTab li a.viewTable:hover, ul.viewTab li a.viewGraphic.active, ul.viewTab li a.viewTable.active { border-top: 2px solid #00A94F; }
ul.wtab li.ui-tabs-selected, ul.mtab li.ui-tabs-selected, ul.stab li.ui-tabs-selected,  ul.ntab li.ui-tabs-selected{ border-top: 4px solid #00A94F; }
ul.wtab li:hover, ul.mtab li:hover, ul.stab li:hover, ul.ntab li:hover{ border-top: 4px solid #00A94F; }
ul.wtab li:active, ul.mtab li:active, ul.stab li:active, ul.ntab li:active{ border-top: 4px solid #00A94F;}

.bGrey { background: #f5f5f5;}
.bDarkGrey { background: #999;}

.liArticle li:nth-child(even) { background: #f5f5f5 url(../images/subnav_arrow.png) no-repeat 3px  8px;}
.liArrowAlt li:nth-child(even) { background: #f5f5f5 url(../images/subnav_arrow.png) no-repeat 8px 15px;}

/*=== Widget table ===*/
.tDefault thead td { background-color: #d1d1d1!important;font-weight:bold;}
.tDefault tbody tr:nth-child(even) { background: #EBEBEB; }
.tVertical tbody th { background: #d1d1d1; }
.tVertical tbody tr:nth-child(even) { background: #EBEBEB; }
.ie7 .even-ie { background: #EBEBEB!important; }
.ie8 .even-ie { background: #EBEBEB!important; }
/*=== Widget breadcrumb ===*/
.breadcrumb li a{ background-image:url(../images/breadcrumb-green.png); }

/*=== Dashboard alternative ===*/
#dashboard .whead {  
    color:#FFF; 
	background: #008852;
	background: -moz-linear-gradient(top,  #00A94F 0%, #008852 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00A94F), color-stop(100%,#008852));
	background: -webkit-linear-gradient(top,  #00A94F 0%,#008852 100%);
	background: -o-linear-gradient(top,  #00A94F 0%,#008852 100%);
	background: -ms-linear-gradient(top,  #00A94F 0%,#008852 100%);
	background: linear-gradient(top,  #00A94F 0%,#008852 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00A94F', endColorstr='#008852',GradientType=0 );
}
#dashboard .bGrey { background: #f1fbf0;}

/*=== GUI ===*/
.checking { background: url(../images/ico-gui.png) no-repeat 10px 0; }
.checkingDollar { background: url(../images/ico-gui.png) no-repeat 10px -165px;}
.loan { background: url(../images/ico-gui.png) no-repeat 10px -330px;}
.loanBack { background: url(../images/ico-gui.png) no-repeat 40px -330px;}
.saving { background: url(../images/ico-gui.png) no-repeat 10px -495px;}
.savingDollar { background: url(../images/ico-gui.png) no-repeat 10px -663px;}
.creditcard { background: url(../images/ico-gui.png) no-repeat 10px -854px;}

.month-scroll li a, .month-scroll-medium li a, .month-scroll-extra li a{ background:#00A94F; border-top: 4px solid #00A94F; }
.month-scroll li a:hover, .month-scroll-medium li a:hover, .month-scroll-extra li a:hover{ background:#99e193;}
.month-scroll li a.active, .month-scroll-medium li a.active, .month-scroll-extra li a.active{ background:#00A94F;}

#accountList .container, .bUsual{  
	background: #e5f3e6;
}

.accountUnit.active, .accountUnitType.active, .accountUnitLeft.active, .accountUnitRight.active, .accountUnitNobg.active{ background: #00A94F;}
.accountUnitLeft.active { background: #00A94F url(../images/arrow-big.png) no-repeat right center; }
.accountUnitRight.active { background: #00A94F url(../images/arrow-big-alt.png) no-repeat left center; }
.accountUnitAlt.active { background: #00A94F; }
.accountUnitMark.active { background: #00A94F; } 
.accountUnitNobg.active .accountNumberPreset{ background: #00A94F; }
.accountUnitNobg.active .accountNamePreset, .accountUnitNobg.active:hover .accountNamePreset{ background: #00A94F; }

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../images/switch.gif) repeat-x; display: block; float: left; }
.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
.cb-enable span { background-position: left -90px; padding: 0 10px; }
.cb-disable span { background-position: right -180px;padding: 0 10px; }
.cb-disable.selected { background-position: 0 -30px; }
.cb-disable.selected span { background-position: right -210px; color: #fff; }
.cb-enable.selected { background-position: 0 -60px; }
.cb-enable.selected span { background-position: left -150px; color: #fff; }

.pages li .active, .pages li a:active, .pages li .active:hover { background: #006a33;}
.tPages ul li a:active { background: #006a33;} 

@media only screen and (max-width: 767px) {
.tDefault td:before {background: #d1d1d1;color:#000;text-shadow:none;font-weight:bold;}
}