/* # Skin (default)
==================================================
	
    === nav ===	
	#c25283 dark green
	#f885ad fresh green
	#faf1f5 super light silver
	#eeccdc light silver
	#e9c0d3 silver
	
    === submenu ===	
	#3c1525 deep grey
	#682441 dark grey
	#ac3c6b grey
	
    === footer ===	
	#e6b5ca bright green
	
    === button ===	
	#d69ab4 glow black
	#c45987 ~ #7c2c4e black
	
    === widget head ===	
	#f8f8f8 ~ #eeccdc  light grey
	#eeccdc ~ #f885ad  dark grey
	#f885ad ~ #c25283  green
	
    === table ===	
	#cf6d9e light grey
	#f5e9ee super light grey
	
==================================================*/

/*=== General styles ===*/
body { color: #000; }
#main-wrapper { background: url(../images/bg-cream.jpg) repeat-x top; }

/*=== Top part ===*/
#top { border-bottom: 5px solid #c25283; }
ul.userNav li { background: #faf1f5; border-top: 3px solid #faf1f5;}
ul.userNav li a { color: #682441;}
ul.userNav li a:hover { color: #000;}
ul.userNav li:hover { background-color: #eeccdc; border-top: #eeccdc 3px solid; }
ul.userNav li.current{ background-color: #c25283; border-top: #453849 3px solid; }
ul.userNav li:active{ background-color: #e9c0d3; border-top: #ac3c6b 3px solid; }
ul.userMobileNav { background: #faf1f5;}
ul.userMobileNav li a { color: #682441;}
ul.userMobileNav li a:hover { color: #000;}
ul.userMobileNav li:hover { background-color: #eeccdc; }
ul.userMobileNav li.current { background-color: #c25283; }
ul.userMobileNav li:active{ background-color: #f885ad;}


/*=== Navigation ===*/
.navigation-wrapper { border-bottom: #f885ad 3px solid; }
ul#nav li, ul#m-nav li { background: #fafaf3;}
ul#nav li a, ul#m-nav li a { color: #682441;}
ul#nav li:hover, ul#m-nav li:hover { background-color: #c25283; }
ul#nav li.current, ul#nav li.current:active, ul#m-nav li.current, ul#m-nav li.current:active{ background-color: #f885ad;}
ul#nav li:active, ul#m-nav li:active{ background-color: #e9c0d3;}
.navPrev {background: #f885ad url(../images/nav-scroll.png) no-repeat 0 1px;}
.navNext {background: #f885ad url(../images/nav-scroll.png) no-repeat 0 -24px;}
.navNew {background: #f885ad url(../images/nav-scroll.png) no-repeat 0 -51px;}
.navPrev:hover, .navNext:hover, .navNew:hover  {background-color: #c25283; }
.mSearchs { background: #faf1f5 url(../images/icon-mobile-nav.png) no-repeat center 5px;}
.mMessages { background: #faf1f5 url(../images/icon-mobile-nav.png) no-repeat center -26px;}
.mSettings { background: #faf1f5 url(../images/icon-mobile-nav.png) no-repeat center -59px;}
.mSearchs:hover, .mMessages:hover, .mSettings:hover, .mMessages.current{background-color: #c25283; }
.mMessagePanel { border-top: #c25283 3px solid;}

.tabLayout { background:#eeccdc;}

.currentServices { background: #f885ad url(../images/action-tab-trigger.png) right 4px no-repeat; }
.allServices { background: #f885ad; }
.currentServices.active{ background: #f885ad url(../images/action-tab-trigger.png) right -26px no-repeat;}

.triggerServices {  background: #faf1f5; }
.triggerServices:hover { background: #c25283; color: #fff; text-shadow: 1px 1px 0 #666;}
.triggerServices.active{ background: #682441;}

.navServices{ background: #682441; }
.navServices li a{  border-bottom: 1px solid #ac3c6b; }
.navServices li:hover{ background: #3c1525; }

/*=== Font resize ===*/
.fontsizeM, .fontsizeD, .fontsizeP{ border-right: 1px solid #f885ad; }

/*=== Sidebar ===*/
.bannersHolder, .bannersHolderAlt{ 
    background: #f885ad;
    background: -moz-linear-gradient(top,  #faf1f5 0%, #f885ad 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faf1f5 ), color-stop(100%,#f885ad));
    background: -webkit-linear-gradient(top,  #faf1f5 0%,#f885ad 100%);
    background: -o-linear-gradient(top,  #faf1f5 0%,#f885ad 100%);
    background: -ms-linear-gradient(top,  #faf1f5 0%,#f885ad 100%);
    background: linear-gradient(top,  #faf1f5 0%,#f885ad 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf1f5', endColorstr='#f885ad',GradientType=0 );
}
#submenu .container a, #mobileSubmenu .container a, #padSubmenu .container a{ background: #ac3c6b url(../images/rightArrowLight.png) no-repeat 15px center;}
#submenu .container a:hover, #mobileSubmenu .container a:hover, #padSubmenu .container a:hover{ background: #682441 url(../images/rightArrowLight.png) no-repeat 15px center;}
#submenu .container li a.current, #mobileSubmenu .container li a.current, #padSubmenu .container li a.current{ background: #682441 url(../images/rightArrowLight.png) no-repeat 15px center;}
#mobileSubmenu ul{ border: 4px solid #f885ad; border-top:none;}
.sepDark { border-top: 4px solid #f885ad;}

/*=== Footer ===*/
.footer-wrapper { background: #e6b5ca url(../images/bg-footer.png) repeat-x;}

/*=== Button ===*/
.bBlack {  color:#fff; border: 1px solid #4e4e4e; box-shadow: 0 1px 2px 0 #d69ab4 inset; -webkit-box-shadow: 0 1px 2px 0 #d69ab4 inset; -moz-box-shadow: 0 1px 2px 0 #d69ab4 inset;
background: #c45987 url(../images/sprite.png);
background-image: url(../images/sprite.png), -moz-linear-gradient(top,  #c45987 0%, #7c2c4e 100%);
background-image: url(../images/sprite.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c45987), color-stop(100%,#7c2c4e));
background-image: url(../images/sprite.png), -webkit-linear-gradient(top,  #c45987 0%,#7c2c4e 100%);
background-image: url(../images/sprite.png), -o-linear-gradient(top,  #c45987 0%,#7c2c4e 100%);
background-image: url(../images/sprite.png), -ms-linear-gradient(top,  #c45987 0%,#7c2c4e 100%);
background-image: url(../images/sprite.png), linear-gradient(top,  #c45987 0%,#7c2c4e 100%);
}
.bBlack:hover { opacity: 0.85; filter: alpha(opacity=85); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bBlack:active { box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; }

.ie7 .bBlack.icoAnalysis,.ie8 .bBlack.icoAnalysis {background: #c45987 url(../images/sprite.png) 10px -86px no-repeat ;}
.ie7 .bBlack.icoDownload,.ie8 .bBlack.icoDownload {background: #c45987 url(../images/sprite.png) 10px -128px no-repeat ;}
.ie7 .bBlack.icoPrint,.ie8 .bBlack.icoPrint {background: #c45987 url(../images/sprite.png) 10px -258px no-repeat ;}
.ie7 .bBlack.icoQuery,.ie8 .bBlack.icoQuery {background: #c45987 url(../images/sprite.png) 10px -723px no-repeat ;}
.ie7 .bBlack.icoBack,.ie8 .bBlack.icoBack {background: #c45987 url(../images/sprite.png) 10px -430px no-repeat ;}
.ie7 .bBlack.icoNext,.ie8 .bBlack.icoNext {background: #c45987 url(../images/sprite.png) 10px -301px no-repeat ;}
.ie7 .bBlack.icoCheck,.ie8 .bBlack.icoCheck {background: #c45987 url(../images/sprite.png) 10px -554px no-repeat ;}
.ie7 .bBlack.icoCancel,.ie8 .bBlack.icoCancel {background: #c45987 url(../images/sprite.png) 10px -680px no-repeat ;}
.ie7 .bBlack.icoSetting,.ie8 .bBlack.icoSetting {background: #c45987 url(../images/sprite.png) 10px -638px no-repeat ;}
.ie7 .bBlack.icoEmail,.ie8 .bBlack.icoEmail {background: #c45987 url(../images/sprite.png) 10px -514px no-repeat ;}
.ie7 .bBlack.icoAdd,.ie8 .bBlack.icoAdd {background: #c45987 url(../images/sprite.png) 10px -850px no-repeat ;}
.ie7 .bBlack.icoSave,.ie8 .bBlack.icoSave {background: #c45987 url(../images/sprite.png) 10px -344px no-repeat ;}
.ie7 .bBlack.icoHeart,.ie8 .bBlack.icoHeart {background: #c45987 url(../images/sprite.png) 10px -944px no-repeat ;}
.ie7 .bBlack.icoTimer,.ie8 .bBlack.icoTimer {background: #c45987 url(../images/sprite.png) 10px -994px no-repeat ;}
.ie7 .bBlack.icoMsg,.ie8 .bBlack.icoMsg {background: #c45987 url(../images/sprite.png) 10px -1044px no-repeat ;}
.ie7 .bBlack.icoEdit,.ie8 .bBlack.icoEdit {background: #c45987 url(../images/sprite.png) 10px -216px no-repeat ;}
.ie7 .bBlack.icoResult,.ie8 .bBlack.icoResult {background: #c45987 url(../images/sprite.png) 10px -765px no-repeat ;}
.ie7 .bBlack.icoLottery,.ie8 .bBlack.icoLottery {background: #c45987 url(../images/sprite.png) 10px -1097px no-repeat ;}

/*=== Overview, Settings ===*/
#widgetLists .container a.active{ background: #f885ad;}
.langBox.active{ background: #f885ad;}
.themeBox.active{ border: 4px solid #f885ad; }

/*=== Widget ===*/
.whead, .wheadDark { color: #3c1525; }
.whead {  
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #eeccdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#eeccdc));
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#eeccdc 100%);
	background: -o-linear-gradient(top,  #f8f8f8 0%,#eeccdc 100%);
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#eeccdc 100%);
	background: linear-gradient(top,  #f8f8f8 0%,#eeccdc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eeccdc',GradientType=0 );
}
.wheadDark {
	background: #f885ad;
	background: -moz-linear-gradient(top,  #eeccdc 0%, #f885ad 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeccdc ), color-stop(100%,#f885ad));
	background: -webkit-linear-gradient(top,  #eeccdc 0%,#f885ad 100%);
	background: -o-linear-gradient(top,  #eeccdc 0%,#f885ad 100%);
	background: -ms-linear-gradient(top,  #eeccdc 0%,#f885ad 100%);
	background: linear-gradient(top,  #eeccdc 0%,#f885ad 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeccdc', endColorstr='#f885ad',GradientType=0 );
}
.wheadGreen {  
	background: #cc6f96;
	background: -moz-linear-gradient(top,  #f885ad 0%, #c25283 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f885ad ), color-stop(100%,#c25283));
	background: -webkit-linear-gradient(top,  #f885ad 0%,#c25283 100%);
	background: -o-linear-gradient(top,  #f885ad 0%,#c25283 100%);
	background: -ms-linear-gradient(top,  #f885ad 0%,#c25283 100%);
	background: linear-gradient(top,  #f885ad 0%,#c25283 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f885ad', endColorstr='#c25283',GradientType=0 );
}

ul.viewTab li a.viewGraphic:hover, ul.viewTab li a.viewTable:hover, ul.viewTab li a.viewGraphic.active, ul.viewTab li a.viewTable.active { border-top: 2px solid #f885ad; }
ul.wtab li.ui-tabs-selected, ul.mtab li.ui-tabs-selected, ul.stab li.ui-tabs-selected,  ul.ntab li.ui-tabs-selected, ul.ntab li.ui-tabs-selected{ border-top: 4px solid #f885ad; }
ul.wtab li:hover, ul.mtab li:hover, ul.stab li:hover, ul.ntab li:hover{ border-top: 4px solid #f885ad; }
ul.wtab li:active, ul.mtab li:active, ul.stab li:active, ul.ntab li:active{ border-top: 4px solid #f885ad;}

.bGrey { background: #f5e9ee;}
.bDarkGrey { background: #ac3c6b;}

.liArticle li:nth-child(even) { background: #f5e9ee url(../images/subnav_arrow.png) no-repeat 3px  8px;}
.liArrowAlt li:nth-child(even) { background: #f5e9ee url(../images/subnav_arrow.png) no-repeat 8px 15px;}

/*=== Widget table===*/
.tDefault thead td { background-color: #cf6d9e !important; }
.tDefault tbody tr:nth-child(even) { background: #f5e9ee; }
.tVertical tbody th { background: #cf6d9e; }
.tVertical tbody tr:nth-child(even) { background: #f5e9ee; }

/*=== Widget breadcrumb===*/
.breadcrumb li a{ background-image:url(../images/breadcrumb-magenta.png); }

/*=== GUI ===*/
.checking { background: url(../images/ico-gui-magenta.png) no-repeat 10px 0; }
.checkingDollar { background: url(../images/ico-gui-magenta.png) no-repeat 10px -165px;}
.loan { background: url(../images/ico-gui-magenta.png) no-repeat 10px -330px;}
.loanBack { background: url(../images/ico-gui-magenta.png) no-repeat 40px -330px;}
.saving { background: url(../images/ico-gui-magenta.png) no-repeat 10px -495px;}
.savingDollar { background: url(../images/ico-gui-magenta.png) no-repeat 10px -663px;}
.creditcard { background: url(../images/ico-gui-magenta.png) no-repeat 10px -854px;}

.month-scroll li a, .month-scroll-medium li a, .month-scroll-extra li a{ background:#f885ad; border-top: 4px solid #f885ad; }
.month-scroll li a:hover, .month-scroll-medium li a:hover, .month-scroll-extra li a:hover{ background:#faa9c6;}
.month-scroll li a.active, .month-scroll-medium li a.active, .month-scroll-extra li a.active{ background:#c25283;}

#accountList .container, .bUsual{  
	background: #fde1eb;
	background: -moz-linear-gradient(top,  #fde1eb 0%, #fcc7da 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fde1eb), color-stop(100%,#fcc7da));
	background: -webkit-linear-gradient(top,  #fde1eb 0%,#fcc7da 100%);
	background: -o-linear-gradient(top,  #fde1eb 0%,#fcc7da 100%);
	background: -ms-linear-gradient(top,  #fde1eb 0%,#fcc7da 100%);
	background: linear-gradient(top,  #fde1eb 0%,#fcc7da 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fde1eb', endColorstr='#fcc7da',GradientType=0 );
}

.accountUnit.active, .accountUnitType.active, .accountUnitLeft.active, .accountUnitRight.active, .accountUnitNobg.active{ background: #f885ad;}
.accountUnitLeft.active { background: #f885ad url(../images/arrow-big.png) no-repeat right center; }
.accountUnitRight.active { background: #c25283 url(../images/arrow-big-alt.png) no-repeat left center; }
.accountUnitAlt.active { background: #c25283} 
.accountUnitMark.active { background: #f885ad; } 
.accountUnitNobg.active .accountNumberPreset{ background: #f885ad; }
.accountUnitNobg.active .accountNamePreset, .accountUnitNobg.active:hover .accountNamePreset{ background: #c25283; }

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../images/switch-magenta.gif) repeat-x; display: block; float: left; }
.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
.cb-enable span { background-position: left -90px; padding: 0 10px; }
.cb-disable span { background-position: right -180px;padding: 0 10px; }
.cb-disable.selected { background-position: 0 -30px; }
.cb-disable.selected span { background-position: right -210px; color: #fff; }
.cb-enable.selected { background-position: 0 -60px; }
.cb-enable.selected span { background-position: left -150px; color: #fff; }

.pages li .active, .pages li a:active, .pages li .active:hover { background: #7c2c4e;}
.tPages ul li a:active { background: #7c2c4e;} 

@media only screen and (max-width: 767px) {
.tDefault td:before {background: #cf6d9e; }
}