/* # Skin (default)
==================================================
	
    === nav ===	
	#c05b18 dark green
	#e28f3d fresh green
	#fcefe0 super light silver
	#f3d2b1 light silver
	#eaad71 silver
	
    === submenu ===	
	#381e0a deep grey
	#a2531a dark grey
	#be631f grey
	
    === footer ===	
	#efbd91 bright green
	
    === button ===	
	#eea371 glow black
	#de691b ~ #874010 black
	
    === widget head ===	
	#f8f8f8 ~ #f3d2b1  light grey
	#f3d2b1 ~ #e28f3d  dark grey
	#e28f3d ~ #c05b18  green
	
    === table ===	
	#da6a27 light grey
	#fdf5ee super light grey
	
==================================================*/

/*=== General styles ===*/
body { color: #000; }
#main-wrapper { background: url(../images/bg-cream.jpg) repeat-x top; }

/*=== Top part ===*/
#top { border-bottom: 5px solid #c05b18; }
ul.userNav li { background: #fcefe0; border-top: 3px solid #fcefe0;}
ul.userNav li a { color: #a2531a;}
ul.userNav li a:hover { color: #000;}
ul.userNav li:hover { background-color: #f3d2b1; border-top: #f3d2b1 3px solid; }
ul.userNav li.current{ background-color: #c05b18; border-top: #381e0a 3px solid; }
ul.userNav li:active{ background-color: #eaad71; border-top: #be631f 3px solid; }
ul.userMobileNav { background: #fcefe0;}
ul.userMobileNav li a { color: #a2531a;}
ul.userMobileNav li a:hover { color: #000;}
ul.userMobileNav li:hover { background-color: #f3d2b1; }
ul.userMobileNav li.current { background-color: #c05b18; }
ul.userMobileNav li:active{ background-color: #e28f3d;}


/*=== Navigation ===*/
.navigation-wrapper { border-bottom: #e28f3d 3px solid; }
ul#nav li, ul#m-nav li { background: #fafaf3;}
ul#nav li a, ul#m-nav li a { color: #a2531a;}
ul#nav li:hover, ul#m-nav li:hover { background-color: #c05b18; }
ul#nav li.current, ul#nav li.current:active, ul#m-nav li.current, ul#m-nav li.current:active{ background-color: #e28f3d;}
ul#nav li:active, ul#m-nav li:active{ background-color: #eaad71;}
.navPrev {background: #e28f3d url(../images/nav-scroll.png) no-repeat 0 1px;}
.navNext {background: #e28f3d url(../images/nav-scroll.png) no-repeat 0 -24px;}
.navNew {background: #e28f3d url(../images/nav-scroll.png) no-repeat 0 -51px;}
.navPrev:hover, .navNext:hover, .navNew:hover  {background-color: #c05b18; }
.mSearchs { background: #fdf5ee url(../images/icon-mobile-nav.png) no-repeat center 5px;}
.mMessages { background: #fdf5ee url(../images/icon-mobile-nav.png) no-repeat center -26px;}
.mSettings { background: #fdf5ee url(../images/icon-mobile-nav.png) no-repeat center -59px;}
.mSearchs:hover, .mMessages:hover, .mSettings:hover, .mMessages.current{ background-color: #c05b18; }
.mMessagePanel { border-top: #c05b18 3px solid;}

.tabLayout { background:#f3d2b1;}

.currentServices { background: #e28f3d url(../images/action-tab-trigger.png) right 4px no-repeat; }
.allServices { background: #e28f3d; }
.currentServices.active{ background: #e28f3d url(../images/action-tab-trigger.png) right -26px no-repeat;}

.triggerServices {  background: #fdf5ee; }
.triggerServices:hover { background: #c05b18; color: #fff; text-shadow: 1px 1px 0 #666;}
.triggerServices.active{ background: #a2531a;}

.navServices{ background: #a2531a; }
.navServices li a{  border-bottom: 1px solid #be631f; }
.navServices li:hover{ background: #381e0a; }

/*=== Font resize ===*/
.fontsizeM, .fontsizeD, .fontsizeP{ border-right: 1px solid #e28f3d; }

/*=== Sidebar ===*/
.bannersHolder, .bannersHolderAlt{ 
    background: #e28f3d;
    background: -moz-linear-gradient(top,  #fdf5ee 0%, #e28f3d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdf5ee ), color-stop(100%,#e28f3d));
    background: -webkit-linear-gradient(top,  #fdf5ee 0%,#e28f3d 100%);
    background: -o-linear-gradient(top,  #fdf5ee 0%,#e28f3d 100%);
    background: -ms-linear-gradient(top,  #fdf5ee 0%,#e28f3d 100%);
    background: linear-gradient(top,  #fdf5ee 0%,#e28f3d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdf5ee', endColorstr='#e28f3d',GradientType=0 );
}
#submenu .container a, #mobileSubmenu .container a, #padSubmenu .container a{ background: #be631f url(../images/rightArrowLight.png) no-repeat 15px center;}
#submenu .container a:hover, #mobileSubmenu .container a:hover, #padSubmenu .container a:hover{ background: #a2531a url(../images/rightArrowLight.png) no-repeat 15px center;}
#submenu .container li a.current, #mobileSubmenu .container li a.current, #padSubmenu .container li a.current{ background: #a2531a url(../images/rightArrowLight.png) no-repeat 15px center;}
#mobileSubmenu ul{ border: 4px solid #e28f3d; border-top:none;}
.sepDark { border-top: 4px solid #e28f3d;}

/*=== Footer ===*/
.footer-wrapper { background: #efbd91 url(../images/bg-footer.png) repeat-x;}

/*=== Button ===*/
.bBlack {  color:#fff; border: 1px solid #4e4e4e; box-shadow: 0 1px 2px 0 #eea371 inset; -webkit-box-shadow: 0 1px 2px 0 #eea371 inset; -moz-box-shadow: 0 1px 2px 0 #eea371 inset;
background: #de691b url(../images/sprite.png);
background-image: url(../images/sprite.png), -moz-linear-gradient(top,  #de691b 0%, #874010 100%);
background-image: url(../images/sprite.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#de691b), color-stop(100%,#874010));
background-image: url(../images/sprite.png), -webkit-linear-gradient(top,  #de691b 0%,#874010 100%);
background-image: url(../images/sprite.png), -o-linear-gradient(top,  #de691b 0%,#874010 100%);
background-image: url(../images/sprite.png), -ms-linear-gradient(top,  #de691b 0%,#874010 100%);
background-image: url(../images/sprite.png), linear-gradient(top,  #de691b 0%,#874010 100%);
}
.bBlack:hover { opacity: 0.85; filter: alpha(opacity=85); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bBlack:active { box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; }

.ie7 .bBlack.icoAnalysis,.ie8 .bBlack.icoAnalysis {background: #de691b url(../images/sprite.png) 10px -86px no-repeat ;}
.ie7 .bBlack.icoDownload,.ie8 .bBlack.icoDownload {background: #de691b url(../images/sprite.png) 10px -128px no-repeat ;}
.ie7 .bBlack.icoPrint,.ie8 .bBlack.icoPrint {background: #de691b url(../images/sprite.png) 10px -258px no-repeat ;}
.ie7 .bBlack.icoQuery,.ie8 .bBlack.icoQuery {background: #de691b url(../images/sprite.png) 10px -723px no-repeat ;}
.ie7 .bBlack.icoBack,.ie8 .bBlack.icoBack {background: #de691b url(../images/sprite.png) 10px -430px no-repeat ;}
.ie7 .bBlack.icoNext,.ie8 .bBlack.icoNext {background: #de691b url(../images/sprite.png) 10px -301px no-repeat ;}
.ie7 .bBlack.icoCheck,.ie8 .bBlack.icoCheck {background: #de691b url(../images/sprite.png) 10px -554px no-repeat ;}
.ie7 .bBlack.icoCancel,.ie8 .bBlack.icoCancel {background: #de691b url(../images/sprite.png) 10px -680px no-repeat ;}
.ie7 .bBlack.icoSetting,.ie8 .bBlack.icoSetting {background: #de691b url(../images/sprite.png) 10px -638px no-repeat ;}
.ie7 .bBlack.icoEmail,.ie8 .bBlack.icoEmail {background: #de691b url(../images/sprite.png) 10px -514px no-repeat ;}
.ie7 .bBlack.icoAdd,.ie8 .bBlack.icoAdd {background: #de691b url(../images/sprite.png) 10px -850px no-repeat ;}
.ie7 .bBlack.icoSave,.ie8 .bBlack.icoSave {background: #de691b url(../images/sprite.png) 10px -344px no-repeat ;}
.ie7 .bBlack.icoHeart,.ie8 .bBlack.icoHeart {background: #de691b url(../images/sprite.png) 10px -944px no-repeat ;}
.ie7 .bBlack.icoTimer,.ie8 .bBlack.icoTimer {background: #de691b url(../images/sprite.png) 10px -994px no-repeat ;}
.ie7 .bBlack.icoMsg,.ie8 .bBlack.icoMsg {background: #de691b url(../images/sprite.png) 10px -1044px no-repeat ;}
.ie7 .bBlack.icoEdit,.ie8 .bBlack.icoEdit {background: #de691b url(../images/sprite.png) 10px -216px no-repeat ;}
.ie7 .bBlack.icoResult,.ie8 .bBlack.icoResult {background: #de691b url(../images/sprite.png) 10px -765px no-repeat ;}
.ie7 .bBlack.icoLottery,.ie8 .bBlack.icoLottery {background: #de691b url(../images/sprite.png) 10px -1097px no-repeat ;}

/*=== Overview, Settings ===*/
#widgetLists .container a.active{ background: #e28f3d;}
.langBox.active{ background: #e28f3d;}
.themeBox.active{ border: 4px solid #e28f3d; }

/*=== Widget ===*/
.whead, .wheadDark { color: #381e0a; }
.whead {  
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #f3d2b1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#f3d2b1));
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f3d2b1 100%);
	background: -o-linear-gradient(top,  #f8f8f8 0%,#f3d2b1 100%);
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#f3d2b1 100%);
	background: linear-gradient(top,  #f8f8f8 0%,#f3d2b1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f3d2b1',GradientType=0 );
}
.wheadDark {
	background: #e28f3d;
	background: -moz-linear-gradient(top,  #f3d2b1 0%, #e28f3d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3d2b1 ), color-stop(100%,#e28f3d));
	background: -webkit-linear-gradient(top,  #f3d2b1 0%,#e28f3d 100%);
	background: -o-linear-gradient(top,  #f3d2b1 0%,#e28f3d 100%);
	background: -ms-linear-gradient(top,  #f3d2b1 0%,#e28f3d 100%);
	background: linear-gradient(top,  #f3d2b1 0%,#e28f3d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3d2b1', endColorstr='#e28f3d',GradientType=0 );
}
.wheadGreen {  
	background: #e37022;
	background: -moz-linear-gradient(top,  #e28f3d 0%, #c05b18 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e28f3d ), color-stop(100%,#c05b18));
	background: -webkit-linear-gradient(top,  #e28f3d 0%,#c05b18 100%);
	background: -o-linear-gradient(top,  #e28f3d 0%,#c05b18 100%);
	background: -ms-linear-gradient(top,  #e28f3d 0%,#c05b18 100%);
	background: linear-gradient(top,  #e28f3d 0%,#c05b18 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e28f3d', endColorstr='#c05b18',GradientType=0 );
}

ul.viewTab li a.viewGraphic:hover, ul.viewTab li a.viewTable:hover, ul.viewTab li a.viewGraphic.active, ul.viewTab li a.viewTable.active { border-top: 2px solid #e28f3d; }
ul.wtab li.ui-tabs-selected, ul.mtab li.ui-tabs-selected, ul.stab li.ui-tabs-selected,  ul.ntab li.ui-tabs-selected, ul.ntab li.ui-tabs-selected{ border-top: 4px solid #e28f3d; }
ul.wtab li:hover, ul.mtab li:hover, ul.stab li:hover, ul.ntab li:hover{ border-top: 4px solid #e28f3d; }
ul.wtab li:active, ul.mtab li:active, ul.stab li:active, ul.ntab li:active{ border-top: 4px solid #e28f3d;}

.bGrey { background: #fdf5ee;}
.bDarkGrey { background: #be631f;}

.liArticle li:nth-child(even) { background: #fdf5ee url(../images/subnav_arrow.png) no-repeat 3px  8px;}
.liArrowAlt li:nth-child(even) { background: #fdf5ee url(../images/subnav_arrow.png) no-repeat 8px 15px;}

/*=== Widget table===*/
.tDefault thead td { background-color: #da6a27 !important; }
.tDefault tbody tr:nth-child(even) { background: #fdf5ee; }
.tVertical tbody th { background: #da6a27; }
.tVertical tbody tr:nth-child(even) { background: #fdf5ee; }

/*=== Widget breadcrumb===*/
.breadcrumb li a{ background-image:url(../images/breadcrumb-orange.png); }

/*=== GUI ===*/
.checking { background: url(../images/ico-gui-orange.png) no-repeat 10px 0; }
.checkingDollar { background: url(../images/ico-gui-orange.png) no-repeat 10px -165px;}
.loan { background: url(../images/ico-gui-orange.png) no-repeat 10px -330px;}
.loanBack { background: url(../images/ico-gui-orange.png) no-repeat 40px -330px;}
.saving { background: url(../images/ico-gui-orange.png) no-repeat 10px -495px;}
.savingDollar { background: url(../images/ico-gui-orange.png) no-repeat 10px -663px;}
.creditcard { background: url(../images/ico-gui-orange.png) no-repeat 10px -854px;}

.month-scroll li a, .month-scroll-medium li a, .month-scroll-extra li a{ background:#e28f3d; border-top: 4px solid #e28f3d; }
.month-scroll li a:hover, .month-scroll-medium li a:hover, .month-scroll-extra li a:hover{ background:#ecb47b;}
.month-scroll li a.active, .month-scroll-medium li a.active, .month-scroll-extra li a.active{ background:#c05b18;}

#accountList .container, .bUsual{  
	background: #f9d9e9;
	background: -moz-linear-gradient(top,  #f9d9e9 0%, #f3d5b6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9d9e9), color-stop(100%,#f3d5b6));
	background: -webkit-linear-gradient(top,  #f9d9e9 0%,#f3d5b6 100%);
	background: -o-linear-gradient(top,  #f9d9e9 0%,#f3d5b6 100%);
	background: -ms-linear-gradient(top,  #f9d9e9 0%,#f3d5b6 100%);
	background: linear-gradient(top,  #f9d9e9 0%,#f3d5b6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9d9e9', endColorstr='#f3d5b6',GradientType=0 );
}

.accountUnit.active, .accountUnitType.active, .accountUnitLeft.active, .accountUnitRight.active, .accountUnitNobg.active{ background: #e28f3d;}
.accountUnitLeft.active { background: #e28f3d url(../images/arrow-big.png) no-repeat right center; }
.accountUnitRight.active { background: #c05b18 url(../images/arrow-big-alt.png) no-repeat left center; }
.accountUnitAlt.active { background: #c05b18} 
.accountUnitMark.active { background: #e28f3d; } 
.accountUnitNobg.active .accountNumberPreset{ background: #e28f3d; }
.accountUnitNobg.active .accountNamePreset, .accountUnitNobg.active:hover .accountNamePreset{ background: #c05b18; }

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../images/switch-orange.gif) repeat-x; display: block; float: left; }
.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
.cb-enable span { background-position: left -90px; padding: 0 10px; }
.cb-disable span { background-position: right -180px;padding: 0 10px; }
.cb-disable.selected { background-position: 0 -30px; }
.cb-disable.selected span { background-position: right -210px; color: #fff; }
.cb-enable.selected { background-position: 0 -60px; }
.cb-enable.selected span { background-position: left -150px; color: #fff; }

.pages li .active, .pages li a:active, .pages li .active:hover { background: #874010;}
.tPages ul li a:active { background: #874010;} 

@media only screen and (max-width: 767px) {
.tDefault td:before {background: #da6a27; }
}