/* # Skin (default)
==================================================
	
    === nav ===	
	#608866 dark green
	#96b69b fresh green
	#edf3ee super light silver
	#ceddd0 light silver
	#b4cbb7 silver
	
    === submenu ===	
	#172018 deep grey
	#54725a dark grey
	#63876a grey
	
    === footer ===	
	#bfd5c5 bright green
	
    === button ===	
	#dde7df glow black
	#7f9c83 ~ #49674e black
	
    === widget head ===	
	#f8f8f8 ~ #ceddd0  light grey
	#ceddd0 ~ #96b69b  dark grey
	#96b69b ~ #608866  green
	
    === table ===	
	#739b79 light grey
	#eef2ef super light grey
	
==================================================*/

/*=== General styles ===*/
body { color: #000; }
#main-wrapper { background: url(../images/bg-cream.jpg) repeat-x top; }

/*=== Top part ===*/
#top { border-bottom: 5px solid #608866; }
ul.userNav li { background: #edf3ee; border-top: 3px solid #edf3ee;}
ul.userNav li a { color: #54725a;}
ul.userNav li a:hover { color: #000;}
ul.userNav li:hover { background-color: #ceddd0; border-top: #ceddd0 3px solid; }
ul.userNav li.current{ background-color: #608866; border-top: #453849 3px solid; }
ul.userNav li:active{ background-color: #b4cbb7; border-top: #63876a 3px solid; }
ul.userMobileNav { background: #edf3ee;}
ul.userMobileNav li a { color: #54725a;}
ul.userMobileNav li a:hover { color: #000;}
ul.userMobileNav li:hover { background-color: #ceddd0; }
ul.userMobileNav li.current { background-color: #608866; }
ul.userMobileNav li:active{ background-color: #96b69b;}


/*=== Navigation ===*/
.navigation-wrapper { border-bottom: #96b69b 3px solid; }
ul#nav li, ul#m-nav li { background: #fafaf3;}
ul#nav li a, ul#m-nav li a { color: #54725a;}
ul#nav li:hover, ul#m-nav li:hover { background-color: #608866; }
ul#nav li.current, ul#nav li.current:active, ul#m-nav li.current, ul#m-nav li.current:active{ background-color: #96b69b;}
ul#nav li:active, ul#m-nav li:active{ background-color: #b4cbb7;}
.navPrev {background: #96b69b url(../images/nav-scroll.png) no-repeat 0 1px;}
.navNext {background: #96b69b url(../images/nav-scroll.png) no-repeat 0 -24px;}
.navNew {background: #96b69b url(../images/nav-scroll.png) no-repeat 0 -51px;}
.navPrev:hover, .navNext:hover, .navNew:hover  {background-color: #608866; }
.mSearchs { background: #edf3ee url(../images/icon-mobile-nav.png) no-repeat center 5px;}
.mMessages { background: #edf3ee url(../images/icon-mobile-nav.png) no-repeat center -26px;}
.mSettings { background: #edf3ee url(../images/icon-mobile-nav.png) no-repeat center -59px;}
.mSearchs:hover, .mMessages:hover, .mSettings:hover, .mMessages.current{background-color: #608866; }
.mMessagePanel { border-top: #608866 3px solid;}

.tabLayout { background:#ceddd0;}

.currentServices { background: #96b69b url(../images/action-tab-trigger.png) right 4px no-repeat; }
.allServices { background: #96b69b; }
.currentServices.active{ background: #96b69b url(../images/action-tab-trigger.png) right -26px no-repeat;}

.triggerServices {  background: #edf3ee; }
.triggerServices:hover { background: #608866; color: #fff; text-shadow: 1px 1px 0 #666;}
.triggerServices.active{ background: #54725a;}

.navServices{ background: #54725a; }
.navServices li a{  border-bottom: 1px solid #63876a; }
.navServices li:hover{ background: #172018; }

/*=== Font resize ===*/
.fontsizeM, .fontsizeD, .fontsizeP{ border-right: 1px solid #96b69b; }

/*=== Sidebar ===*/
.bannersHolder, .bannersHolderAlt{ 
    background: #96b69b;
    background: -moz-linear-gradient(top,  #edf3ee 0%, #96b69b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edf3ee ), color-stop(100%,#96b69b));
    background: -webkit-linear-gradient(top,  #edf3ee 0%,#96b69b 100%);
    background: -o-linear-gradient(top,  #edf3ee 0%,#96b69b 100%);
    background: -ms-linear-gradient(top,  #edf3ee 0%,#96b69b 100%);
    background: linear-gradient(top,  #edf3ee 0%,#96b69b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf3ee', endColorstr='#96b69b',GradientType=0 );
}
#submenu .container a, #mobileSubmenu .container a, #padSubmenu .container a{ background: #63876a url(../images/rightArrowLight.png) no-repeat 15px center;}
#submenu .container a:hover, #mobileSubmenu .container a:hover, #padSubmenu .container a:hover{ background: #54725a url(../images/rightArrowLight.png) no-repeat 15px center;}
#submenu .container li a.current, #mobileSubmenu .container li a.current, #padSubmenu .container li a.current{ background: #54725a url(../images/rightArrowLight.png) no-repeat 15px center;}
#mobileSubmenu ul{ border: 4px solid #96b69b; border-top:none;}
.sepDark { border-top: 4px solid #96b69b;}

/*=== Footer ===*/
.footer-wrapper { background: #bfd5c5 url(../images/bg-footer.png) repeat-x;}

/*=== Button ===*/
.bBlack {  color:#fff; border: 1px solid #4e4e4e; box-shadow: 0 1px 2px 0 #dde7df inset; -webkit-box-shadow: 0 1px 2px 0 #dde7df inset; -moz-box-shadow: 0 1px 2px 0 #dde7df inset;
background: #7f9c83 url(../images/sprite.png);
background-image: url(../images/sprite.png), -moz-linear-gradient(top,  #7f9c83 0%, #49674e 100%);
background-image: url(../images/sprite.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f9c83), color-stop(100%,#49674e));
background-image: url(../images/sprite.png), -webkit-linear-gradient(top,  #7f9c83 0%,#49674e 100%);
background-image: url(../images/sprite.png), -o-linear-gradient(top,  #7f9c83 0%,#49674e 100%);
background-image: url(../images/sprite.png), -ms-linear-gradient(top,  #7f9c83 0%,#49674e 100%);
background-image: url(../images/sprite.png), linear-gradient(top,  #7f9c83 0%,#49674e 100%);
}
.bBlack:hover { opacity: 0.85; filter: alpha(opacity=85); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bBlack:active { box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; }

.ie7 .bBlack.icoAnalysis,.ie8 .bBlack.icoAnalysis {background: #7f9c83 url(../images/sprite.png) 10px -86px no-repeat ;}
.ie7 .bBlack.icoDownload,.ie8 .bBlack.icoDownload {background: #7f9c83 url(../images/sprite.png) 10px -128px no-repeat ;}
.ie7 .bBlack.icoPrint,.ie8 .bBlack.icoPrint {background: #7f9c83 url(../images/sprite.png) 10px -258px no-repeat ;}
.ie7 .bBlack.icoQuery,.ie8 .bBlack.icoQuery {background: #7f9c83 url(../images/sprite.png) 10px -723px no-repeat ;}
.ie7 .bBlack.icoBack,.ie8 .bBlack.icoBack {background: #7f9c83 url(../images/sprite.png) 10px -430px no-repeat ;}
.ie7 .bBlack.icoNext,.ie8 .bBlack.icoNext {background: #7f9c83 url(../images/sprite.png) 10px -301px no-repeat ;}
.ie7 .bBlack.icoCheck,.ie8 .bBlack.icoCheck {background: #7f9c83 url(../images/sprite.png) 10px -554px no-repeat ;}
.ie7 .bBlack.icoCancel,.ie8 .bBlack.icoCancel {background: #7f9c83 url(../images/sprite.png) 10px -680px no-repeat ;}
.ie7 .bBlack.icoSetting,.ie8 .bBlack.icoSetting {background: #7f9c83 url(../images/sprite.png) 10px -638px no-repeat ;}
.ie7 .bBlack.icoEmail,.ie8 .bBlack.icoEmail {background: #7f9c83 url(../images/sprite.png) 10px -514px no-repeat ;}
.ie7 .bBlack.icoAdd,.ie8 .bBlack.icoAdd {background: #7f9c83 url(../images/sprite.png) 10px -850px no-repeat ;}
.ie7 .bBlack.icoSave,.ie8 .bBlack.icoSave {background: #7f9c83 url(../images/sprite.png) 10px -344px no-repeat ;}
.ie7 .bBlack.icoHeart,.ie8 .bBlack.icoHeart {background: #7f9c83 url(../images/sprite.png) 10px -944px no-repeat ;}
.ie7 .bBlack.icoTimer,.ie8 .bBlack.icoTimer {background: #7f9c83 url(../images/sprite.png) 10px -994px no-repeat ;}
.ie7 .bBlack.icoMsg,.ie8 .bBlack.icoMsg {background: #7f9c83 url(../images/sprite.png) 10px -1044px no-repeat ;}
.ie7 .bBlack.icoEdit,.ie8 .bBlack.icoEdit {background: #7f9c83 url(../images/sprite.png) 10px -216px no-repeat ;}
.ie7 .bBlack.icoResult,.ie8 .bBlack.icoResult {background: #7f9c83 url(../images/sprite.png) 10px -765px no-repeat ;}
.ie7 .bBlack.icoLottery,.ie8 .bBlack.icoLottery {background: #7f9c83 url(../images/sprite.png) 10px -1097px no-repeat ;}

/*=== Overview, Settings ===*/
#widgetLists .container a.active{ background: #96b69b;}
.langBox.active{ background: #96b69b;}
.themeBox.active{ border: 4px solid #96b69b; }

/*=== Widget ===*/
.whead, .wheadDark { color: #172018; }
.whead {  
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #ceddd0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#ceddd0));
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#ceddd0 100%);
	background: -o-linear-gradient(top,  #f8f8f8 0%,#ceddd0 100%);
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#ceddd0 100%);
	background: linear-gradient(top,  #f8f8f8 0%,#ceddd0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ceddd0',GradientType=0 );
}
.wheadDark {
	background: #abc5af;
	background: -moz-linear-gradient(top,  #ceddd0 0%, #96b69b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ceddd0 ), color-stop(100%,#96b69b));
	background: -webkit-linear-gradient(top,  #ceddd0 0%,#96b69b 100%);
	background: -o-linear-gradient(top,  #ceddd0 0%,#96b69b 100%);
	background: -ms-linear-gradient(top,  #ceddd0 0%,#96b69b 100%);
	background: linear-gradient(top,  #ceddd0 0%,#96b69b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceddd0', endColorstr='#96b69b',GradientType=0 );
}
.wheadGreen {  
	background: #7ea585;
	background: -moz-linear-gradient(top,  #96b69b 0%, #608866 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96b69b ), color-stop(100%,#608866));
	background: -webkit-linear-gradient(top,  #96b69b 0%,#608866 100%);
	background: -o-linear-gradient(top,  #96b69b 0%,#608866 100%);
	background: -ms-linear-gradient(top,  #96b69b 0%,#608866 100%);
	background: linear-gradient(top,  #96b69b 0%,#608866 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96b69b', endColorstr='#608866',GradientType=0 );
}

ul.viewTab li a.viewGraphic:hover, ul.viewTab li a.viewTable:hover, ul.viewTab li a.viewGraphic.active, ul.viewTab li a.viewTable.active { border-top: 2px solid #96b69b; }
ul.wtab li.ui-tabs-selected, ul.mtab li.ui-tabs-selected, ul.stab li.ui-tabs-selected,  ul.ntab li.ui-tabs-selected, ul.ntab li.ui-tabs-selected{ border-top: 4px solid #96b69b; }
ul.wtab li:hover, ul.mtab li:hover, ul.stab li:hover, ul.ntab li:hover{ border-top: 4px solid #96b69b; }
ul.wtab li:active, ul.mtab li:active, ul.stab li:active, ul.ntab li:active{ border-top: 4px solid #96b69b;}

.bGrey { background: #eef2ef;}
.bDarkGrey { background: #63876a;}

.liArticle li:nth-child(even) { background: #eef2ef url(../images/subnav_arrow.png) no-repeat 3px  8px;}
.liArrowAlt li:nth-child(even) { background: #eef2ef url(../images/subnav_arrow.png) no-repeat 8px 15px;}

/*=== Widget table===*/
.tDefault thead td { background-color: #739b79 !important; }
.tDefault tbody tr:nth-child(even) { background: #eef2ef; }
.tVertical tbody th { background: #739b79; }
.tVertical tbody tr:nth-child(even) { background: #eef2ef; }

/*=== Widget breadcrumb===*/
.breadcrumb li a{ background-image:url(../images/breadcrumb-olive.png); }

/*=== GUI ===*/
.checking { background: url(../images/ico-gui-olive.png) no-repeat 10px 0; }
.checkingDollar { background: url(../images/ico-gui-olive.png) no-repeat 10px -165px;}
.loan { background: url(../images/ico-gui-olive.png) no-repeat 10px -330px;}
.loanBack { background: url(../images/ico-gui-olive.png) no-repeat 40px -330px;}
.saving { background: url(../images/ico-gui-olive.png) no-repeat 10px -495px;}
.savingDollar { background: url(../images/ico-gui-olive.png) no-repeat 10px -663px;}
.creditcard { background: url(../images/ico-gui-olive.png) no-repeat 10px -854px;}

.month-scroll li a, .month-scroll-medium li a, .month-scroll-extra li a{ background:#96b69b; border-top: 4px solid #96b69b; }
.month-scroll li a:hover, .month-scroll-medium li a:hover, .month-scroll-extra li a:hover{ background:#bfd2c2;}
.month-scroll li a.active, .month-scroll-medium li a.active, .month-scroll-extra li a.active{ background:#608866;}

#accountList .container, .bUsual{  
	background: #ebf1ec;
	background: -moz-linear-gradient(top,  #ebf1ec 0%, #d3e0d6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1ec), color-stop(100%,#d3e0d6));
	background: -webkit-linear-gradient(top,  #ebf1ec 0%,#d3e0d6 100%);
	background: -o-linear-gradient(top,  #ebf1ec 0%,#d3e0d6 100%);
	background: -ms-linear-gradient(top,  #ebf1ec 0%,#d3e0d6 100%);
	background: linear-gradient(top,  #ebf1ec 0%,#d3e0d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1ec', endColorstr='#d3e0d6',GradientType=0 );
}

.accountUnit.active, .accountUnitType.active, .accountUnitLeft.active, .accountUnitRight.active, .accountUnitNobg.active{ background: #96b69b;}
.accountUnitLeft.active { background: #96b69b url(../images/arrow-big.png) no-repeat right center; }
.accountUnitRight.active { background: #608866 url(../images/arrow-big-alt.png) no-repeat left center; }
.accountUnitAlt.active { background: #608866} 
.accountUnitMark.active { background: #96b69b; } 
.accountUnitNobg.active .accountNumberPreset{ background: #96b69b; }
.accountUnitNobg.active .accountNamePreset, .accountUnitNobg.active:hover .accountNamePreset{ background: #608866; }

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../images/switch-olive.gif) repeat-x; display: block; float: left; }
.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
.cb-enable span { background-position: left -90px; padding: 0 10px; }
.cb-disable span { background-position: right -180px;padding: 0 10px; }
.cb-disable.selected { background-position: 0 -30px; }
.cb-disable.selected span { background-position: right -210px; color: #fff; }
.cb-enable.selected { background-position: 0 -60px; }
.cb-enable.selected span { background-position: left -150px; color: #fff; }

.pages li .active, .pages li a:active, .pages li .active:hover { background: #49674e;}
.tPages ul li a:active { background: #49674e;} 

@media only screen and (max-width: 767px) {
.tDefault td:before {background: #739b79; }
}