/* # Skin (default)
==================================================
	
    === nav ===	
	#36948c dark green
	#86c4b6 fresh green
	#eff8f5 super light silver
	#d3ebe7 light silver
	#a4d2c8 silver
	
    === submenu ===	
	#091716 deep grey
	#307871 dark grey
	#3e9b92 grey
	
    === footer ===	
	#cde7e1 bright green
	
    === button ===	
	#7cbeb8 glow black
	#55aaa2 ~ #2c5854 black
	
    === widget head ===	
	#f8f8f8 ~ #d3ebe7  light grey
	#d3ebe7 ~ #86c4b6  dark grey
	#86c4b6 ~ #36948c  green
	
    === table ===	
	#55ac99 light grey
	#f2f9f8 super light grey
	
==================================================*/

/*=== General styles ===*/
body { color: #000; }
#main-wrapper { background: url(../images/bg-cream.jpg) repeat-x top; }

/*=== Top part ===*/
#top { border-bottom: 5px solid #36948c; }
ul.userNav li { background: #eff8f5; border-top: 3px solid #eff8f5;}
ul.userNav li a { color: #307871;}
ul.userNav li a:hover { color: #000;}
ul.userNav li:hover { background-color: #d3ebe7; border-top: #d3ebe7 3px solid; }
ul.userNav li.current{ background-color: #36948c; border-top: #091716 3px solid; }
ul.userNav li:active{ background-color: #a4d2c8; border-top: #3e9b92 3px solid; }
ul.userMobileNav { background: #eff8f5;}
ul.userMobileNav li a { color: #307871;}
ul.userMobileNav li a:hover { color: #000;}
ul.userMobileNav li:hover { background-color: #d3ebe7; }
ul.userMobileNav li.current { background-color: #36948c; }
ul.userMobileNav li:active{ background-color: #86c4b6;}


/*=== Navigation ===*/
.navigation-wrapper { border-bottom: #86c4b6 3px solid; }
ul#nav li, ul#m-nav li { background: #fafaf3;}
ul#nav li a, ul#m-nav li a { color: #307871;}
ul#nav li:hover, ul#m-nav li:hover { background-color: #36948c; }
ul#nav li.current, ul#nav li.current:active, ul#m-nav li.current, ul#m-nav li.current:active{ background-color: #86c4b6;}
ul#nav li:active, ul#m-nav li:active{ background-color: #a4d2c8;}
.navPrev {background: #86c4b6 url(../images/nav-scroll.png) no-repeat 0 1px;}
.navNext {background: #86c4b6 url(../images/nav-scroll.png) no-repeat 0 -24px;}
.navNew {background: #86c4b6 url(../images/nav-scroll.png) no-repeat 0 -51px;}
.navPrev:hover, .navNext:hover, .navNew:hover  {background-color: #36948c; }
.mSearchs { background: #f2f9f8 url(../images/icon-mobile-nav.png) no-repeat center 5px;}
.mMessages { background: #f2f9f8 url(../images/icon-mobile-nav.png) no-repeat center -26px;}
.mSettings { background: #f2f9f8 url(../images/icon-mobile-nav.png) no-repeat center -59px;}
.mSearchs:hover, .mMessages:hover, .mSettings:hover, .mMessages.current{background-color: #36948c; }
.mMessagePanel { border-top: #36948c 3px solid;}

.tabLayout { background:#d3ebe7;}

.currentServices { background: #86c4b6 url(../images/action-tab-trigger.png) right 4px no-repeat; }
.allServices { background: #86c4b6; }
.currentServices.active{ background: #86c4b6 url(../images/action-tab-trigger.png) right -26px no-repeat;}

.triggerServices {  background: #f2f9f8; }
.triggerServices:hover { background: #36948c; color: #fff; text-shadow: 1px 1px 0 #666;}
.triggerServices.active{ background: #307871;}

.navServices{ background: #307871; }
.navServices li a{  border-bottom: 1px solid #3e9b92; }
.navServices li:hover{ background: #091716; }

/*=== Font resize ===*/
.fontsizeM, .fontsizeD, .fontsizeP{ border-right: 1px solid #86c4b6; }

/*=== Sidebar ===*/
.bannersHolder, .bannersHolderAlt{ 
    background: #86c4b6;
    background: -moz-linear-gradient(top,  #f2f9f8 0%, #86c4b6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f9f8 ), color-stop(100%,#86c4b6));
    background: -webkit-linear-gradient(top,  #f2f9f8 0%,#86c4b6 100%);
    background: -o-linear-gradient(top,  #f2f9f8 0%,#86c4b6 100%);
    background: -ms-linear-gradient(top,  #f2f9f8 0%,#86c4b6 100%);
    background: linear-gradient(top,  #f2f9f8 0%,#86c4b6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9f8', endColorstr='#86c4b6',GradientType=0 );
}
#submenu .container a, #mobileSubmenu .container a, #padSubmenu .container a{ background: #3e9b92 url(../images/rightArrowLight.png) no-repeat 15px center;}
#submenu .container a:hover, #mobileSubmenu .container a:hover, #padSubmenu .container a:hover{ background: #307871 url(../images/rightArrowLight.png) no-repeat 15px center;}
#submenu .container li a.current, #mobileSubmenu .container li a.current, #padSubmenu .container li a.current{ background: #307871 url(../images/rightArrowLight.png) no-repeat 15px center;}
#mobileSubmenu ul{ border: 4px solid #86c4b6; border-top:none;}
.sepDark { border-top: 4px solid #86c4b6;}

/*=== Footer ===*/
.footer-wrapper { background: #cde7e1 url(../images/bg-footer.png) repeat-x;}

/*=== Button ===*/
.bBlack {  color:#fff; border: 1px solid #4e4e4e; box-shadow: 0 1px 2px 0 #7cbeb8 inset; -webkit-box-shadow: 0 1px 2px 0 #7cbeb8 inset; -moz-box-shadow: 0 1px 2px 0 #7cbeb8 inset;
background: #55aaa2 url(../images/sprite.png);
background-image: url(../images/sprite.png), -moz-linear-gradient(top,  #55aaa2 0%, #2c5854 100%);
background-image: url(../images/sprite.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#55aaa2), color-stop(100%,#2c5854));
background-image: url(../images/sprite.png), -webkit-linear-gradient(top,  #55aaa2 0%,#2c5854 100%);
background-image: url(../images/sprite.png), -o-linear-gradient(top,  #55aaa2 0%,#2c5854 100%);
background-image: url(../images/sprite.png), -ms-linear-gradient(top,  #55aaa2 0%,#2c5854 100%);
background-image: url(../images/sprite.png), linear-gradient(top,  #55aaa2 0%,#2c5854 100%);
}
.bBlack:hover { opacity: 0.85; filter: alpha(opacity=85); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bBlack:active { box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; }

.ie7 .bBlack.icoAnalysis,.ie8 .bBlack.icoAnalysis {background: #55aaa2 url(../images/sprite.png) 10px -86px no-repeat ;}
.ie7 .bBlack.icoDownload,.ie8 .bBlack.icoDownload {background: #55aaa2 url(../images/sprite.png) 10px -128px no-repeat ;}
.ie7 .bBlack.icoPrint,.ie8 .bBlack.icoPrint {background: #55aaa2 url(../images/sprite.png) 10px -258px no-repeat ;}
.ie7 .bBlack.icoQuery,.ie8 .bBlack.icoQuery {background: #55aaa2 url(../images/sprite.png) 10px -723px no-repeat ;}
.ie7 .bBlack.icoBack,.ie8 .bBlack.icoBack {background: #55aaa2 url(../images/sprite.png) 10px -430px no-repeat ;}
.ie7 .bBlack.icoNext,.ie8 .bBlack.icoNext {background: #55aaa2 url(../images/sprite.png) 10px -301px no-repeat ;}
.ie7 .bBlack.icoCheck,.ie8 .bBlack.icoCheck {background: #55aaa2 url(../images/sprite.png) 10px -554px no-repeat ;}
.ie7 .bBlack.icoCancel,.ie8 .bBlack.icoCancel {background: #55aaa2 url(../images/sprite.png) 10px -680px no-repeat ;}
.ie7 .bBlack.icoSetting,.ie8 .bBlack.icoSetting {background: #55aaa2 url(../images/sprite.png) 10px -638px no-repeat ;}
.ie7 .bBlack.icoEmail,.ie8 .bBlack.icoEmail {background: #55aaa2 url(../images/sprite.png) 10px -514px no-repeat ;}
.ie7 .bBlack.icoAdd,.ie8 .bBlack.icoAdd {background: #55aaa2 url(../images/sprite.png) 10px -850px no-repeat ;}
.ie7 .bBlack.icoSave,.ie8 .bBlack.icoSave {background: #55aaa2 url(../images/sprite.png) 10px -344px no-repeat ;}
.ie7 .bBlack.icoHeart,.ie8 .bBlack.icoHeart {background: #55aaa2 url(../images/sprite.png) 10px -944px no-repeat ;}
.ie7 .bBlack.icoTimer,.ie8 .bBlack.icoTimer {background: #55aaa2 url(../images/sprite.png) 10px -994px no-repeat ;}
.ie7 .bBlack.icoMsg,.ie8 .bBlack.icoMsg {background: #55aaa2 url(../images/sprite.png) 10px -1044px no-repeat ;}
.ie7 .bBlack.icoEdit,.ie8 .bBlack.icoEdit {background: #55aaa2 url(../images/sprite.png) 10px -216px no-repeat ;}
.ie7 .bBlack.icoResult,.ie8 .bBlack.icoResult {background: #55aaa2 url(../images/sprite.png) 10px -765px no-repeat ;}
.ie7 .bBlack.icoLottery,.ie8 .bBlack.icoLottery {background: #55aaa2 url(../images/sprite.png) 10px -1097px no-repeat ;}


/*=== Overview, Settings ===*/
#widgetLists .container a.active{ background: #86c4b6;}
.langBox.active{ background: #86c4b6;}
.themeBox.active{ border: 4px solid #86c4b6; }

/*=== Widget ===*/
.whead, .wheadDark { color: #091716; }
.whead {  
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #d3ebe7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#d3ebe7));
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#d3ebe7 100%);
	background: -o-linear-gradient(top,  #f8f8f8 0%,#d3ebe7 100%);
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#d3ebe7 100%);
	background: linear-gradient(top,  #f8f8f8 0%,#d3ebe7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#d3ebe7',GradientType=0 );
}
.wheadDark {
	background: #98cdc1;
	background: -moz-linear-gradient(top,  #d3ebe7 0%, #86c4b6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3ebe7 ), color-stop(100%,#86c4b6));
	background: -webkit-linear-gradient(top,  #d3ebe7 0%,#86c4b6 100%);
	background: -o-linear-gradient(top,  #d3ebe7 0%,#86c4b6 100%);
	background: -ms-linear-gradient(top,  #d3ebe7 0%,#86c4b6 100%);
	background: linear-gradient(top,  #d3ebe7 0%,#86c4b6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3ebe7', endColorstr='#86c4b6',GradientType=0 );
}
.wheadGreen {  
	background: #40b0a8;
	background: -moz-linear-gradient(top,  #86c4b6 0%, #36948c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86c4b6 ), color-stop(100%,#36948c));
	background: -webkit-linear-gradient(top,  #86c4b6 0%,#36948c 100%);
	background: -o-linear-gradient(top,  #86c4b6 0%,#36948c 100%);
	background: -ms-linear-gradient(top,  #86c4b6 0%,#36948c 100%);
	background: linear-gradient(top,  #86c4b6 0%,#36948c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86c4b6', endColorstr='#36948c',GradientType=0 );
}

ul.viewTab li a.viewGraphic:hover, ul.viewTab li a.viewTable:hover, ul.viewTab li a.viewGraphic.active, ul.viewTab li a.viewTable.active { border-top: 2px solid #86c4b6; }
ul.wtab li.ui-tabs-selected, ul.mtab li.ui-tabs-selected, ul.stab li.ui-tabs-selected,  ul.ntab li.ui-tabs-selected, ul.ntab li.ui-tabs-selected{ border-top: 4px solid #86c4b6; }
ul.wtab li:hover, ul.mtab li:hover, ul.stab li:hover, ul.ntab li:hover{ border-top: 4px solid #86c4b6; }
ul.wtab li:active, ul.mtab li:active, ul.stab li:active, ul.ntab li:active{ border-top: 4px solid #86c4b6;}

.bGrey { background: #f2f9f8;}
.bDarkGrey { background: #3e9b92;}

.liArticle li:nth-child(even) { background: #f2f9f8 url(../images/subnav_arrow.png) no-repeat 3px  8px;}
.liArrowAlt li:nth-child(even) { background: #f2f9f8 url(../images/subnav_arrow.png) no-repeat 8px 15px;}

/*=== Widget table===*/
.tDefault thead td { background-color: #55ac99 !important; }
.tDefault tbody tr:nth-child(even) { background: #f2f9f8; }
.tVertical tbody th { background: #55ac99; }
.tVertical tbody tr:nth-child(even) { background: #f2f9f8; }

/*=== Widget breadcrumb===*/
.breadcrumb li a{ background-image:url(../images/breadcrumb-tealgreen.png); }

/*=== GUI ===*/
.checking { background: url(../images/ico-gui-tealgreen.png) no-repeat 10px 0; }
.checkingDollar { background: url(../images/ico-gui-tealgreen.png) no-repeat 10px -165px;}
.loan { background: url(../images/ico-gui-tealgreen.png) no-repeat 10px -330px;}
.loanBack { background: url(../images/ico-gui-tealgreen.png) no-repeat 40px -330px;}
.saving { background: url(../images/ico-gui-tealgreen.png) no-repeat 10px -495px;}
.savingDollar { background: url(../images/ico-gui-tealgreen.png) no-repeat 10px -663px;}
.creditcard { background: url(../images/ico-gui-tealgreen.png) no-repeat 10px -854px;}
.wallet { background: url(../images/ico-gui-tealgreen.png) no-repeat 10px -1025px;}

.month-scroll li a, .month-scroll-medium li a, .month-scroll-extra li a{ background:#86c4b6; border-top: 4px solid #86c4b6; }
.month-scroll li a:hover, .month-scroll-medium li a:hover, .month-scroll-extra li a:hover{ background:#bcded7;}
.month-scroll li a.active, .month-scroll-medium li a.active, .month-scroll-extra li a.active{ background:#36948c;}

#accountList .container, .bUsual{  
	background: #e6f2f0;
	background: -moz-linear-gradient(top,  #e6f2f0 0%, #e0efed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f2f0), color-stop(100%,#e0efed));
	background: -webkit-linear-gradient(top,  #e6f2f0 0%,#e0efed 100%);
	background: -o-linear-gradient(top,  #e6f2f0 0%,#e0efed 100%);
	background: -ms-linear-gradient(top,  #e6f2f0 0%,#e0efed 100%);
	background: linear-gradient(top,  #e6f2f0 0%,#e0efed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f2f0', endColorstr='#e0efed',GradientType=0 );
}

.accountUnit.active, .accountUnitType.active, .accountUnitLeft.active, .accountUnitRight.active, .accountUnitNobg.active{ background: #86c4b6;}
.accountUnitLeft.active { background: #86c4b6 url(../images/arrow-big.png) no-repeat right center; }
.accountUnitRight.active { background: #36948c url(../images/arrow-big-alt.png) no-repeat left center; }
.accountUnitAlt.active { background: #36948c} 
.accountUnitMark.active { background: #86c4b6; } 
.accountUnitNobg.active .accountNumberPreset{ background: #86c4b6; }
.accountUnitNobg.active .accountNamePreset, .accountUnitNobg.active:hover .accountNamePreset{ background: #36948c; }

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../images/switch-tealgreen.gif) repeat-x; display: block; float: left; }
.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
.cb-enable span { background-position: left -90px; padding: 0 10px; }
.cb-disable span { background-position: right -180px;padding: 0 10px; }
.cb-disable.selected { background-position: 0 -30px; }
.cb-disable.selected span { background-position: right -210px; color: #fff; }
.cb-enable.selected { background-position: 0 -60px; }
.cb-enable.selected span { background-position: left -150px; color: #fff; }

.pages li .active, .pages li a:active, .pages li .active:hover { background: #2c5854;}
.tPages ul li a:active { background: #2c5854;} 

@media only screen and (max-width: 767px) {
.tDefault td:before {background: #55ac99; }
}