/* # Skin (default)
==================================================
	
    === nav ===	
	#cf3f5b dark green
	#df9595 fresh green
	#fbf0f0 super light silver
	#f1cdcd light silver
	#eebdc2 silver
	
    === submenu ===	
	#5b1725 deep grey
	#aa2b44 dark grey
	#cb3452 grey
	
    === footer ===	
	#eec1c6 bright green
	
    === button ===	
	#db99a3 glow black
	#b3404f ~ #862236 black
	
    === widget head ===	
	#f8f8f8 ~ #f1cdcd  light grey
	#f1cdcd ~ #df9595  dark grey
	#df9595 ~ #cf3f5b  green
	
    === table ===	
	#da7a84 light grey
	#fbf0f0 super light grey
	
==================================================*/

/*=== General styles ===*/
body { color: #000; }
#main-wrapper { background: url(../images/bg-cream.jpg) repeat-x top; }

/*=== Top part ===*/
#top { border-bottom: 5px solid #cf3f5b; }
ul.userNav li { background: #fbf0f0; border-top: 3px solid #fbf0f0;}
ul.userNav li a { color: #aa2b44;}
ul.userNav li a:hover { color: #000;}
ul.userNav li:hover { background-color: #f1cdcd; border-top: #f1cdcd 3px solid; }
ul.userNav li.current{ background-color: #cf3f5b; border-top: #5b1725 3px solid; }
ul.userNav li:active{ background-color: #eebdc2; border-top: #cb3452 3px solid; }
ul.userMobileNav { background: #fbf0f0;}
ul.userMobileNav li a { color: #aa2b44;}
ul.userMobileNav li a:hover { color: #000;}
ul.userMobileNav li:hover { background-color: #f1cdcd; }
ul.userMobileNav li.current { background-color: #cf3f5b; }
ul.userMobileNav li:active{ background-color: #df9595;}


/*=== Navigation ===*/
.navigation-wrapper { border-bottom: #df9595 3px solid; }
ul#nav li, ul#m-nav li { background: #fafaf3;}
ul#nav li a, ul#m-nav li a { color: #aa2b44;}
ul#nav li:hover, ul#m-nav li:hover { background-color: #cf3f5b; }
ul#nav li.current, ul#nav li.current:active, ul#m-nav li.current, ul#m-nav li.current:active{ background-color: #df9595;}
ul#nav li:active, ul#m-nav li:active{ background-color: #eebdc2;}
.navPrev {background: #df9595 url(../images/nav-scroll.png) no-repeat 0 1px;}
.navNext {background: #df9595 url(../images/nav-scroll.png) no-repeat 0 -24px;}
.navNew {background: #df9595 url(../images/nav-scroll.png) no-repeat 0 -51px;}
.navPrev:hover, .navNext:hover, .navNew:hover  {background-color: #cf3f5b; }
.mSearchs { background: #fbf0f0 url(../images/icon-mobile-nav.png) no-repeat center 5px;}
.mMessages { background: #fbf0f0 url(../images/icon-mobile-nav.png) no-repeat center -26px;}
.mSettings { background: #fbf0f0 url(../images/icon-mobile-nav.png) no-repeat center -59px;}
.mSearchs:hover, .mMessages:hover, .mSettings:hover, .mMessages.current{background-color: #cf3f5b; }
.mMessagePanel { border-top: #cf3f5b 3px solid;}

.tabLayout { background:#f1cdcd;}

.currentServices { background: #df9595 url(../images/action-tab-trigger.png) right 4px no-repeat; }
.allServices { background: #df9595; }
.currentServices.active{ background: #df9595 url(../images/action-tab-trigger.png) right -26px no-repeat;}

.triggerServices {  background: #fbf0f0; }
.triggerServices:hover { background: #cf3f5b; color: #fff; text-shadow: 1px 1px 0 #666;}
.triggerServices.active{ background: #aa2b44;}

.navServices{ background: #aa2b44; }
.navServices li a{  border-bottom: 1px solid #cb3452; }
.navServices li:hover{ background: #5b1725; }

/*=== Font resize ===*/
.fontsizeM, .fontsizeD, .fontsizeP{ border-right: 1px solid #df9595; }

/*=== Sidebar ===*/
.bannersHolder, .bannersHolderAlt{ 
    background: #df9595;
    background: -moz-linear-gradient(top,  #fbf0f0 0%, #df9595 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbf0f0 ), color-stop(100%,#df9595));
    background: -webkit-linear-gradient(top,  #fbf0f0 0%,#df9595 100%);
    background: -o-linear-gradient(top,  #fbf0f0 0%,#df9595 100%);
    background: -ms-linear-gradient(top,  #fbf0f0 0%,#df9595 100%);
    background: linear-gradient(top,  #fbf0f0 0%,#df9595 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf0f0', endColorstr='#df9595',GradientType=0 );
}
#submenu .container a, #mobileSubmenu .container a, #padSubmenu .container a{ background: #cb3452 url(../images/rightArrowLight.png) no-repeat 15px center;}
#submenu .container a:hover, #mobileSubmenu .container a:hover, #padSubmenu .container a:hover{ background: #aa2b44 url(../images/rightArrowLight.png) no-repeat 15px center;}
#submenu .container li a.current, #mobileSubmenu .container li a.current, #padSubmenu .container li a.current{ background: #aa2b44 url(../images/rightArrowLight.png) no-repeat 15px center;}
#mobileSubmenu ul{ border: 4px solid #df9595; border-top:none;}
.sepDark { border-top: 4px solid #df9595;}

/*=== Footer ===*/
.footer-wrapper { background: #eec1c6 url(../images/bg-footer.png) repeat-x;}

/*=== Button ===*/
.bBlack {  color:#fff; border: 1px solid #4e4e4e; box-shadow: 0 1px 2px 0 #db99a3 inset; -webkit-box-shadow: 0 1px 2px 0 #db99a3 inset; -moz-box-shadow: 0 1px 2px 0 #db99a3 inset;
background: #b3404f url(../images/sprite.png);
background-image: url(../images/sprite.png), -moz-linear-gradient(top,  #b3404f 0%, #862236 100%);
background-image: url(../images/sprite.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b3404f), color-stop(100%,#862236));
background-image: url(../images/sprite.png), -webkit-linear-gradient(top,  #b3404f 0%,#862236 100%);
background-image: url(../images/sprite.png), -o-linear-gradient(top,  #b3404f 0%,#862236 100%);
background-image: url(../images/sprite.png), -ms-linear-gradient(top,  #b3404f 0%,#862236 100%);
background-image: url(../images/sprite.png), linear-gradient(top,  #b3404f 0%,#862236 100%);
}
.bBlack:hover { opacity: 0.85; filter: alpha(opacity=85); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bBlack:active { box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; }

.ie7 .bBlack.icoAnalysis,.ie8 .bBlack.icoAnalysis {background: #b3404f url(../images/sprite.png) 10px -86px no-repeat ;}
.ie7 .bBlack.icoDownload,.ie8 .bBlack.icoDownload {background: #b3404f url(../images/sprite.png) 10px -128px no-repeat ;}
.ie7 .bBlack.icoPrint,.ie8 .bBlack.icoPrint {background: #b3404f url(../images/sprite.png) 10px -258px no-repeat ;}
.ie7 .bBlack.icoQuery,.ie8 .bBlack.icoQuery {background: #b3404f url(../images/sprite.png) 10px -723px no-repeat ;}
.ie7 .bBlack.icoBack,.ie8 .bBlack.icoBack {background: #b3404f url(../images/sprite.png) 10px -430px no-repeat ;}
.ie7 .bBlack.icoNext,.ie8 .bBlack.icoNext {background: #b3404f url(../images/sprite.png) 10px -301px no-repeat ;}
.ie7 .bBlack.icoCheck,.ie8 .bBlack.icoCheck {background: #b3404f url(../images/sprite.png) 10px -554px no-repeat ;}
.ie7 .bBlack.icoCancel,.ie8 .bBlack.icoCancel {background: #b3404f url(../images/sprite.png) 10px -680px no-repeat ;}
.ie7 .bBlack.icoSetting,.ie8 .bBlack.icoSetting {background: #b3404f url(../images/sprite.png) 10px -638px no-repeat ;}
.ie7 .bBlack.icoEmail,.ie8 .bBlack.icoEmail {background: #b3404f url(../images/sprite.png) 10px -514px no-repeat ;}
.ie7 .bBlack.icoAdd,.ie8 .bBlack.icoAdd {background: #b3404f url(../images/sprite.png) 10px -850px no-repeat ;}
.ie7 .bBlack.icoSave,.ie8 .bBlack.icoSave {background: #b3404f url(../images/sprite.png) 10px -344px no-repeat ;}
.ie7 .bBlack.icoHeart,.ie8 .bBlack.icoHeart {background: #b3404f url(../images/sprite.png) 10px -944px no-repeat ;}
.ie7 .bBlack.icoTimer,.ie8 .bBlack.icoTimer {background: #b3404f url(../images/sprite.png) 10px -994px no-repeat ;}
.ie7 .bBlack.icoMsg,.ie8 .bBlack.icoMsg {background: #b3404f url(../images/sprite.png) 10px -1044px no-repeat ;}
.ie7 .bBlack.icoEdit,.ie8 .bBlack.icoEdit {background: #b3404f url(../images/sprite.png) 10px -216px no-repeat ;}
.ie7 .bBlack.icoResult,.ie8 .bBlack.icoResult {background: #b3404f url(../images/sprite.png) 10px -765px no-repeat ;}
.ie7 .bBlack.icoLottery,.ie8 .bBlack.icoLottery {background: #b3404f url(../images/sprite.png) 10px -1097px no-repeat ;}

/*=== Overview, Settings ===*/
#widgetLists .container a.active{ background: #df9595;}
.langBox.active{ background: #df9595;}
.themeBox.active{ border: 4px solid #df9595; }

/*=== Widget ===*/
.whead, .wheadDark { color: #5b1725; }
.whead {  
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #f1cdcd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#f1cdcd));
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f1cdcd 100%);
	background: -o-linear-gradient(top,  #f8f8f8 0%,#f1cdcd 100%);
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#f1cdcd 100%);
	background: linear-gradient(top,  #f8f8f8 0%,#f1cdcd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f1cdcd',GradientType=0 );
}
.wheadDark {
	background: #e6acac;
	background: -moz-linear-gradient(top,  #f1cdcd 0%, #df9595 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1cdcd ), color-stop(100%,#df9595));
	background: -webkit-linear-gradient(top,  #f1cdcd 0%,#df9595 100%);
	background: -o-linear-gradient(top,  #f1cdcd 0%,#df9595 100%);
	background: -ms-linear-gradient(top,  #f1cdcd 0%,#df9595 100%);
	background: linear-gradient(top,  #f1cdcd 0%,#df9595 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1cdcd', endColorstr='#df9595',GradientType=0 );
}
.wheadGreen {  
	background: #db7186;
	background: -moz-linear-gradient(top,  #df9595 0%, #cf3f5b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df9595 ), color-stop(100%,#cf3f5b));
	background: -webkit-linear-gradient(top,  #df9595 0%,#cf3f5b 100%);
	background: -o-linear-gradient(top,  #df9595 0%,#cf3f5b 100%);
	background: -ms-linear-gradient(top,  #df9595 0%,#cf3f5b 100%);
	background: linear-gradient(top,  #df9595 0%,#cf3f5b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df9595', endColorstr='#cf3f5b',GradientType=0 );
}

ul.viewTab li a.viewGraphic:hover, ul.viewTab li a.viewTable:hover, ul.viewTab li a.viewGraphic.active, ul.viewTab li a.viewTable.active { border-top: 2px solid #df9595; }
ul.wtab li.ui-tabs-selected, ul.mtab li.ui-tabs-selected, ul.stab li.ui-tabs-selected,  ul.ntab li.ui-tabs-selected, ul.ntab li.ui-tabs-selected{ border-top: 4px solid #df9595; }
ul.wtab li:hover, ul.mtab li:hover, ul.stab li:hover, ul.ntab li:hover{ border-top: 4px solid #df9595; }
ul.wtab li:active, ul.mtab li:active, ul.stab li:active, ul.ntab li:active{ border-top: 4px solid #df9595;}

.bGrey { background: #fbf0f0;}
.bDarkGrey { background: #cb3452;}

.liArticle li:nth-child(even) { background: #fbf0f0 url(../images/subnav_arrow.png) no-repeat 3px  8px;}
.liArrowAlt li:nth-child(even) { background: #fbf0f0 url(../images/subnav_arrow.png) no-repeat 8px 15px;}

/*=== Widget table===*/
.tDefault thead td { background-color: #da7a84 !important; }
.tDefault tbody tr:nth-child(even) { background: #fbf0f0; }
.tVertical tbody th { background: #da7a84; }
.tVertical tbody tr:nth-child(even) { background: #fbf0f0; }

/*=== Widget breadcrumb===*/
.breadcrumb li a{ background-image:url(../images/breadcrumb-red.png); }

/*=== GUI ===*/
.checking { background: url(../images/ico-gui-red.png) no-repeat 10px 0; }
.checkingDollar { background: url(../images/ico-gui-red.png) no-repeat 10px -165px;}
.loan { background: url(../images/ico-gui-red.png) no-repeat 10px -330px;}
.loanBack { background: url(../images/ico-gui-red.png) no-repeat 40px -330px;}
.saving { background: url(../images/ico-gui-red.png) no-repeat 10px -495px;}
.savingDollar { background: url(../images/ico-gui-red.png) no-repeat 10px -663px;}
.creditcard { background: url(../images/ico-gui-red.png) no-repeat 10px -854px;}

.month-scroll li a, .month-scroll-medium li a, .month-scroll-extra li a{ background:#df9595; border-top: 4px solid #df9595; }
.month-scroll li a:hover, .month-scroll-medium li a:hover, .month-scroll-extra li a:hover{ background:#ecbfbf;}
.month-scroll li a.active, .month-scroll-medium li a.active, .month-scroll-extra li a.active{ background:#cf3f5b;}

#accountList .container, .bUsual{  
	background: #f5e4e4;
	background: -moz-linear-gradient(top,  #f5e4e4 0%, #f4dede 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5e4e4), color-stop(100%,#f4dede));
	background: -webkit-linear-gradient(top,  #f5e4e4 0%,f4dede 100%);
	background: -o-linear-gradient(top,  #f5e4e4 0%,#f4dede 100%);
	background: -ms-linear-gradient(top,  #f5e4e4 0%,#f4dede 100%);
	background: linear-gradient(top,  #f5e4e4 0%,#f4dede 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5e4e4', endColorstr='#f4dede',GradientType=0 );
}

.accountUnit.active, .accountUnitType.active, .accountUnitLeft.active, .accountUnitRight.active, .accountUnitNobg.active{ background: #df9595;}
.accountUnitLeft.active { background: #df9595 url(../images/arrow-big.png) no-repeat right center; }
.accountUnitRight.active { background: #cf3f5b url(../images/arrow-big-alt.png) no-repeat left center; }
.accountUnitAlt.active { background: #cf3f5b; }
.accountUnitMark.active { background: #df9595; } 
.accountUnitNobg.active .accountNumberPreset{ background: #df9595; }
.accountUnitNobg.active .accountNamePreset, .accountUnitNobg.active:hover .accountNamePreset{ background: #cf3f5b; }

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../images/switch-red.gif) repeat-x; display: block; float: left; }
.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
.cb-enable span { background-position: left -90px; padding: 0 10px; }
.cb-disable span { background-position: right -180px;padding: 0 10px; }
.cb-disable.selected { background-position: 0 -30px; }
.cb-disable.selected span { background-position: right -210px; color: #fff; }
.cb-enable.selected { background-position: 0 -60px; }
.cb-enable.selected span { background-position: left -150px; color: #fff; }

.pages li .active, .pages li a:active, .pages li .active:hover { background: #862236;}
.tPages ul li a:active { background: #862236;} 

@media only screen and (max-width: 767px) {
.tDefault td:before {background: #da7a84; }
}