/* # Skin (default)
==================================================
	
    === nav ===	
	#8c7494 dark green
	#bd8fc0 fresh green
	#f7f0f7 super light silver
	#e0c8e1 light silver
	#c8bbca silver
	
    === submenu ===	
	#1c161d deep grey
	#7a6381 dark grey
	#8f7797 grey
	
    === footer ===	
	#d9c1db bright green
	
    === button ===	
	#bc8fb8 glow black
	#93598d ~ #573554 black
	
    === widget head ===	
	#f8f8f8 ~ #e0c8e1  light grey
	#e0c8e1 ~ #bd8fc0  dark grey
	#bd8fc0 ~ #8c7494  green
	
    === table ===	
	#a970ad light grey
	#f3ecf4 super light grey
	
==================================================*/

/*=== General styles ===*/
body { color: #000; }
#main-wrapper { background: url(../images/bg-cream.jpg) repeat-x top; }

/*=== Top part ===*/
#top { border-bottom: 5px solid #8c7494; }
ul.userNav li { background: #f7f0f7; border-top: 3px solid #f7f0f7;}
ul.userNav li a { color: #7a6381;}
ul.userNav li a:hover { color: #000;}
ul.userNav li:hover { background-color: #e0c8e1; border-top: #e0c8e1 3px solid; }
ul.userNav li.current{ background-color: #8c7494; border-top: #7a6381 3px solid; }
ul.userNav li:active{ background-color: #c8bbca; border-top: #8f7797 3px solid; }
ul.userMobileNav { background: #f7f0f7;}
ul.userMobileNav li a { color: #7a6381;}
ul.userMobileNav li a:hover { color: #000;}
ul.userMobileNav li:hover { background-color: #e0c8e1; }
ul.userMobileNav li.current { background-color: #8c7494; }
ul.userMobileNav li:active{ background-color: #bd8fc0;}


/*=== Navigation ===*/
.navigation-wrapper { border-bottom: #bd8fc0 3px solid; }
ul#nav li, ul#m-nav li { background: #fafaf3;}
ul#nav li a, ul#m-nav li a { color: #7a6381;}
ul#nav li:hover, ul#m-nav li:hover { background-color: #8c7494; }
ul#nav li.current, ul#nav li.current:active, ul#m-nav li.current, ul#m-nav li.current:active{ background-color: #bd8fc0;}
ul#nav li:active, ul#m-nav li:active{ background-color: #c8bbca;}
.navPrev {background: #bd8fc0 url(../images/nav-scroll.png) no-repeat 0 1px;}
.navNext {background: #bd8fc0 url(../images/nav-scroll.png) no-repeat 0 -24px;}
.navNew {background: #bd8fc0 url(../images/nav-scroll.png) no-repeat 0 -51px;}
.navPrev:hover, .navNext:hover, .navNew:hover  {background-color: #8c7494; }
.mSearchs { background: #f3ecf4 url(../images/icon-mobile-nav.png) no-repeat center 5px;}
.mMessages { background: #f3ecf4 url(../images/icon-mobile-nav.png) no-repeat center -26px;}
.mSettings { background: #f3ecf4 url(../images/icon-mobile-nav.png) no-repeat center -59px;}
.mSearchs:hover, .mMessages:hover, .mSettings:hover, .mMessages.current{ background-color: #8c7494; }
.mMessagePanel { border-top: #8c7494 3px solid;}

.tabLayout { background:#e0c8e1;}

.currentServices { background: #bd8fc0 url(../images/action-tab-trigger.png) right 4px no-repeat; }
.allServices { background: #bd8fc0; }
.currentServices.active{ background: #bd8fc0 url(../images/action-tab-trigger.png) right -26px no-repeat;}

.triggerServices {  background: #f3ecf4; }
.triggerServices:hover { background: #8c7494; color: #fff; text-shadow: 1px 1px 0 #666;}
.triggerServices.active{ background: #7a6381;}

.navServices{ background: #7a6381; }
.navServices li a{  border-bottom: 1px solid #8f7797; }
.navServices li:hover{ background: #1c161d; }

/*=== Font resize ===*/
.fontsizeM, .fontsizeD, .fontsizeP{ border-right: 1px solid #bd8fc0; }

/*=== Sidebar ===*/
.bannersHolder, .bannersHolderAlt{ 
    background: #bd8fc0;
    background: -moz-linear-gradient(top,  #f3ecf4 0%, #bd8fc0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3ecf4 ), color-stop(100%,#bd8fc0));
    background: -webkit-linear-gradient(top,  #f3ecf4 0%,#bd8fc0 100%);
    background: -o-linear-gradient(top,  #f3ecf4 0%,#bd8fc0 100%);
    background: -ms-linear-gradient(top,  #f3ecf4 0%,#bd8fc0 100%);
    background: linear-gradient(top,  #f3ecf4 0%,#bd8fc0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3ecf4', endColorstr='#bd8fc0',GradientType=0 );
}
#submenu .container a, #mobileSubmenu .container a, #padSubmenu .container a{ background: #8f7797 url(../images/rightArrowLight.png) no-repeat 15px center;}
#submenu .container a:hover, #mobileSubmenu .container a:hover, #padSubmenu .container a:hover{ background: #7a6381 url(../images/rightArrowLight.png) no-repeat 15px center;}
#submenu .container li a.current, #mobileSubmenu .container li a.current, #padSubmenu .container li a.current{ background: #7a6381 url(../images/rightArrowLight.png) no-repeat 15px center;}
#mobileSubmenu ul{ border: 4px solid #bd8fc0; border-top:none;}
.sepDark { border-top: 4px solid #bd8fc0;}

/*=== Footer ===*/
.footer-wrapper { background: #d9c1db url(../images/bg-footer.png) repeat-x;}

/*=== Button ===*/
.bBlack {  color:#fff; border: 1px solid #4e4e4e; box-shadow: 0 1px 2px 0 #bc8fb8 inset; -webkit-box-shadow: 0 1px 2px 0 #bc8fb8 inset; -moz-box-shadow: 0 1px 2px 0 #bc8fb8 inset;
background: #93598d url(../images/sprite.png);
background-image: url(../images/sprite.png), -moz-linear-gradient(top,  #93598d 0%, #573554 100%);
background-image: url(../images/sprite.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93598d), color-stop(100%,#573554));
background-image: url(../images/sprite.png), -webkit-linear-gradient(top,  #93598d 0%,#573554 100%);
background-image: url(../images/sprite.png), -o-linear-gradient(top,  #93598d 0%,#573554 100%);
background-image: url(../images/sprite.png), -ms-linear-gradient(top,  #93598d 0%,#573554 100%);
background-image: url(../images/sprite.png), linear-gradient(top,  #93598d 0%,#573554 100%);
}
.bBlack:hover { opacity: 0.85; filter: alpha(opacity=85); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bBlack:active { box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 6px #000 inset, 0 1px 0 #fff; }

.ie7 .bBlack.icoAnalysis,.ie8 .bBlack.icoAnalysis {background: #93598d url(../images/sprite.png) 10px -86px no-repeat ;}
.ie7 .bBlack.icoDownload,.ie8 .bBlack.icoDownload {background: #93598d url(../images/sprite.png) 10px -128px no-repeat ;}
.ie7 .bBlack.icoPrint,.ie8 .bBlack.icoPrint {background: #93598d url(../images/sprite.png) 10px -258px no-repeat ;}
.ie7 .bBlack.icoQuery,.ie8 .bBlack.icoQuery {background: #93598d url(../images/sprite.png) 10px -723px no-repeat ;}
.ie7 .bBlack.icoBack,.ie8 .bBlack.icoBack {background: #93598d url(../images/sprite.png) 10px -430px no-repeat ;}
.ie7 .bBlack.icoNext,.ie8 .bBlack.icoNext {background: #93598d url(../images/sprite.png) 10px -301px no-repeat ;}
.ie7 .bBlack.icoCheck,.ie8 .bBlack.icoCheck {background: #93598d url(../images/sprite.png) 10px -554px no-repeat ;}
.ie7 .bBlack.icoCancel,.ie8 .bBlack.icoCancel {background: #93598d url(../images/sprite.png) 10px -680px no-repeat ;}
.ie7 .bBlack.icoSetting,.ie8 .bBlack.icoSetting {background: #93598d url(../images/sprite.png) 10px -638px no-repeat ;}
.ie7 .bBlack.icoEmail,.ie8 .bBlack.icoEmail {background: #93598d url(../images/sprite.png) 10px -514px no-repeat ;}
.ie7 .bBlack.icoAdd,.ie8 .bBlack.icoAdd {background: #93598d url(../images/sprite.png) 10px -850px no-repeat ;}
.ie7 .bBlack.icoSave,.ie8 .bBlack.icoSave {background: #93598d url(../images/sprite.png) 10px -344px no-repeat ;}
.ie7 .bBlack.icoHeart,.ie8 .bBlack.icoHeart {background: #93598d url(../images/sprite.png) 10px -944px no-repeat ;}
.ie7 .bBlack.icoTimer,.ie8 .bBlack.icoTimer {background: #93598d url(../images/sprite.png) 10px -994px no-repeat ;}
.ie7 .bBlack.icoMsg,.ie8 .bBlack.icoMsg {background: #93598d url(../images/sprite.png) 10px -1044px no-repeat ;}
.ie7 .bBlack.icoEdit,.ie8 .bBlack.icoEdit {background: #93598d url(../images/sprite.png) 10px -216px no-repeat ;}
.ie7 .bBlack.icoResult,.ie8 .bBlack.icoResult {background: #93598d url(../images/sprite.png) 10px -765px no-repeat ;}
.ie7 .bBlack.icoLottery,.ie8 .bBlack.icoLottery {background: #93598d url(../images/sprite.png) 10px -1097px no-repeat ;}

/*=== Overview, Settings ===*/
#widgetLists .container a.active{ background: #bd8fc0;}
.langBox.active{ background: #bd8fc0;}
.themeBox.active{ border: 4px solid #bd8fc0; }

/*=== Widget ===*/
.whead, .wheadDark { color: #1c161d; }
.whead {  
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #e0c8e1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e0c8e1));
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e0c8e1 100%);
	background: -o-linear-gradient(top,  #f8f8f8 0%,#e0c8e1 100%);
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#e0c8e1 100%);
	background: linear-gradient(top,  #f8f8f8 0%,#e0c8e1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e0c8e1',GradientType=0 );
}
.wheadDark {
	background: #bd8fc0;
	background: -moz-linear-gradient(top,  #e0c8e1 0%, #bd8fc0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0c8e1 ), color-stop(100%,#bd8fc0));
	background: -webkit-linear-gradient(top,  #e0c8e1 0%,#bd8fc0 100%);
	background: -o-linear-gradient(top,  #e0c8e1 0%,#bd8fc0 100%);
	background: -ms-linear-gradient(top,  #e0c8e1 0%,#bd8fc0 100%);
	background: linear-gradient(top,  #e0c8e1 0%,#bd8fc0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0c8e1', endColorstr='#bd8fc0',GradientType=0 );
}
.wheadGreen {  
	background: #b1a2b7;
	background: -moz-linear-gradient(top,  #bd8fc0 0%, #8c7494 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd8fc0 ), color-stop(100%,#8c7494));
	background: -webkit-linear-gradient(top,  #bd8fc0 0%,#8c7494 100%);
	background: -o-linear-gradient(top,  #bd8fc0 0%,#8c7494 100%);
	background: -ms-linear-gradient(top,  #bd8fc0 0%,#8c7494 100%);
	background: linear-gradient(top,  #bd8fc0 0%,#8c7494 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd8fc0', endColorstr='#8c7494',GradientType=0 );
}

ul.viewTab li a.viewGraphic:hover, ul.viewTab li a.viewTable:hover, ul.viewTab li a.viewGraphic.active, ul.viewTab li a.viewTable.active { border-top: 2px solid #bd8fc0; }
ul.wtab li.ui-tabs-selected, ul.mtab li.ui-tabs-selected, ul.stab li.ui-tabs-selected,  ul.ntab li.ui-tabs-selected, ul.ntab li.ui-tabs-selected{ border-top: 4px solid #bd8fc0; }
ul.wtab li:hover, ul.mtab li:hover, ul.stab li:hover, ul.ntab li:hover{ border-top: 4px solid #bd8fc0; }
ul.wtab li:active, ul.mtab li:active, ul.stab li:active, ul.ntab li:active{ border-top: 4px solid #bd8fc0;}

.bGrey { background: #f3ecf4;}
.bDarkGrey { background: #8f7797;}

.liArticle li:nth-child(even) { background: #f3ecf4 url(../images/subnav_arrow.png) no-repeat 3px  8px;}
.liArrowAlt li:nth-child(even) { background: #f3ecf4 url(../images/subnav_arrow.png) no-repeat 8px 15px;}

/*=== Widget table===*/
.tDefault thead td { background-color: #a970ad !important; }
.tDefault tbody tr:nth-child(even) { background: #f3ecf4; }
.tVertical tbody th { background: #a970ad; }
.tVertical tbody tr:nth-child(even) { background: #f3ecf4; }

/*=== Widget breadcrumb===*/
.breadcrumb li a{ background-image:url(../images/breadcrumb-purple.png); }

/*=== GUI ===*/
.checking { background: url(../images/ico-gui-purple.png) no-repeat 10px 0; }
.checkingDollar { background: url(../images/ico-gui-purple.png) no-repeat 10px -165px;}
.loan { background: url(../images/ico-gui-purple.png) no-repeat 10px -330px;}
.loanBack { background: url(../images/ico-gui-purple.png) no-repeat 40px -330px;}
.saving { background: url(../images/ico-gui-purple.png) no-repeat 10px -495px;}
.savingDollar { background: url(../images/ico-gui-purple.png) no-repeat 10px -663px;}
.creditcard { background: url(../images/ico-gui-purple.png) no-repeat 10px -854px;}

.month-scroll li a, .month-scroll-medium li a, .month-scroll-extra li a{ background:#bd8fc0; border-top: 4px solid #bd8fc0; }
.month-scroll li a:hover, .month-scroll-medium li a:hover, .month-scroll-extra li a:hover{ background:#dfcae1;}
.month-scroll li a.active, .month-scroll-medium li a.active, .month-scroll-extra li a.active{ background:#8c7494;}

#accountList .container, .bUsual{  
	background: #eaddeb;
	background: -moz-linear-gradient(top,  #eaddeb 0%, #dcc7de 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaddeb), color-stop(100%,#dcc7de));
	background: -webkit-linear-gradient(top,  #eaddeb 0%,#dcc7de 100%);
	background: -o-linear-gradient(top,  #eaddeb 0%,#dcc7de 100%);
	background: -ms-linear-gradient(top,  #eaddeb 0%,#dcc7de 100%);
	background: linear-gradient(top,  #eaddeb 0%,#dcc7de 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaddeb', endColorstr='#dcc7de',GradientType=0 );
}

.accountUnit.active, .accountUnitType.active, .accountUnitLeft.active, .accountUnitRight.active, .accountUnitNobg.active{ background: #bd8fc0;}
.accountUnitLeft.active { background: #bd8fc0 url(../images/arrow-big.png) no-repeat right center; }
.accountUnitRight.active { background: #8c7494 url(../images/arrow-big-alt.png) no-repeat left center; }
.accountUnitAlt.active { background: #8c7494} 
.accountUnitMark.active { background: #bd8fc0; } 
.accountUnitNobg.active .accountNumberPreset{ background: #bd8fc0; }
.accountUnitNobg.active .accountNamePreset, .accountUnitNobg.active:hover .accountNamePreset{ background: #8c7494; }

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(../images/switch-purple.gif) repeat-x; display: block; float: left; }
.cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
.cb-enable span { background-position: left -90px; padding: 0 10px; }
.cb-disable span { background-position: right -180px;padding: 0 10px; }
.cb-disable.selected { background-position: 0 -30px; }
.cb-disable.selected span { background-position: right -210px; color: #fff; }
.cb-enable.selected { background-position: 0 -60px; }
.cb-enable.selected span { background-position: left -150px; color: #fff; }

.pages li .active, .pages li a:active, .pages li .active:hover { background: #573554;}
.tPages ul li a:active { background: #573554;} 

@media only screen and (max-width: 767px) {
.tDefault td:before {background: #a970ad; }
}