@import "reset.css";
@import "form.css";
@import "ui_custom.css";
@import "flexslider.css";
@import "webpart.css";
@import "gui.css";


/* Table of Content
==================================================
	# General styles
	# Typography
	# Top part
	# Navigation
	# Font resize
	# Content
	# Sidebar
	# Footer
	# UI stuff
	# Form styles
	# Dashboard panel
	# Overview panel
	# Setting panel
	# Message panel
	# Modal box
==================================================*/



/* # General styles
================================================== */
html { height: 100%; }
body { font-family:"微軟正黑體","Microsoft JhengHei",sans-serif; font-size: 14px; line-height: 19px; min-height: 100%; position: relative; -webkit-font-smoothing: antialiased; }
#main-wrapper {  max-width:1920px; margin:0 auto 0; padding:0; }

.clear { clear: both; display: block; }
.clear10 { clear: both; display: block; height: 10px;}
.clearC { clear: both; display: block; padding: 3px 0 0 0; margin: 0 0 8px 0; border-bottom:1px solid #ccc;}
.clearN { clear: both; display: block; border-bottom:1px solid #999;}
.hidden { overflow:hidden }
.relative { position: relative; }
a { cursor: pointer; color: #0033cc; -webkit-transition:all 0.14s ease 0s; -moz-transition:all 0.14s ease 0s; -o-transition:all 0.14s ease 0s;  }
img { max-width: 100%;}
.inactive { color: #2b6893!important; }
.alignRight{ float: right;}
.alignLeft{ float: left;}
.f20 { font-size: 25px; margin: 0 5px;}
.inline { display:inline;}
.blk { display:block; margin:0; padding:0 0 5px 0 ;}
.mblk { display:block!important; margin:0;}
.inlineblk { display: inline-block !important; margin:0;}
.margin-fix { height:0;}
.noborder { border: none !important;}
.border { border-top: 1px dotted #cecece; padding: 10px 0 0 0; margin: 20px 0 0 0;}
.hide { display: none; }
.upper { text-transform:uppercase; }

/* === Device class === */
.pc-only { display: block;}
.pad-only, .mobile-only, .mobile-350, .mobile-480, .pad_pc, .pad-800{ display: none;}

/* === Grids === */
.fluid { width: 100%; *zoom: 1; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; }
.fluid:before, .fluid:after { display: table; content: ""; }
.fluid:after { clear: both; }
.fluid .rtl-inputs [class*="grid"] { float: right; }
.fluid [class*="grid"] { display:block; width: 100%; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; float: left; margin-left: 2.127659574%; *margin-left: 2.0744680846382977%; }
.fluid [class*="grid"]:first-child { margin-left: 0; }

.fluid .grid12 { width: 99.99999998999999%; *width: 99.9%;}
.fluid .grid11 { width: 91.489361693%; *width: 90%; }
.fluid .grid10 { width: 82.97872339599999%; *width: 81%; }
.fluid .grid9 { width: 74.468085099%; *width: 73%; }
.fluid .grid8 { width: 65.95744680199999%; *width: 64%; }
.fluid .grid7 { width: 57.446808505%; *width: 56%; }
.fluid .grid6, .fluid .grid66 { width: 48.93617020799999%; *width: 47%; }
.fluid .grid5 { width: 40.425531911%; *width: 38%; }
.fluid .grid4 { width: 31.914893614%; *width: 30%; }
.fluid .grid3 { width: 23.404255317%; *width: 21%; }
.fluid .grid25 { width: 18.293459872%; *width: 17%; }
.fluid .grid2 { width: 14.89361702%; *width: 13%; }
.fluid .grid1 { width: 6.382978723%; *width: 4%; }

.fluid .grid45 { width: 36.121293614%; *width: 34.8%; }

/* # Typography
================================================== */

/* === Headings === */
h1 { font-size: 26px; line-height: 32px; font-weight: normal; }
h2 { font-size: 24px; line-height: 30px; font-weight: normal; color:#333; }
h3 { font-size: 20px; line-height: 26px; font-weight: normal; }
h4 { font-size: 18px; line-height: 24px; font-weight: normal; }
h5 { font-size: 16px; line-height: 22px; font-weight: normal; }
h6 { font-size: 15px; line-height: 21px; font-weight: normal; }
p {margin-bottom: 10px;}
small { font-size: 11px; line-height: 15px; font-weight: normal; }

/* === Text accent === */
.red { color: #c00; }
.green { color: #008852; }
.grey { color: #333; }
.gold { color: #ae923c; }
.burgundy { color: #900; }
.blue { color: #33c; }
.white { color: #fff !important;}
.kuro {color: #000 !important;}
span.red a {color: #c00; text-decoration: underline;}
.i-special { font-family: Georgia, "Times New Roman", Times, serif; font-style:italic; margin-right: 5px;}
.underline {text-decoration: underline;}
.new { margin: -6px 0 0 3px;}
.block {display: block;}
.vtop {vertical-align:top;}
.pbox {display: block; height: 60px; padding: 0px;}
#otp-inline {margin-top:16px;}

/* === Placeholder color === */
::-webkit-input-placeholder { color: #000000; }
:-moz-placeholder { color: #000000; }

/* === Text alignment === */
.textL { text-align: left; }
.textC { text-align: center; }
.textR { text-align: right; }

/* === List styles === */
.widget ol { padding-left: 16px; }
.widgetNotes ol { padding-left: 2px;  list-style:none; }
.widgetNotes ol li { padding: 2px 0; }  /* 2013/8/9: Add by Andy */
.caption { display: block; font-weight: bold; padding-bottom: 4px; }
.disc { list-style: disc;}
.widget ul.apply { padding-left: 10px;}
.widget ul.apply li.download { background: url(../images/icon-cloud-download.png) no-repeat 0 2px; padding: 0 0 0 24px;  }
.widget ul.disc { padding-left: 16px; list-style: disc;}
.liRoman { list-style:lower-roman; }
.liArrow { padding-left: 16px;  }
.liArrow li { background: url(../images/subnav_arrow.png) no-repeat 0 8px; padding: 0 0 0 12px!important;  }
.liArrow li a{ text-decoration: underline; }
.liArrowS { padding-left: 6px; font-size:12px; }
.liArrowS li { background: url(../images/subnav_arrow.png) no-repeat 0 8px; padding: 0 0 0 12px!important;  }
.liArrowS li a{ text-decoration: underline; }
.liArticle { padding: 0;  margin:0;}
.liArticle li { background: url(../images/subnav_arrow.png) no-repeat 3px 8px; padding: 2px 0 2px 15px!important; margin: 3px 0; }
.liArticle li:nth-child(even) {}

.liArrowAlt { padding-left: 0px;  }
.liArrowAlt li { background: url(../images/subnav_arrow.png) no-repeat 8px 15px; padding: 8px 8px 8px 20px!important; margin: 5px 0;}
.liArrowAlt li a{ text-decoration: underline; }
.liArrowAlt li:nth-child(even) { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.02); -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.02); -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.02); }

/* # Top part
================================================== */

#top { max-width:1920px; height: 69px; display: block; width: 100%; margin:0 auto 0; padding:0; position: relative; z-index:950;}
.top-wrapper { margin: 0;}
.logo-wrapper { float: left; margin: 10px 0 0 10px;}
.logo img{ max-width: 120px; }
.topNav { float: right; position: relative; }

/*=== User navigation ===*/
ul.userNav { float: left; margin: 0 0 0 0; font-size:13px;}
ul.userNav li { position: relative; display: block; float: left; margin:0 1px 0 0; padding:0; }
ul.userNav li a { display: block; height: 26px; width: 106px; text-align: center;padding-top: 40px; margin:0;font-weight:bold;}
ul.userNav li:hover {}
ul.userNav li.current{}
ul.userNav li.current a, ul.userNav li.current a:hover{ color:#fff; text-shadow:none;}
ul.userNav li:active{}
ul.userNav  > li:last-child { margin:0 0 0 0; }

ul.userNav li a.dashboard { background: url(../images/icon-nav.png) no-repeat center 8px; }
ul.userNav li a.quicklinks { background: url(../images/icon-nav.png) no-repeat center -104px; }
ul.userNav li a.searchs { background: url(../images/icon-nav.png) no-repeat center -216px; }
ul.userNav li a.settings { background: url(../images/icon-nav.png) no-repeat center -328px; }
ul.userNav li a.messages { background: url(../images/icon-nav.png) no-repeat center -440px; }
ul.userNav li a.signout { background: url(../images/icon-nav.png) no-repeat center -552px; }
ul.userNav li a.myvip { background: url(../images/icon-nav.png) no-repeat center -664px; }
a.teach { display: block; height:30px; width:110px; text-align: center;font-weight:bold; line-height:30px; background:#fff437; color:#ed0000; margin-top:20px; float:left; margin-left:20px; border:1px #ed0000 solid;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}
a.teach:hover {background:#ed0000; color:#fff437;}

.messages-count{ position: absolute; background:#c00 url(../images/new.png) no-repeat 2px 3px; width: 22px ; height: 15px; margin: 3px 0 0 60px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; text-indent:-9999px; overflow: hidden;}

/* ===== Responsive navigation ===== */
ul.userMobileNav { float: left; margin: 0; font-size:12px; line-height:16px; margin:0; padding:0;font-weight:bold;}
ul.userMobileNav li {  float:left; height:28px; padding: 14px 5px 0px; border-right: 1px solid #fff;}
ul.userMobileNav li a { text-align: center;}
ul.userMobileNav li.current a, ul.userMobileNav li.current a:hover{ color:#fff; text-shadow:none;}
ul.userMobileNav  > li:last-child {  border-right: none; }

/* # Navigation
================================================== */

#navigation { width: 100%; position:relative; z-index: 900;}
.navigation-wrapper { margin: 0 20px; height: 31px; padding-top:20px; }
.navigation-void { margin: 0; height: 1px!important; padding-top:0px; }

ul#nav,  ul#m-nav{ float: left; margin: 0 0 0 0; font-size:14px; }
ul#nav li, ul#m-nav li { position: relative; display: block; float: left; margin: 0 4px 0 0; padding:0; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
ul#nav li:hover, ul#m-nav li:hover {}
ul#nav li.current, ul#nav li.current:active, ul#m-nav li.current, ul#m-nav li.current:active{ font-weight:bold; border-bottom-right-radius: 0px; -webkit-border-radius-bottomright: 0px; -moz-border-radius-bottomright: 0px; border-bottom-left-radius: 0px; -webkit-border-radius-bottomleft: 0px; -moz-border-radius-bottomleft: 0px;}
ul#nav li:active, ul#m-nav li:active{ border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}
ul#nav li.current a.currentItem, ul#m-nav li.current a.currentItem { padding: 4px 8px 8px; color:#fff; text-shadow: 1px 1px 2px #333; float:left;}
ul#nav li a, ul#m-nav li a { display: block; padding: 3px 8px 5px; text-align: center;font-weight:bold;}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
ul#nav li a, ul#m-nav li a { padding: 4px 8px 3px; }
}
ul#nav li a:hover, ul#m-nav li a:hover { color: #fff;}
.navPrev, .navNext, .navNew, .mSearchs, .mMessages, .mSettings {
	display: block; 
	margin: 0 4px 0 0; 
	padding: 4px 8px 3px;
	width: 10px;
	color: #333; 
	position: relative; 
	float: left; 
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	text-indent: -99999px;
	overflow: hidden;
}
.mSearchs, .mMessages, .mSettings {padding: 4px 12px 3px;}
.navPrev {}
.navNext {}
.navNew {}
.navPrev:hover, .navNext:hover, .navNew:hover  {}
.editable { border: 1px solid #aaa!important;}
.mSearchs {}
.mMessages {}
.mSettings {}
.mSearchs:hover, .mMessages:hover, .mSettings:hover, .mMessages.current {}
.mMessages.current, .mSettings.current { padding: 4px 12px 10px; border-bottom-right-radius: 0px; -webkit-border-radius-bottomright: 0px; -moz-border-radius-bottomright: 0px; border-bottom-left-radius: 0px; -webkit-border-radius-bottomleft: 0px; -moz-border-radius-bottomleft: 0px;}
.mobileService {position: relative;}

.mMessages-count{ position:absolute; background:#c00 url(../images/new.png) no-repeat 2px 3px; width: 22px ; height: 15px; margin: -5px 0 0 -12px; color: #fff; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; text-indent:-9999px; overflow: hidden;}

.tabSetting { position: relative; float:left; width: 48px; height: 20px; text-indent: -9999px; margin: 7px 0 0 10px; background: url(../images/action-tab-setting.png) no-repeat; cursor: pointer;}
.tabSetting.active{  background: url(../images/action-tab-setting.png) 0 -20px no-repeat;  }

.tabPanel { display: none; position: absolute; width: 128px; margin: 0; padding: 0; top: 33px; right:0; background: #fff; border: 1px solid #cecece; z-index: 999;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); }
.tabPanel a { text-align: left;}
.tabPanel a:hover { background-color: #333;}
.tabDel { width: 112px; margin: 5px 0; background: url(../images/icon-tab.png) 12px 4px no-repeat; }
.tabEdit { width: 112px;; margin: 5px 0; background: url(../images/icon-tab.png) 12px -32px no-repeat; }
.tabLayout { text-align: center; padding: 10px 30px; }
.tabDisplay { margin-bottom :10px; color :#333; }
.tabLayout1col a { width: 9px; height: 18px; float: left; margin: 0 10px 0 3px; padding: 0; background: url(../images/btn-layout.png) 0 -75px no-repeat; overflow: hiddent; text-indent: -99999px;}
.tabLayout2col a { width: 9px; height: 18px; float: left; margin: 0; padding: 0; background: url(../images/btn-layout.png) 0 -25px no-repeat; overflow: hiddent; text-indent: -99999px;}
.tabLayout1col a.active, .tabLayout1col a:hover{ background: url(../images/btn-layout.png) 0 -50px no-repeat; }
.tabLayout2col a.active, .tabLayout2col a:hover{ background: url(../images/btn-layout.png) 0 0 no-repeat; }

#navMobile { margin:0; padding:0;}
#navMobile li{ position: relative; display: block; float: left; margin: 0 1px 0 0; padding:0; }
#navMobile li a{ float: left; display:block;}
.currentServices, .allServices { width: 90px; text-shadow: 1px 1px 0 #666; margin-right: 4px; color:#fff; font-weight:bold; padding: 4px 30px 11px 10px;  border-top-right-radius: 3px; -webkit-border-radius-topright: 3px; -moz-border-radius-topright: 3px; border-top-left-radius: 3px; -webkit-border-radius-topleft: 3px; -moz-border-radius-topleft: 3px;}
.allServices { width: auto; padding: 4px 20px 11px 20px;}
.currentServices.active { }
.triggerServices { padding: 4px 10px 3px; text-align: center; color: #333; text-shadow: 1px 1px 0 #fff; margin-right:4px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.triggerServices:hover { }
.triggerServices.active{ color :#fff; text-shadow: 1px 1px 1px #333; padding: 4px 10px 11px 10px; border-bottom-right-radius: 0px; -webkit-border-radius-bottomright: 0px; -moz-border-radius-bottomright: 0px; border-bottom-left-radius: 0px; -webkit-border-radius-bottomleft: 0px; -moz-border-radius-bottomleft: 0px;}

.moreServices { display: none; position: relative; float: left; margin-top: 0px; width: 100%; z-index:200;}
.navServices{ padding: 0; }
.navServices li a{  background:url(../images/action-go.png) right 14px no-repeat; padding: 8px 10px 8px 18px; display: block; color: #fff; text-shadow: 1px 1px 1px #333; }
.navServices  > li:last-child a { border-bottom: 1px transparent; }
.navServices li:hover{ }

ul.container .m-remove { position: absolute; right: 20px; margin-top: -20px; display: block; width: 7px; height: 8px; cursor: pointer; background: url(../images/action-remove.png) no-repeat; }

.newItem { float: left; margin: 0; }
.newItem a { background: #f0f0f0; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; float: left; padding: 4px 8px 3px; text-align: center; color: #333; text-shadow: 1px 1px 0 #fff; }
.newItem a:active{ background-color: #cecece; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}

/* # Font resize
================================================== */

#utility { max-width:1920px; margin:0 auto 0; padding:0;  position:relative;}
.signinMsg { position: absolute; left: 20px; font-size:11px; color: #333; margin-top:5px; padding: 1px 0 0 16px; background: url(../images/icon-clock.png) no-repeat left;}
.fontResize { position: absolute; right: 20px; z-index:99;}
.fontsizeM, .fontsizeD, .fontsizeP{ margin: 0; padding:0; width: 26px; height: 20px; float:left; text-indent: -9999px; overflow: hidden; opacity:0.6;}
.fontsizeM:hover, .fontsizeD:hover, .fontsizeP:hover {opacity: 1.0;}
.fontsizeM { background: url(../images/font-resize.png) no-repeat 3px -40px;}
.fontsizeD { background: url(../images/font-resize.png) no-repeat 3px -20px;}
.fontsizeP { background: url(../images/font-resize.png) no-repeat 3px 0px;}

/* # Content
================================================== */

#content { margin: 10px 20px 80px; min-height:680px; position:relative; }
#content-wrapper{ float: left; width: 100%; margin-bottom:20px; }
.content{ margin-right: 214px;}
.content-full{ margin: 0 0 80px 0; }
.content-narrow{ margin: 0 214px 80px 214px; }
.content-middle{ margin: 0 0 80px 214px; }
#sidebar, #asidebar{ float: left; width: 194px; margin-left: -194px; }
#sidenav{ float: left; width: 194px; margin-left: -100%; margin-bottom:20px; /**position:relative;*/}
.half { width: 49%; margin-right: 1%; float:left;}

.triggerSidebar { position: absolute; margin-top: 17px; margin-left: -20px; width: 45px; height: 43px; background: url(../images/trigger-sidebar.png) no-repeat -45px 0; overflow:hidden; z-index:3;-webkit-transition:none; -moz-transition:none; -o-transition:none; }
.triggerSidebar:hover { background: url(../images/trigger-sidebar.png) no-repeat -45px -43px;}
.triggerSidebarExpand{ position: absolute; margin-top: 17px; right:-15px; width: 45px; height: 43px; background: url(../images/trigger-sidebar.png) no-repeat 0 0; overflow:hidden; z-index:3;-webkit-transition:none; -moz-transition:none; -o-transition:none; }
.triggerSidebarExpand:hover, .triggerSidenavExpand:hover{ background: url(../images/trigger-sidebar.png) no-repeat 0 -43px; }

.triggerSidenav { position: absolute; margin-top: 17px; margin-left: 166px; width: 45px; height: 43px; background: url(../images/trigger-sidebar.png) no-repeat 0 0; overflow:hidden; z-index:3;-webkit-transition:none; -moz-transition:none; -o-transition:none; }
.triggerSidenav:hover{ background: url(../images/trigger-sidebar.png) no-repeat 0 -43px;}
.triggerSidenavExpand{ position: absolute; margin-top: 17px; left:-15px; width: 45px; height: 43px; background: url(../images/trigger-sidebar.png) no-repeat -45px 0; overflow:hidden; z-index:3;-webkit-transition:none; -moz-transition:none; -o-transition:none; }
.triggerSidenavExpand:hover{ background: url(../images/trigger-sidebar.png) no-repeat -45px -43px;}

/* === Iframe === */
.embed-container { position: relative; padding-bottom: 10px; padding-top: 10px; height: 600px; overflow: hidden; }
.embed-container iframe,.embed-container object,.embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
#lightbox-wrapper { max-width: 720px; margin: 0 auto; padding: 30px;}
.lightbox-content {
	padding: 30px; 
	border: 1px solid #cdcdcd; 
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	background: #ffffff;
}

/* # Sidebar
================================================== */

/* === Sidebar widgets === */
ul.itemsList li { position: relative; background: #FFFFFF;}
ul.itemsList > li a{ display: block; padding: 8px 24px 8px 12px; color: #000; border-bottom: 1px solid #e2e2e2; position: relative;}
ul.itemsListn > li:first-child a{ padding: 8px 12px;}
ul.itemsListn > li:last-child a{border-bottom:none;}
ul.itemsList li a:hover{ color: #FFFFFF;background: url(../images/itemsList.png) no-repeat right 0px;}
ul.itemsList li:hover { background: #FFFFFF;}
ul.itemsList .remove { position: absolute; right: 10px; top: 15px; display: block; width: 7px; height: 8px; cursor: pointer; background: url(../images/action-remove.png) no-repeat; }
ul.itemsList .expand { position: absolute; right: 10px; top: 15px; display: block; width: 7px; height: 8px; cursor: pointer; background: url(../images/action-expand.png) no-repeat; }

.bannersHolder, .bannersHolderAlt{ 
	border: 1px solid #cdcdcd; 
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	margin-top: 20px; 
	padding:0; 
	width: 192px;
	overflow: hidden;
}
.bannersHolderAlt{ width: 99.7225%;}
.bannerSlides {
	background: #fff; 
	border: 2px solid #fff; 
	position: relative; 
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px; 
	box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	zoom: 1;
}
.bannerMyFavorite{margin-bottom:40px;}
/* === Submenu === */
#mobile-submenu{ position:relative; float: left; margin-top: 0px; width: 100%; display:none; z-index:200;}
#mobileSubmenu{ width: 100%;}
#mobileSubmenu ul{}
#mobileSubmenu ul ul{ border: none; display: none;}
#submenu li, #mobileSubmenu li, #padSubmenu li{  margin:0; padding:0; }
#submenu .toggler{ 
    cursor:pointer;
    background: url(../images/menu-expand.png) no-repeat right 0px;
    display: block;
	width: 162px;
	*width: auto;
    color: #004b31; 
	border-bottom: 1px solid #e2e2e2; 
	position: relative; 
	padding: 8px 16px 0 14px;
	font-weight:bold;
    overflow:hidden;
}
#submenu .toggler.active{ 
    background: url(../images/menu-collapse.png) no-repeat right 0px;
}
#mobileSubmenu .toggler,  #padSubmenu .toggler{ 
    cursor:pointer;
    background: url(../images/menu-expand-mobile.png) no-repeat center 0px;
    display: block;
    color: #004b31; 
    border-bottom: 1px solid #e2e2e2; 
	position: relative; 
	padding: 8px 16px 0 12px;
	font-weight:bold;
}
#mobileSubmenu .toggler,  #padSubmenu .toggler{ padding: 10px 16px 0 12px;}
.sepDark {}

/*選取功能第二層選單強調 */
#submenu .toggler.subtoggler,#submenu .toggler.subtoggler.active{ background: url(../images/menu-collapse.png) no-repeat right -42px;color:#FFFFFF; }

#submenu .toggler:hover{  background: url(../images/menu-expand.png) no-repeat right -42px;color:#FFFFFF; }
#submenu .toggler.active:hover{ background: url(../images/menu-collapse.png) no-repeat right -42px;color:#FFFFFF; }
#mobileSubmenu .toggler:hover, #padSubmenu .toggler:hover{background: url(../images/menu-expand-mobile.png) no-repeat center -43px;color:#FFFFFF;}
#mobileSubmenu .toggler:active, #padSubmenu .toggler:active{background: url(../images/menu-expand-mobile.png) no-repeat center -43px;}

#submenu .toggler div.submenuIcon{ display:none;}
#submenu .toggler div.submenuTitle{ position:relative; padding: 0 0 8px 0; float:left;}
#mobileSubmenu .toggler div.submenuIcon,  #padSubmenu .toggler div.submenuIcon{ position:relative; padding: 0 0 10px 0; float:right;}
#mobileSubmenu .toggler div.submenuTitle, #padSubmenu .toggler div.submenuTitle{ position:relative; padding: 0 0 10px 0; float:left;}
#submenu .container, #mobileSubmenu .container, #padSubmenu .container{ display:none;}
#submenu .container a, #mobileSubmenu .container a, #padSubmenu .container a{ 
    font-size: 13px; 
	display: block; 
	padding: 7px 4px 7px 32px; 
	color: #004b31; 
    border-bottom: none; 
	position: relative; 
}
#submenu .container a:hover, #mobileSubmenu .container a:hover, #padSubmenu .container a:hover{}
#submenu .container li:last-child a, #mobileSubmenu .container li:last-child a, #padSubmenu .container li:last-child a{ border-bottom:none;}
#submenu .container li a.current, #mobileSubmenu .container li a.current, #padSubmenu .container li a.current{}

/* # Footer
================================================== */

#footer { width: 100%; position:relative; font-size: 13px;color:#fff;display:block;border-top:8px solid #FFF437;}
#footer a{color:#FFF;font-weight:bold;}
.footer-wrapper { margin: 0 auto;height:138px;max-width:960px;}
.footer-links { text-align:left;float:left;margin-top:25px;width:460px;}
.footer-notice {float:right;text-align:right;margin-top:25px;}
.footer-logo img{display:none;}
.phone-small { vertical-align:middle; margin: -1px 2px 0;}

/* # UI
================================================== */

/* === Buttons === */
.buttonS, .buttonM, .buttonL, .buttonD, .buttonR, .buttonXL{ margin: 2px 0; font-weight: normal; text-shadow: 0 -1px #6f6f6f; display: inline-block; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
.buttonS { padding: 2px 6px; font-size: 13px; }
.buttonM { padding: 3px 12px; }
.buttonL { padding: 8px 16px 8px 36px; float:right; margin-left: 4px;}
input.buttonL { padding: 8px 16px 7px 36px; float:right; margin-left: 4px;}
input[type=button].buttonL { padding: 9.5px 16px 8px 36px; float:right; margin-left: 4px;}
.buttonXL { padding: 8px 25px 8px 40px; font-size: 16px; margin-left: 4px;}
.buttonD { padding: 8px 16px 8px 36px; margin: 10px 2px;}
.buttonMessage { padding: 8px 16px 8px 36px; margin: 5px 2px;}
.buttonR { padding: 8px 10px 8px 30px; float:right; margin-left: 4px;}
.buttonExe { color:#686868 !important; text-decoration:none !important; }
@media screen and (-webkit-min-device-pixel-ratio:0) { 
input.buttonL { padding: 8px 16px 9px 36px;}
}

.bDefault{ border: 1px solid #c3c3c3; box-shadow: inset 0 1px 2px #fff; -webkit-box-shadow: inset 0 1px 2px #fff; -moz-box-shadow: inset 0 1px 2px #fff; color: #333; text-shadow: none;
background: #f8f8f8 url(../images/sprite-dark.png);
background: url(../images/sprite-dark.png), -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
background: url(../images/sprite-dark.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
background: url(../images/sprite-dark.png), -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: url(../images/sprite-dark.png), -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: url(../images/sprite-dark.png), -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: url(../images/sprite-dark.png), linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
}

.bDefault:hover{ color: #333; border-color: #999; box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -webkit-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -moz-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; text-shadow: 0 -1px 1px #f1f1f1;  -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bDefault:active{ color: #333; border-color: #999; box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -webkit-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -moz-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; text-shadow: 0 -1px 1px #f1f1f1; }
.bDefault span { text-shadow: none; }

.bForm{ border: 1px solid #c3c3c3; box-shadow: inset 0 1px 2px #fff; -webkit-box-shadow: inset 0 1px 2px #fff; -moz-box-shadow: inset 0 1px 2px #fff; color: #333; text-shadow: none;
background: #f8f8f8;
background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
background: linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
}

.bForm:hover{ color: #333; border-color: #999; box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -webkit-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -moz-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; text-shadow: 0 -1px 1px #f1f1f1;  -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out;  }
.bForm:active{ color: #333; border-color: #999; box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -webkit-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; -moz-box-shadow: 0 0 5px #e2e2e2 inset, 0 1px 1px #fff; text-shadow: 0 -1px 1px #f1f1f1; }
.bForm span { text-shadow: none; }

.bSilver {  color:#fff; border: 1px solid #494949; box-shadow: 0 1px 2px 0 #acacac inset; -webkit-box-shadow: 0 1px 2px 0 #acacac inset; -moz-box-shadow: 0 1px 2px 0 #acacac inset;
background: #5c5c5c url(../images/sprite.png);
background-image: url(../images/sprite.png), -moz-linear-gradient(top,  #999999 0%, #333333 100%);
background-image: url(../images/sprite.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#333333));
background-image: url(../images/sprite.png), -webkit-linear-gradient(top,  #999999 0%,#333333 100%);
background-image: url(../images/sprite.png), -o-linear-gradient(top,  #999999 0%,#333333 100%);
background-image: url(../images/sprite.png), -ms-linear-gradient(top,  #999999 0%,#333333 100%);
background-image: url(../images/sprite.png), linear-gradient(top,  #999999 0%,#333333 100%);
}
.bSilver:hover { border: 1px solid #000000;box-shadow: 0 0 2px 0px #000000 inset; -webkit-box-shadow: 0 0 2px 0px #000000 inset; -moz-box-shadow: 0 0 2px 0px #000000 inset;}
.bSilver:active { box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #505050 inset, 0 1px 0 #fff; }


.bBlue {  color:#fff; border: 1px solid #3e76af; box-shadow: 0 1px 2px 0 #66b2d2 inset; -webkit-box-shadow: 0 1px 2px 0 #66b2d2 inset; -moz-box-shadow: 0 1px 2px 0 #66b2d2 inset;
background: #5ba5cb url(../images/sprite.png);
background: url(../images/sprite.png), -moz-linear-gradient(top,  #5ba5cb 0%, #3a70ab 100%);
background: url(../images/sprite.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba5cb), color-stop(100%,#3a70ab));
background: url(../images/sprite.png), -webkit-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
background: url(../images/sprite.png), -o-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
background: url(../images/sprite.png), -ms-linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
background: url(../images/sprite.png), linear-gradient(top,  #5ba5cb 0%,#3a70ab 100%);
}
.bBlue:hover { opacity: 0.85; filter: alpha(opacity=85); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bBlue:active { box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #fff; }

.bRed {  color:#fff; border: 1px solid #222; box-shadow: 0 1px 2px 0 rgba(0,0,0,.4) inset; -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.4) inset; -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.4) inset;
background: #eb2121;
background: -moz-linear-gradient(top,  #eb2121 0%, #a00e0e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb2121), color-stop(100%,#a00e0e));
background: -webkit-linear-gradient(top,  #eb2121 0%,#a00e0e 100%);
background: -o-linear-gradient(top,  #eb2121 0%,#a00e0e 100%);
background: -ms-linear-gradient(top,  #eb2121 0%,#a00e0e 100%);
background: linear-gradient(top,  #eb2121 0%,#a00e0e 100%);
}
.bRed:hover { opacity: 0.85; filter: alpha(opacity=85); -webkit-transition: opacity 0.2s ease-in-out; -moz-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; }
.bRed:active { box-shadow: 0 0 2px #707070 inset, 0 1px 0 #222; -webkit-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #222; -moz-box-shadow: 0 0 2px #707070 inset, 0 1px 0 #222; }

/* ===== Tipsy ===== */
.tipsy { padding: 4px; font-size: 11px; position: absolute; z-index: 1000; }
.tipsy-inner { padding: 2px 10px 2px 10px; background-color: #1d1d1d; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
.tipsy-arrow { position: absolute; background: url('../images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s { margin-top: -5px; }
.tipsy-w { margin-left: 5px; }
.tipsy-e { margin-right: -5px; }
.tipsy-n { margin-top: 5px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }	

/* # Form styles
================================================== */

.sliderSpecs > label { font-size: 14px; margin-right: 3px; margin-top: 4px;}
.sliderSpecs > input { font-size: 14px; border: none; background: none!important; width: 60%!important; color: #3a70ab!important; border: none!important; box-shadow: none!important; font-weight: bold; }
.uRange, .uMin  {display: block; margin-bottom: 30px;}
.fieldIcon { position: absolute; top: 7px; right: 8px; display: block; }

/*.rightSide { display: block; float: right; width: 80%; padding: 4px 0; position: relative; }
.rightSide > label { float: left; }*/

label { float: left; display:inline-block; }

.multiple { width: 100%; height: 300px; padding: 5px; border: 1px solid #d7d7d7; box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; -moz-box-shadow: 0 1px 0 #fff; }

/* ===== Form validation ===== */
.inputContainer { position: relative; float: left; }

.checker input, .radio input, .selector select { cursor: pointer; }
input.error { border-color: #06c!important; }
input {outline:none; transition: all 0.25s ease-in-out;-webkit-transition: all 0.25s ease-in-out;-moz-transition: all 0.25s ease-in-out;}
textarea:focus, input:focus, select:focus { border-color: #666!important; }

/* ===== Form styling  ===== */
.selector, .radio, .checker, .uploader, .selector *, .radio *, .checker *, .uploader *{ margin: 0; padding: 0; cursor: pointer; font-family:"微軟正黑體","Microsoft JhengHei",sans-serif;}

div.selector { 
	vertical-align: middle; 
	zoom: 1; 
	margin: 0; 
	padding: 0 0 0 8px; 
	cursor: pointer; 
	width: auto; 
	max-width: 280px; 
	position: relative; 
	overflow: hidden; 
	border: 1px solid #d2d2d2; 
	line-height: 27px; 
	height: 27px; 
	display: -moz-inline-box;
	display: inline-block; 
    background: #fcfcfc; 
	background: -moz-linear-gradient(top, #fcfcfc 0%, #f1f1f1 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f1f1f1)); 
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); 
	background: -o-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); 
	background: -ms-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); 
	background: linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1f1f1',GradientType=0 ); 
	box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	-ms-box-sizing: content-box;  
	border-radius: 2px; 
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee; 
	-webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee; 
	-moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0px #eeeeee; 
}
div.selector span { display: block; overflow: hidden; height: 30px; text-overflow: ellipsis; white-space: nowrap; color: #333; text-shadow: 0 1px #f5f5f5; padding: 1px 37px 1px 2px; background: url(../images/selectArrow.png) no-repeat 100%; cursor: pointer;font-family:"微軟正黑體","Microsoft JhengHei",sans-serif;font-size: 14px; line-height: 32px; }
div.selector select { position: absolute; opacity: 0; filter: alpha(opacity:0); height: 30px; border: none; background: none; font-family: 微軟正黑體, Arial, Helvetica, sans-serif; font-size: 14px; border: solid 1px white; width: 100%; top: 0px; left: 0px; }
.disabled { opacity: 0.5; filter: alpha(opacity=50); cursor:default; }

/* Checkboxes */
div.checker { width: 16px; height: 16px; position: relative; display: -moz-inline-box; display: block; vertical-align: middle; zoom: 1; float: left; margin-top: 2px; margin-right: 10px; box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; -moz-box-shadow: 0 1px 0 #fff; }
div.checker input { width: 16px; height: 16px; opacity: 0; filter: alpha(opacity:0); display: inline-block; background: none; }
div.checker span { background: url(../images/elements/forms/checkboxes.png) no-repeat 0 0; height: 16px; width: 16px; display: -moz-inline-box; display: inline-block; text-align: center; }
div.checker span.checked { background-position: 0 -17px; }

/* Radio buttons */
div.radio { width: 16px; height: 17px; position: relative; display: -moz-inline-box; display: block; zoom: 1; float: left; margin-top: 2px; margin-right: 10px; }
div.radio input { width: 16px; height: 17px; opacity: 0; filter: alpha(opacity:0); display: inline-block; background: none; }
div.radio span { background: url(../images/elements/forms/radios.png) no-repeat 0 0; height: 17px; width: 16px; display: -moz-inline-box; display: inline-block; text-align: center; }
div.radio span.checked { background-position: 0 -18px; }

/* # Dashboard panel
================================================== */

.widgetArea { padding: 30px 20px 0 20px; }
.widgetArea h1{ font-size: 36px; text-align: center; color: #333; margin: 20px 0; display: block;}
.widgetSearch { font-size: 30px; padding: 10px; border: 1px solid #ccc; font-family:"微軟正黑體","Microsoft JhengHei",sans-serif;}
.widgetSearchBtn { font-size: 30px; padding: 10px; width: 30px; }
#widgetLists{ margin:0; padding:0; width :100%;}
#widgetLists .toggler{ display: block; color: #333; position: relative; padding: 8px 0px 8px 3px; font-size: 26px; border-top: 1px solid #ccc; cursor: pointer;}
#widgetLists .toggler:hover{ background: #efefef;}
#widgetLists .toggler div.widgetIcon{ position:relative; padding: 4px 0 8px 0; float:left;  margin-right :10px;}
#widgetLists .toggler div.widgetTitle{ position:relative; padding: 8px 0 8px 0; float:left;}
#widgetLists .container{ display: none; width: 100%; margin : 0 auto 0;}
#widgetLists .container h5{ color: #333;margin: 10px 0;}
#widgetLists .container ul{ text-align: center; position:relative; margin: 0 auto 0; }
#widgetLists .container li{  margin: 0 15px 15px 0; padding:0; position:relative;}
#widgetLists .container a{ font-size: 15px; display: block; color: #333; text-align: center; height: 40px; position: relative;   background: #efefef; margin: 0 ; padding : 10px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55);}
#widgetLists .container a.active{ color :#fff;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85);}
#widgetLists .container a.disable, #widgetLists .container a.disable:hover{ box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); color: #333; cursor: default; background: #efefef;}
#widgetLists .container a:hover{ background: #999; color :#fff;}
.widgetExpandAll {
	text-align: center;
	padding: 10px 20px 10px 40px;
	position: relative; 
	width: 72px;
	display: block; 
	float: right;
	color: #333;
	font-size: 15px;
    border-top-right-radius: 5px; 
	-webkit-border-radius-topright: 5px; 
	-moz-border-radius-topright: 5px; 
	border-top-left-radius: 5px; 
	-webkit-border-radius-topleft: 5px; 
	-moz-border-radius-topleft: 5px;
	background: #f0f0f0 url(../images/icon-widget-tools.png) no-repeat 18px -169px; 
}
.widgetExpandAll:hover{ background: #999 url(../images/icon-widget-tools.png) no-repeat 18px -169px; color: #fff; }
.widgetSubmitHolder { display: block; border-top: 1px solid #ccc; padding: 30px 0 50px; }
.widgetSubmit { float :right; }
.backTop {
	text-align: center;
	padding: 10px 20px 10px 40px;
	position: relative; 
	width: 72px;
	display: block; 
	float: right;
	color: #fff;
	font-size: 15px;
    border-top-right-radius: 5px; 
	-webkit-border-radius-topright: 5px; 
	-moz-border-radius-topright: 5px; 
	border-top-left-radius: 5px; 
	-webkit-border-radius-topleft: 5px; 
	-moz-border-radius-topleft: 5px;
	background: #999 url(../images/icon-widget-tools.png) no-repeat 18px -205px; 
}
.backTop:hover{ background: #666 url(../images/icon-widget-tools.png) no-repeat 18px -205px; }
a.widgetClose { display: block; width: 22px; height: 22px; text-indent:-9999999px; position:absolute; right: 20px; top: 20px; background: url(../images/icon-close.png) no-repeat;}

/* # Overview panel
================================================== */

.functionContainer{ border-top: 1px solid #ccc; display: none; padding-bottom:20px; }
.searchContainer{ padding-bottom:50px; }
.functionExpandAll {
	font-weight:bold;
	text-align: center;
	padding: 10px 20px 10px 40px;
	position: relative; 
	width: 72px;
	display: block; 
	float: right;
	color: #333;
	font-size: 15px;
    border-top-right-radius: 5px; 
	-webkit-border-radius-topright: 5px; 
	-moz-border-radius-topright: 5px; 
	border-top-left-radius: 5px; 
	-webkit-border-radius-topleft: 5px; 
	-moz-border-radius-topleft: 5px;
	background: #f0f0f0 url(../images/icon-widget-tools.png) no-repeat 18px -169px; 
}
.functionExpandAll:hover{ background: #999 url(../images/icon-widget-tools.png) no-repeat 18px -169px; color: #fff;}
.functionRow { padding:0; }
.functionRow .liArrow{ padding-left:0; padding: 10px 0; border-top: 1px solid #ccc; margin-bottom: 10px; }
.functionRow .liArrow a{ text-decoration:none; color: #333; }
.functionRow .liArrow a:hover{ color: #000; }
.functionBox { 
    background: #f9f9f9; 
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
	margin-top: 20px; 
	border: 1px solid #eee;
	position: relative; 
}
.functionBox h4 { 
    border-bottom: 1px solid #00A94F; 
	box-shadow: 0 1px 0 #fff; 
	-webkit-box-shadow: 0 1px 0 #fff; 
	-moz-box-shadow: 0 1px 0 #fff; 
	-webkit-border-top-right-radius: 3px; 
	-webkit-border-top-left-radius: 3px; 
	-moz-border-radius-topright: 3px; 
	-moz-border-radius-topleft: 3px;  
	position: relative; 
	display: block; 
	padding: 7px 14px 6px 16px; 
	font-size: 15px; 
	font-weight: bold;  
	color:#004b31;
	background: #f8f8f8;
	background: -moz-linear-gradient(top,  #f8f8f8 0%, #e8e8e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#e8e8e8));
	background: -webkit-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
	background: -o-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
	background: -ms-linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
	background: linear-gradient(top,  #f8f8f8 0%,#e8e8e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
}
.functionBox h5 { font-size: 15px; color: #008852; }
.functionList { padding: 12px; }


/* # Setting panel
================================================== */

.langBox { color: #333; font-size: 16px; font-weight:bold; text-shadow: 1px 1px 2px rgba(0,0,0,.2); display: block; text-align: center; padding: 20px 0; margin: 3px 0; display: block ; vertical-align:middle; background: #efefef; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.55); opacity:0.7; }
.langBox.active{ color :#fff; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.85); opacity:1; }
.langBox:hover{ background: #999; color :#fff; opacity:1; }
.themeBox { display: block; color: #333; max-width: 100%; float:left; position: relative; background: #efefef;  margin: 3px auto 3px; border: 4px solid #ccc; opacity:0.7; }
.themeBox img{ max-width: 100%; margin: 3px auto 3px; }
.themeBox.active{ opacity:1; }
.themeBox:hover{ border: 4px solid #999; opacity:1; }

/* # Message panel
================================================== */

#messagePanel{ display: none; right:20px; top:65px; position: absolute; z-index:12; }
.messageArrow{ background: url(../images/message-top.png) no-repeat center; height: 14px; display: block; position: relative; z-index:99; }
.messagePanel{
    background: #fff;
	width: 320px;
	border: 1px solid #cdcdcd; 
	border-radius: 3px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); 
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); 
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25); 
	margin-top: -2px;
	position: relative;
	z-index:13;
    overflow: hidden;
}
.messageArea{ padding: 20px 10px; height: 200px;/*120px;*/ position: relative; overflow: hidden; }
.messageMore{ background: #eee; margin: 0 auto 0; text-align: center; position: relative; padding: 15px 0;}
#mMessagePanel { background: #fff; width:100%; margin: -3px 0 0 0; padding:0; position: relative; overflow: hidden; display:block; float: left; width: 100%; z-index: 20;}
.mMessagePanel { border: 3px solid #cdcdcd; }

/* # Modal box
================================================== */

.modalOverlay { background-color: #000;}
.modalSmall, .modalMedium, .modalLarge, .modalMini { display: none; position: fixed; top: 150px;left: 50%; color:#333; background:#fff; border:4px solid #ccc; }
.modalMini { margin-left: -26px; width: 52px; }
.modalSmall { margin-left: -200px; width: 400px;}
.modalMedium { margin-left: -300px; width: 600px; }
.modalLarge { margin-left: -400px; width: 800px;position:absolute;}
.modalClose { background:url(../images/icon-close-small.png) no-repeat; width:34px; height:34px; display:inline; z-index:3200; position:absolute; right:0; top: 0;cursor:pointer; border-left :1px solid #ccc; text-indent: 9999px; overflow: hidden;}
.modelHead{ width: 100%; border-bottom: 1px solid #ccc; position:absolute;}
.modelHead h6{ float: left; display: block; padding: 7px 14px 6px 14px; font-size: 15px; font-weight: bold;  }
.modalContainer{ padding: 18px; margin-top: 30px; }
.modalContainerFix50{ padding: 10px 10px 4px 10px; }
.modalContainer h3{ margin-bottom: 5px;}
.modalContainer .modalController{ margin-top: 20px; text-align:center;}
.modalContainer ul, .modalContainer ol { padding-left: 26px; margin: 15px 0;}
.modalScroll {height: 400px; overflow-y: scroll;}

/* # Scroll to top
================================================== */

#toTop{z-index:999999;display:none;text-decoration:none;position:fixed;bottom:10px;right:10px;overflow:hidden;width:45px;height:45px;border:none;text-indent:100%;background:url(../images/ui.totop.png) no-repeat left top;}
#toTopHover {background:url(../images/ui.totop.png) no-repeat left -45px;width:45px;height:45px;display:block;overflow:hidden;float:left;opacity: 0;-moz-opacity: 0; filter:alpha(opacity=0); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
#toTop:active, #toTop:focus {outline:none;}
